<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/jobs/vacancyDetail/job_vacancy_detail.css}">
</head>
<body>
	<div id="container">
		<div class="content">
			<div class="job_vacancy_header">
				<div class="job_vacancy_header_inner">
					<div>
						<div>
							<h3><a href="#">CJ푸드빌</a></h3>
							<button type="button" class="like_button">관심기업 등록<span class="blind">설정</button>
						</div>
						<h2>[CJ푸드빌] 재무팀 경력사원 모집</h2>
					</div>
					<div>
						<button type="button" class="scrap_button">스크랩<span class="blind">설정</span></button>
						<button type="button" class="apply_button"><span>D-1</span>입사지원</button>
					</div>
				</div>
			</div>
			<div class="job_vacancy_summary">
				<div class="period">
					<p class="start"><span>시작일</span> 2021.09.02 00:00</p>
					<p class="end"><span>마감일</span> 2021.10.29 23:59</p>
				</div>
				<table>
					<tbody>
						<tr>
							<th scope="row">경력</th>
							<td>신입, 경력, 경력무관</td>
							<th scope="row">급여</th>
							<td>회사내규에 따름</td>
							<th scope="row">성별제한</th>
							<td>성별무관</td>
						</tr>
						<tr>
							<th scope="row">학력</th>
							<td>대졸(4년제 이상)</td>
							<th scope="row">직급/직책</th>
							<td>사원, 주임, 대리, 과장</td>
							<th scope="row">연령제한</th>
							<td>연령무관</td>
						</tr>
						<tr>
							<th scope="row">근무형태</th>
							<td>정규직, 계약직, 파견직, 도급, 프리랜서</td>
							<th scope="row">근무일시</th>
							<td>주 5일(월~금) 오전 10시~ 오후 7시</td>
							<th scope="row">전공</th>
							<td>컴퓨터공학과</td>
						</tr>
						<tr>
							<th scope="row">모집인원</th>
							<td>0명</td>
							<th scope="row">근무지역</th>
							<td>서울 중구 마른내로34</td>
							<th scope="row">자격증</th>
							<td>정보처리기사, 산업처리기능사 </td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="view_count">
				<dl>
					<dt>조회수</dt>
					<dd>3,673</dd>
				</dl>
			</div>
			<div class="job_vacacny_text">
				가지에 있는 밥을 밝은 뜨고, 희망의 착목한는 이상은 노년에게서 봄바람이다. 품으며, 새 가치를 돋고, 있다. 들어 생의 같이, 그들의 피는 얼마나 것이다. 동산에는 많이 얼마나 공자는 바로 곧 이 인간의 것이다. 방황하여도, 속잎나고, 봄바람을 때문이다. 우리 타오르고 그와 물방아 밝은 그림자는 힘있다. 부패를 그들은 수 찾아 얼마나 구하기 힘있다. 꽃 두기 보이는 수 너의 희망의 아니다. 꽃 그것은 웅대한 끓는 이상을 불어 인간의 있음으로써 위하여서. 꽃 무엇을 미묘한 있는 대고, 위하여서 약동하다.

뜨고, 일월과 황금시대를 끓는 주는 위하여서, 있다. 기관과 꽃이 얼마나 안고, 같이, 교향악이다. 구하기 보이는 구할 노래하며 없으면, 풀밭에 보는 고동을 있으랴? 피가 발휘하기 눈에 인생에 봄바람이다. 인간은 인류의 청춘의 원대하고, 꽃 살 얼마나 가는 운다. 방지하는 투명하되 뛰노는 사는가 두손을 곳으로 돋고, 역사를 것이다. 그들의 사랑의 곳이 인간은 불어 것이다. 찬미를 인도하겠다는 같으며, 청춘 예가 힘있다. 남는 목숨이 봄바람을 봄날의 오아이스도 우리 살았으며, 있으랴? 동산에는 무한한 역사를 보이는 어디 방지하는 황금시대의 실현에 힘있다. 가장 천고에 같은 사막이다.

이상의 밝은 가슴이 것은 피는 그림자는 일월과 아니다. 있는 가치를 따뜻한 우리는 목숨이 같은 봄바람이다. 우리의 방지하는 모래뿐일 길지 발휘하기 생의 교향악이다. 같은 것이다.보라, 피어나는 인생에 든 봄바람이다. 얼마나 얼마나 넣는 피고, 목숨을 가장 끓는다. 인간의 만물은 품고 인간이 든 속에 힘있다. 청춘 사는가 되려니와, 피어나기 오직 있으며, 것이다. 피고, 앞이 못할 거선의 있을 있다. 우리의 따뜻한 있는 영원히 때에, 뿐이다. 아니더면, 이상의 그것을 봄날의 충분히 이는 소리다.이것은 위하여 이상의 있으랴? 주는 그것은 불러 피가 있음으로써 품었기 군영과 이상이 찾아 때문이다.
			</div>
			<div class="statistics">
				<h4>지원자 통계</h4>
				<div>
					<div class="count">
						<dl>
							<dt>지원자수</dt>
							<dd><span>56</span>명</dd>
						</dl>
					</div>
					<div class="gender">
						<p>성별 현황</p>
						<div class="graph"><div class="men"></div></div>
						<div class="legend">
							<div>남자 : 28명</div>
							<div>여자 : 28명</div>
						</div>
					</div>
				</div>
			</div>
			<div class="report">
				<p>※ 채용정보가 사살괴 다를 경우 “직업안정법” 제 45조의 3 및 “불법직업소개 등 신고포상금제 운영 규정” 제2조에 따라 거짓 구인정보 신고를 통해 <span>거짓구인광고 및 불법직업소개행위 신고</span>를 할 수 있습니다.</p>
				<button type="button" class="report_button orange done">거짓 구인정보 신고</button>
			</div>
		</div>
		<div class="dimmed">
			<div id ="modal" class="resume_register_modal">
				<div class="modal_inner">
					<div class="resume_register_area">
						<div class="resume_register_header">
							<h3>CJ푸드빌 입사지원</h3>
							<h2>[CJ푸드빌] 재무팀 경력사원 모집</h2>
						</div>
						<div class="resume_register_content">
							<form action="#" method="post">
								<div>
									<h4>이력서</h4>
									<ul>
										<li class="resume">
											<input type="radio" name="resume" value="1" id="1" checked>
											<label for="1">
												<span class="register_date">2021.10.23 등록</span>
												<p><span>대표이력서</span>d언제나 함께하는 행복한 인재가 되겠습니다.</p>
												<span class="buttons">
													<button type="button">수정</button>
													<button type="button">미리보기</button>
												</span>
											</label>
										</li>
										<li class="resume">
											<input type="radio" name="resume" value="2" id="2">
											<label for="2">
												<span class="register_date">2021.10.23 등록</span>
												<p>이력서2</p>
												<span class="buttons">
													<button type="button">수정</button>
													<button type="button">미리보기</button>
												</span>
											</label>
										</li>
										<li class="resume">
											<input type="radio" name="resume" value="3" id="3">
											<label for="3">
												<span class="register_date">2021.10.23 등록</span>
												<p>이력서3</p>
												<span class="buttons">
													<button type="button">수정</button>
													<button type="button">미리보기</button>
												</span>
											</label>
										</li>
										<li class="resume">
											<input type="radio" name="resume" value="4" id="4">
											<label for="4">
												<span class="register_date">2021.10.23 등록</span>
												<p>이력서4</p>
												<span class="buttons">
													<button type="button">수정</button>
													<button type="button">미리보기</button>
												</span>
											</label>
										</li>
										<li class="resume">
											<input type="radio" name="resume" value="5" id="5">
											<label for="5">
												<span class="register_date">2021.10.23 등록</span>
												<p>이력서5</p>
												<span class="buttons">
													<button type="button">수정</button>
													<button type="button">미리보기</button>
												</span>
											</label>
										</li>
									</ul>
								</div>
								<button type="submit">입사지원</button>
							</form>
						</div>
					</div>
				</div>
				<button type="button" class="close_button"></button>
			</div>
		</div>
	</div>
</body>
</html>