<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>에러페이지</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/company/mypage/errorPage.css}">
</head>
<body>
    <div id="wrap">
        <div id="container">
            <div class="Info_area">
                <div class="error_area">
                    <h2>[[${ message }]]</h2>
                    <div class="error_img">
                        <img th:src="@{/images/companyMyPage/error.png}" alt="에러이미지">
                    </div>
                    <a class="SizeM orange" th:href="@{#}">홈으로 가기</a>
                    <a class="SizeM green" th:href="@{javascript:history.go(-1)}">이전페이지로 가기</a>
                </div>
            </div>
        </div>
    </div>            
</body>
</html>