<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/common/footer.css}">


</head>
<footer>
<div id="footer" class="area_foot">
    <div class="fcontainer border_test">
        <div class="fcontent border_test_r">
            <div class="footer">
                <div class="fleft">
                    <a href="#"><img src="../../static/images/common/flogo.png" alt="flogo" class="flogo"></a>
                </div>
                <div class="fright">
                    <div class="fcontent border_test">
                        <p>Work people</p>
                        <ul>
                            <li>주소 : 서울 강남구 테헤란로 10길 9 그랑프리빌딩 7층 L</li>
                            <li>대표 : 우별림</li>
                            <li>팩스 : 070-0000-0000 이메일 : khkh1210@workpp.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>


</html>