<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>up</title>
   	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/common/up.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body style="height:3000px">
    <a id="MOVE_TOP_BTN" href="#"><img id="topBtn" src="../../static/images/common/up.png" width="90" height="80" href="#"></a>


    
    <script>
        $(function() {
            $(window).scroll(function() {
                if ($(this).scrollTop() > 500) {
                    $('#MOVE_TOP_BTN').fadeIn();
                } else {
                    $('#MOVE_TOP_BTN').fadeOut();
                }
            });
            
            $("#MOVE_TOP_BTN").click(function() {
                $('html, body').animate({
                    scrollTop : 0
                }, 400);
                return false;
            });
        });
    </script>
    

</body>


</html>