<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 주변 공고</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/main/map/map-job-list.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=510967f5d1aaa678fb7954c8eb0a5ad0"></script>
</head>

<body>
    <div class="container border_test">
        <div class="content border_test">
            <div class="local_wrap border_test_r">
                <h1>내 주변 공고별</h1>
                <div class="wrap">
                    <div class="top">
                        <div id="locationLayer" class="column now-location">
                            <span class="txt" id="now-locationTxt"><img
                                    src="../../../resources/static/images/mapjoblist/location.png">서울 용산구</span>
                            <a href=""  class="button small round position btn-open-layer down">위치수정</a>
                            <div class="wrap">
                                <div class="surround-list">
                                    <div class="scroll-wrap col-2">
                                        <!-- <ul id="regionSubDiv">
                                            <li class="on">
                                                <button type="button" class="btn" onclick="f_checkRegion('1','서울 강남구')";>서울 강남구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('2','서울 강동구')";>서울 강동구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('3','서울 강북구')";>서울 강북구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('4','서울 강서구')";>서울 강서구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('5','서울 관악구')";>서울 관악구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('6','서울 광진구')";>서울 광진구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('7','서울 구로구')";>서울 구로구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('8','서울 금천구')";>서울 금천구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('9','서울 노원구')";>서울 노원구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('10','서울 도봉구')";>서울 도봉구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('11','서울 동대문구')";>서울 동대문구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('12','서울 동작구')";>서울 동작구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('13','서울 마포구')";>서울 마포구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('14','서울 서대문구')";>서울 서대문구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('15','서울 서초구')";>서울 서초구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('16','서울 성동구')";>서울 성동구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('17','서울 성북구')";>서울 성북구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('18','서울 송파구')";>서울 송파구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('19','서울 양천구')";>서울 양천구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('20','서울 영등포구')";>서울 영등포구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('21','서울 용산구')";>서울 용산구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('22','서울 은평구')";>서울 은평구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('23','서울 종로구')";>서울 종로구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('24','서울 중구')";>서울 중구</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn" onclick="f_checkRegion('25','서울 중랑구')";>서울 중랑구</button>
                                            </li>
                                        </ul> -->
                                       
                                        <div class="counting">
                                            내 주변 채용공고 검색건수 <em>23</em>건
                                        </div>
                                        <div class="list-sorting"></div>
                                        <div id="arroundList" class="list">
                                            <ul>
                                                <li>
                                                    <div id="" class="list_item border_test_r">
                                                        <div id="" class="corp">
                                                            <span><a href="#">LG</a></span>
                                                        </div>

                                                        <div id="" class="tit">
                                                            <span><a href="#">LG 백엔드 개발자 채용공고</a></span>
                                                        </div>

                                                        <div id="" class="sname">
                                                            <span>IT개발·데이터</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <div id="" class="list_item border_test_r">
                                                        <div id="" class="corp">
                                                            <span><a href="#">LG</a></span>
                                                        </div>

                                                        <div id="" class="tit">
                                                            <span><a href="#">LG 백엔드 개발자 채용공고</a></span>
                                                        </div>

                                                        <div id="" class="sname">
                                                            <span>IT개발·데이터</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <div id="" class="list_item border_test_r">
                                                        <div id="" class="corp">
                                                            <span><a href="#">LG</a></span>
                                                        </div>

                                                        <div id="" class="tit">
                                                            <span><a href="#">LG 백엔드 개발자 채용공고</a></span>
                                                        </div>

                                                        <div id="" class="sname">
                                                            <span>IT개발·데이터</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <div id="" class="list_item border_test_r">
                                                        <div id="" class="corp">
                                                            <span><a href="#">LG</a></span>
                                                        </div>

                                                        <div id="" class="tit">
                                                            <span><a href="#">LG 백엔드 개발자 채용공고</a></span>
                                                        </div>

                                                        <div id="" class="sname">
                                                            <span>IT개발·데이터</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <div id="" class="list_item border_test_r">
                                                        <div id="" class="corp">
                                                            <span><a href="#">LG</a></span>
                                                        </div>

                                                        <div id="" class="tit">
                                                            <span><a href="#">LG 백엔드 개발자 채용공고</a></span>
                                                        </div>

                                                        <div id="" class="sname">
                                                            <span>IT개발·데이터</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="paging_wrap">
                                        <a href="javascript:;" class="btn_prev"></a>
                                        <a href="javascript:;" class="btn_num on">1</a>
                                        <a href="javascript:;" class="btn_num">2</a>
                                        <a href="javascript:;" class="btn_num">3</a>
                                        <a href="javascript:;" class="btn_num">4</a>
                                        <a href="javascript:;" class="btn_num">5</a>
                                        <a href="javascript:;" class="btn_next"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 맵 -->
                    <div id="map" style="width: 620px;height: 555px;position: relative;left: 200px;bottom: 4px;">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        // 지도 중심 좌표 변화 이벤트를 등록한다
		kakao.maps.event.addListener(map, 'center_changed', function () {
			console.log('지도의 중심 좌표는 ' + map.getCenter().toString() +' 입니다.');
		});

     	// 지도에 확대 축소 컨트롤을 생성한다
		var zoomControl = new kakao.maps.ZoomControl();

        // 지도의 우측에 확대 축소 컨트롤을 추가한다
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

		// 지도에 마커를 생성하고 표시한다
		var marker = new kakao.maps.Marker({
		    position: new kakao.maps.LatLng(37.57613, 126.98370), // 마커의 좌표
		    map: map // 마커를 표시할 지도 객체
		});

		// 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
		kakao.maps.event.addListener(marker, 'click', function() {
		    alert('마커를 클릭했습니다!');
		});

        $(".lg_tag").click(function (e) {
            let obj = $(e.target);
            obj.toggleClass("on");
        });

        
    </script>
</body>

</html>