<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.workPeople.personal.mypage.report.model.dao.ReportMapper">
	<insert id="insertReportVacancy" parameterType="hashmap">
		INSERT INTO REPORT_VACANCY
		(
		    RV_NO
		  , M_NO
		  , JV_NO
		)
		VALUES
		(
		    SEQ_REPORT_VACANCY_NO.NEXTVAL
		  , #{userNo}
		  , #{jobVacancyNo}
		)
	</insert>
</mapper>