<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>main</title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/main/main.css}">
<!-- 스와이퍼 -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>
<div th:include="common/header.html"></div>
<body>
	<div class="main_container border_test">
		<div class="count_container border_test_r">
			<div class="count_content border_test_r">
				<p class="count_content_text">어떤 채용 공고를 찾으시나요?</p>
				<div class="count_wrap border_test">
					<div class="ci">
						<div class="ci_l">
							<span class="png"><img
								th:src="@{/images/main/m1.png}"></span>
						</div>
						<div class="ci_r">
							<span class="num"></span> <span class="text">등록된 기업</span>
						</div>
					</div>

					<div class="jv">
						<div class="jv_l">
							<span class="png"><img
								th:src="@{/images/main/m2.png}"></span>
						</div>
						<div class="jv_r">
							<span class="num"></span> <span class="text">등록된 공고</span>
						</div>
					</div>

					<div class="sk">
						<div class="sk_l">
							<span class="png"><img
								th:src="@{/images/main/m3.png}"></span>
						</div>
						<div class="sk_r">
							<span class="num"></span> <span class="text">등록된 구직자</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cilist_content border_test">
			<div class="pl_content">
				<div class="sw">
					<p class="ci_grade">플레티넘</p>
					<div id="banner_list" class="banner_list">
						<ul class="list_product">
							<div class="swiper mySwiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>

										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
									</div>
									<div class="swiper-slide">
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>

										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>

										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
									</div>
									<div class="swiper-slide">
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>

										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>

										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
									</div>
									<div class="swiper-slide">
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>

										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>

										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
									</div>
									<div class="swiper-slide">
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> <span class="logo"
												name=""> <img src="../../static/images/main/ci1.png">
											</span> <span class="corp" name=""> 기아(주) </span> <strong
												class="tit" name="">2021년 신입 및 경력사원 채용</strong>
										</a></li>
										<li class="item"><a href=""> </a></li>
										<li class="item"><a href=""> </a></li>

										<li class="item"><a href=""> </a></li>
										<li class="item"><a href=""> </a></li>
										<li class="item"><a href=""> </a></li>
										<li class="item"><a href=""> </a></li>

										<li class="item"><a href=""> </a></li>
										<li class="item"><a href=""> </a></li>
										<li class="item"><a href=""> </a></li>
										<li class="item"><a href=""> </a></li>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</ul>
					</div>
				</div>
			</div>



			<div class="bs_content">
				<p class="ci_grade2">베이직</p>
				<div id="banner_list2" class="banner_list2">
					<ul class="list_product2">
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>

									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>

									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
								</div>
								<div class="swiper-slide">
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
									<li class="item2"><a href=""> <span class="logo"
											name=""> <img src="../../static/images/main/ci2.png">
										</span> <span class="corp" name=""> 틱톡 </span> <strong class="tit"
											name="">각 부문별 인턴 및 전문가 채용</strong>
									</a></li>
								</div>
								<div class="swiper-slide">
									<li class="item2"><a href=""></a></li>
									<li class="item2"></a></li>
									<li class="item2"></a></li>
									<li class="item2"><a href=""> </a></li>
									<li class="item2"><a href=""> </a></li>

									<li class="item2"><a href=""> </a></li>
									<li class="item2"><a href=""> </a></li>
									<li class="item2"><a href=""> </a></li>

									<li class="item2"><a href=""> </a></li>
									<li class="item2"><a href=""> </a></li>
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<th:block sec:authorize= "hasRole('COMPANY')">
		<input type="hidden" id="yn" th:value="${#authentication.principal.companyStatusYN}">
		<div th:include="company/mypage/accountSuspension.html"></div> 
		</th:block>
		<div th:include="common/up.html"></div> 
		<div th:include="common/footer.html"></div>
	</div>
</body>



<script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          spaceBetween: 30,
          loop: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
          }
        });


        $(function() {
  var count0 = count1 = count2 = 0;

  timeCounter();

  function timeCounter() {

    id0 = setInterval(count0Fn, 12.738853);

    function count0Fn() {
      count0++;
      if (count0 > 500) {
        clearInterval(id0);
      } else {
        $(".num").eq(0).text(count0);
      }

    }

    id1 = setInterval(count1Fn, 10.13171226);

    function count1Fn() {
      count1++;
      if (count1 > 333) {
        clearInterval(id1);
      } else {
        $(".num").eq(1).text(count1);
      }
    }

    id2 = setInterval(count2Fn, 28.57142857);

    function count2Fn() {
      count2++;
      if (count2 > 23) {
        clearInterval(id2);
      } else {
        $(".num").eq(2).text(count2);
      }
    }
  }
});
      </script>

</html>