<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.workPeople.company.mypage.promotion.dao.PromotionMapper">
	<resultMap type="com.kh.workPeople.common.vo.PromotionOrder" id="orderResultMap">
		<id property="pno" column="P_NO"/>
		<result property="pstartDate" column="P_START_DATE"/>
		<result property="pendDate" column="P_END_DATE"/>
		<result property="jvno" column="JV_NO"/>
		<result property="mno" column="M_NO"/>
		<result property="day" column="DAY"/>
		<association property="pCode" resultMap="pCode]ResultMap"/>
		<association property="payment" resultMap="paymentResultMap"/>
		<association property="jobVacancyLookUp" resultMap="JobVacancyResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.PromotionCode" id="pCode]ResultMap">
		<id property="pcode" column="P_CODE"/>
		<result property="pname" column="P_NAME"/>
		<result property="pprice" column="P_PRICE"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Payment" id="paymentResultMap">
		<id property="payno" column="PAY_NO"/>
		<result property="pno" column="P_NO"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="payPrice" column="PAY_PRICE"/>
		<result property="payMethod" column="PAY_METHOD"/>
		<result property="payDetail" column="PAY_DETAIL"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.JobVacancyLookUp" id="JobVacancyResultMap">
		<id property="jvNo" column="JV_NO"/>
		<result property="jvTitle" column="JV_TITLE"/>
		<result property="jvPeriodEnd" column="JV_PERIOD_END"/>
	</resultMap>
	
	<select id="getListCount" resultType="int">
		SELECT COUNT(*)
		  FROM PROMOTION_ORDER
		  WHERE M_NO = #{userNo}
	</select>
	
	<select id="selectList" resultMap="orderResultMap" parameterType="Map">
		SELECT
		      *
		FROM(SELECT ROWNUM RNUM
				  , NLIST.*
		    FROM(SELECT
                    *
		        FROM PROMOTION_CODE C
                LEFT JOIN PROMOTION_ORDER O ON(C.P_CODE = O.P_CODE)
                LEFT JOIN PAYMENT P ON(O.P_NO = P.P_NO)
                WHERE O.M_NO = #{userNo}
                ORDER BY O.P_NO DESC) NLIST)
            WHERE RNUM BETWEEN (#{pi.page}-1)*(#{pi.boardLimit})+1 AND ((#{pi.page}-1)*(#{pi.boardLimit})+1)+(#{pi.boardLimit}-1)

	</select>

	<select id="getUsingCount" resultType="int">
		SELECT COUNT(*)
		  FROM PROMOTION_ORDER
		 WHERE TO_CHAR(P_END_DATE, 'YYMMDD') >= TO_CHAR(SYSDATE, 'YYMMDD')
           AND M_NO = #{userNo}
	</select>

	<select id="getCompleteCount" resultType="int">
		SELECT COUNT(*)
		  FROM PROMOTION_ORDER
		 WHERE TO_CHAR(SYSDATE, 'YYMMDD') > TO_CHAR(P_END_DATE, 'YYMMDD')
           AND M_NO = #{userNo}
	</select>
	
	<select id="selectcino" resultType="int">
		SELECT CI_NO
		  FROM COMPANY_INFO
          WHERE M_NO = #{userNo}
	</select>
	
	<select id="selectAllJob" resultMap="JobVacancyResultMap" >
		 SELECT 
                 JV_NO
                , JV_TITLE
                , JV_PERIOD_END
		  FROM JOB_VACANCY
          WHERE CI_NO = #{cino}
            AND JV_PERIOD_END >= SYSDATE
	</select>
	
	<insert id="insertOdert" parameterType="Map">
		INSERT INTO PROMOTION_ORDER
		(
		   P_NO
		 , P_CODE
		 , P_START_DATE
		 , P_END_DATE
		 , JV_NO
		 , M_NO
		)
		VALUES
		(
		   SEQ_PROMOTION_ORDER_NO.NEXTVAL
		 , #{orderNo}
		 , #{newStartDate}
		 , #{endDate}
		 , #{jvNo}
		 , #{userNo}
		)
	</insert> 
	
	<insert id="insertPayment" parameterType="Map">
		INSERT INTO PAYMENT
		(
		    PAY_NO
		  , P_NO
		  , PAY_DATE
		  , PAY_PRICE
		  , PAY_METHOD
		  , PAY_DETAIL
		)
		VALUES
		(
		   SEQ_PAYMENT_NO.NEXTVAL
		 , SEQ_PROMOTION_ORDER_NO.CURRVAL
		 , SYSDATE
		 , #{amount}
		 , '카드결제'
		 , #{imp}
		)
	</insert> 
	
	<select id="selectOrder" resultMap="orderResultMap">
		 SELECT
                      C.P_NAME
                    , C.P_PRICE
                    , O.P_NO
                    , O.P_START_DATE
                    , O.P_END_DATE
                    , O.M_NO
                    , O.JV_NO
                    , P.PAY_DATE
                    , P.PAY_PRICE
                    , P.PAY_METHOD
                    , P.PAY_DETAIL
                    , TO_DATE(P_END_DATE, 'YYYY-MM-DD') - TO_DATE(P_START_DATE, 'YYYY-MM-DD') AS DAY
                    , J.JV_TITLE
                    , J.JV_PERIOD_END
		        FROM PROMOTION_CODE C
                LEFT JOIN PROMOTION_ORDER O ON(C.P_CODE = O.P_CODE)
                LEFT JOIN PAYMENT P ON(O.P_NO = P.P_NO)
                LEFT JOIN JOB_VACANCY J ON(O.JV_NO = J.JV_NO)
                WHERE O.P_NO = #{pno}

	</select>
	


</mapper>