<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>workPeople</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/account/join/join.css}">
</head>
<body>
	<div id="container">
		<div class="content">
			<h2>비밀번호 변경</h2>
			<div>
				<form action="" method="post">
					<div class="join_row">
						<p><label for="user_pwd"><strong>*</strong> 비밀번호</label></p>
						<span><input type="password" id="user_pwd" name="user_pwd" maxlength="16"></span>
						<p class="notice check_notice">비밀번호는 8~16자리 영문 대소문자, 숫자, 특수문자로 이루어져야 합니다.</p>
					</div>
					<div class="join_row">
						<p><label for="user_check_pwd"><strong>*</strong> 비밀번호 확인</label></p>
						<span><input type="password" id="user_check_pwd" maxlength="16"></span>
						<p class="notice check_notice">비밀번호가 일치하지 않습니다.</p>
					</div>
					<button type="button" class="green confirm_button">확인</button>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/js/common/joinValidate.js}"></script>
	<script th:src="@{/js/account/join/join.js}"></script>
</body>
</html>