<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/account/join/join.css}">
</head>
<body>
	<div id="container">
		<div class="content">
			<h2>회원가입</h2>
			<div>
				<ul class="type_change_tab">
					<li><a th:href="@{/account/join/personal-join}">개인회원</a></li>
					<li class="active"><a th:href="@{/account/join/company-join}">기업회원</a></li>
				</ul>
				<form action="" method="post">
					<input type="hidden" name="member_type" value="2">
					<div class="join_row">
						<p><label for="register_number"><strong>*</strong> 사업자 등록번호</label></p>
						<div class="check_input">
							<span><input type="text" id="register_number" name="register_number"></span>
							<button type="button" class="register_number_check_button check_button">중복 확인</button>
						</div>
						<p class="notice">중복 확인이 필요합니다.</p>
						<p class="notice check_notice">올바른 사업자번호가 아닙니다.</p>
					</div>
					<div class="join_row">
						<p><label for="user_id"><strong>*</strong> 아이디</label></p>
						<div class="check_input">
							<span><input type="text" id="user_id" name="user_id"></span>
							<button type="button" class="id_check_button check_button">중복 확인</button>
						</div>
						<p class="notice">중복확인이 필요합니다.</p>
						<p class="notice check_notice">아이디는 4~20자의 영문, 숫자와 특수문자(_)로 이루어져야 합니다.</p>
					</div>
					<div class="join_row">
						<p><label for="user_pwd"><strong>*</strong> 비밀번호</label></p>
						<span><input type="password" id="user_pwd" name="user_pwd" maxlength="16"></span>
						<p class="notice check_notice">비밀번호는 8~16자리 영문 대소문자, 숫자, 특수문자로 이루어져야 합니다.</p>
					</div>
					<div class="join_row">
						<p><label for="user_check_pwd"><strong>*</strong> 비밀번호 확인</label></p>
						<span><input type="password" id="user_check_pwd" maxlength="16"></span>
						<p class="notice check_notice">비밀번호가 일치하지 않습니다.</p>
					</div>
					<div class="join_row">
						<p><label for="user_name"><strong>*</strong> 기업명</label></p>
						<span><input type="text" id="user_name" name="user_name" maxlength="5"></span>
						<p class="notice check_notice">필수 정보입니다.</p>
					</div>
					<div class="join_row">
						<p><label for="user_name"><strong>*</strong> 기업 형태</label></p>
						<select id="company_type" name="company_type">
							<option value="default">기업 형태 선택</option>
							<option value="1">대기업</option>
							<option value="2">공사/공기업</option>
							<option value="3">중견기업</option>
							<option value="4">중소기업</option>
							<option value="5">스타트업</option>
							<option value="6">외국계기업</option>
						</select>
						<p class="notice check_notice">필수 정보입니다.</p>
					</div>
					<div class="join_row">
						<p><label for="user_name"><strong>*</strong> 업종</label></p>
						<select id="sector" name="sector">
							<option value="default">업종 선택</option>
							<option value="1">서비스업</option>
							<option value="2">의료·제약·복지</option>
							<option value="3">판매·유통</option>
							<option value="4">IT·웹·통신</option>
							<option value="5">건설업</option>
							<option value="6">교육업</option>
							<option value="7">미디어·디자인</option>
							<option value="8">은행·금융업</option>
							<option value="9">기관·협회</option>
						</select>
						<p class="notice check_notice">필수 정보입니다.</p>
					</div>
					<div class="join_row">
						<p><label for="phone"><strong>*</strong> 휴대전화</label></p>
						<span><input type="text" id="phone" name="phone" maxlength="15"></span>
						<p class="notice check_notice">유효하지 않은 휴대전화 형식입니다.</p>
					</div>
					<div class="join_row">
						<p><label for="email"><strong>*</strong> 이메일</label></p>
						<div class="check_input">
							<span><input type="email" id="email" name="email"></span>
							<button type="button" class="send_email_button check_button">인증번호 받기</button>
						</div>
						<p class="notice">필수 정보입니다.</p>
						<p class="notice check_notice">유효하지 않은 이메일 주소입니다.</p>
					</div>
					<div class="timer join_row">
						<div class="check_input">
							<span><input type="number" id="email_check" disabled><span class="timer">02:59</span></span>
							<button type="button" class="email_check_button check_button">인증번호 확인</button>
						</div>
						<p class="notice">인증 번호 확인이 필요합니다.</p>
						<p class="notice check_notice no_match">인증 번호가 일치하지 않습니다.</p>
						<p class="notice check_notice timeout">인증 시간이 초과하였습니다.</p>
					</div>
					<div class="join_row">
						<p><label for="postcode"><strong>*</strong> 우편번호</label></p>
						<div class="check_input">
							<span><input type="text" id="postcode" name="postcode" readonly></span>
							<button type="button" class="address_search_button check_button">검색</button>
						</div>
						<p class="notice">필수 정보입니다.</p>
					</div>
					<div class="join_row">
						<p><label for="road_address"><strong>*</strong> 도로명주소</label></p>
						<span><input type="text" id="road_address" name="road_address" readonly></span>
						<p class="notice">필수 정보입니다.</p>
					</div>
					<div class="join_row">
						<p><label for="detail_address"><strong>*</strong> 상세주소</label></p>
						<span><input type="text" id="detail_address" name="detail_address"></span>
						<p class="notice check_notice">필수 정보입니다.</p>
					</div>
					<button type="button" class="green confirm_button">가입하기</button>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/js/common/joinValidate.js}"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:src="@{/js/account/join/join.js}"></script>
</body>
</html>