<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.workPeople.personal.mypage.applyCompany.model.dao.ApplyCompanyMapper">
    <resultMap id="jobVacancy" type="com.kh.workPeople.common.vo.JobVacancyLookUp">
        <id property="jvNo" column="JV_NO"/>
        <result property="jvTitle" column="JV_TITLE"/>
        <result property="jvAddress" column="JV_ADDRESS"/>
        <result property="jvPeriodEnd" column="JV_PERIOD_END"/>
        <result property="mName" column="M_NAME"/>
        <result property="elName" column="EL_NAME"/>
        <result property="sName" column="S_NAME"/>
        <result property="acDate" column="AC_DATE"/>
        <result property="rbDate" column="RB_DATE"/>
        <result property="acDateFormat" column="AC_DATE_FORMAT"/>
        <result property="rbDateFormat" column="RB_DATE_FORMAT"/>
        <result property="jvPeriodEndFormat" column="JV_PERIOD_END_FORMAT"/>
    </resultMap>

    <resultMap id="applyCompany" type="com.kh.workPeople.common.vo.ApplyCompany">
        <id property="jvNo" column="JV_NO"/>
        <result property="rNo" column="R_NO"/>
        <result property="acType" column="AC_TYPE"/>
        <result property="acDate" column="AC_DATE"/>
        <result property="acDeleteYN" column="AC_DELETEYN"/>
        <result property="acDateFormat" column="AC_DATEFORMAT"/>
    </resultMap>

    <select id="jobVacancyLookUpList" resultMap="jobVacancy">
        SELECT
            DISTINCT
            JV_NO
                   , JV_TITLE
                   , JV_ADDRESS
                   , M_NAME
                   , EL_NAME
                   , S_NAME
                   , AC_DATE
                   , RB_DATE
                   , TO_CHAR(TO_DATE(AC_DATE,'YYYY.MM.dd')) AC_DATE_FORMAT
                   , TO_CHAR(TO_DATE(RB_DATE,'YYYY.MM.dd')) RB_DATE_FORMAT
        FROM JOB_VACANCY JV
                 JOIN COMPANY_INFO USING(CI_NO)
                 JOIN MEMBER M USING(M_NO)
                 JOIN JOB_VACANCY_EXPERIENCE_LEVEL JVEL USING(JV_NO)
                 JOIN EXPERIENCE_LEVEL EL ON(JVEL.EL_NO=EL.EL_NO)
                 JOIN RECRUITMENT_INDUSTRY RI USING(JV_NO)
                 JOIN SECTOR S ON(RI.S_NO=S.S_NO)
                 LEFT JOIN APPLY_COMPANY USING (JV_NO)
                 LEFT OUTER JOIN RESUME_BROWSE RB USING (CI_NO)
                 LEFT OUTER JOIN RESUME R ON (R.R_NO = RB.R_NO)
        WHERE R.M_NO = #{ no }
ORDER BY 1 DESC
    </select>



<!--    <select id="jobVacancyLookUpListPagingQuery" resultType="com.kh.workPeople.common.vo.PageInfo" resultMap="jobVacancy">-->



<!--    </select>-->



    <select id="applyCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM APPLY_COMPANY
        JOIN RESUME USING(R_NO)
        WHERE M_NO=#{no}
          AND AC_TYPE = 'apply'
    </select>

    <select id="passCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM APPLY_COMPANY
                 JOIN RESUME USING(R_NO)
        WHERE M_NO=#{no}
          AND AC_TYPE = 'pass'
    </select>

    <select id="interviewCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM APPLY_COMPANY
                 JOIN RESUME USING(R_NO)
        WHERE M_NO=#{no}
          AND AC_TYPE = 'interview'
    </select>

    <select id="passAllCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM APPLY_COMPANY
                 JOIN RESUME USING(R_NO)
        WHERE M_NO=#{no}
          AND AC_TYPE = 'passAll'
    </select>

    <select id="failureCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM APPLY_COMPANY
                 JOIN RESUME USING(R_NO)
        WHERE M_NO=#{no}
          AND AC_TYPE = 'failure'
    </select>

    <insert id="applyCompany" parameterType="com.kh.workPeople.common.vo.ApplyCompany">
        INSERT INTO APPLY_COMPANY
        (
            JV_NO,
            R_NO,
            AC_TYPE,
            AC_DATE,
            AC_DELETEYN
        )
        VALUES
            (
                #{applyBtnNo},
                #{rNo},
                'apply',
                sysdate,
                default
            )

    </insert>


</mapper>