@charset "UTF-8";

/* 공고 현황 */
.wrap .container .content_top1{box-sizing: border-box; width: 883px; height: 173px; background: #ffffff; border: 1px solid #c4c4c4; float: left;}
.wrap .container .content_top1 .jv_status{margin-top: 34px; margin-left: 44px; font-size: 13px; font-weight: 300; font-style: normal;}
.wrap .container .content_top1 .ing{margin-top: 14px; margin-left: 44px; font-size: 24px; font-weight: 500px; font-style: normal; color: #323232; float: left;}
.wrap .container .content_top1 .end{margin-top: 14px; margin-left: 152px; font-size: 24px; font-weight: 500px; font-style: normal; color: #323232; float: left;}
.wrap .container .content_top1 .jv_insert > button{margin-top: 14px; margin-left: 152px; width: 187px; height: 55px; background: #a7d676; border-radius: 10px;}
.wrap .container .content_top1 .jv_insert > button{font-size: 20px; font-weight: 500; font-style: normal; color: #323232;}

/* 고객센터 */
.wrap .container .content_top2{margin-left: 12px; box-sizing: border-box; width: 205px; height: 173px; background: #ffffff; border: 1px solid #c4c4c4; text-align: center; float: left;} 
.wrap .container .content_top2 > img{width: 90px; height: 90px; margin-top: 14px;}
.wrap .container .content_top2 > button{margin-top: 14px; width: 128px; height: 38px; background: #B1D581; border-radius: 10px;}
.wrap .container .content_top2 > button{font-size: 16px; font-weight: bold; font-style: normal; color: #ffffff;}

/* 공고 리스트 테이블 */
.wrap .container .content_bottom{padding-top: 187px; padding-bottom: 50px;}
.wrap .container .content_bottom .jv_list{box-sizing: border-box; width: 1100px; text-align: center;}
.wrap .container .content_bottom .jv_list > thead{height: 50px; background: #f8f8f8; border: 1px solid #323232;}
.wrap .container .content_bottom .jv_list > tbody{background: #ffffff;}
.wrap .container .content_bottom .jv_list > tbody > tr > td{line-height: 3; border-bottom: 1px solid #c4c4c4;}





