@charset "UTF-8";
.wrap .container .sideNav .nav > ul .insertJv > a{color: #85cabb;}
.wrap .container .content{margin-bottom: 20px;}
.wrap .container .content .content_wrap{width: 840px; margin-left: 15px;}
.wrap .container .content .content_wrap .content_title{margin-top: 25px; padding-bottom: 25px; text-align: center; font-size: 26px; border-bottom: 1px solid rgb(225, 229, 235);}
.wrap .container .content .content_wrap .content1{margin-top: 20px; text-align: center; margin-bottom: 25px;}
.wrap .container .content .content_wrap .content1 > input{width: 800px;height: 50px;}
















