<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>[[${jobVacancyInformation.companyName}]] - [[${jobVacancyInformation.jobVacancy.title}]]</title>
	<link rel="stylesheet" th:href="@{/css/jobs/vacancy-detail/job-vacancy-detail.css}">
	<link rel="stylesheet" th:href="@{/css/account/login/login_modal.css}">
</head>
<body>
    <div th:replace="common/header.html"></div>
	<div id="container">
		<div class="content">
			<div class="job_vacancy_header_wrap">
				<div class="job_vacancy_header">
					<div class="job_vacancy_header_inner">
						<div>
							<div>
								<h3><a th:href="@{/jobs/company-information/detail-view?no=} + ${jobVacancyInformation.companyNo}">[[${jobVacancyInformation.companyName}]]</a></h3>
							<th:block th:if="${#authorization.expression('isAnonymous()') or #authorization.expression('hasRole(''PERSONAL'')')}">
								<button type="button" class="like_button" th:classappend="${(#authorization.expression('isAnonymous()') ? 'login_button' : '') + (#strings.equals(jobVacancyInformation.interestedCompany, 'Y') ? 'active':'')}" th:attr="data-company-no=${jobVacancyInformation.companyNo}">관심기업 등록
									<span class="blind">
										<span th:if="${#strings.equals(jobVacancyInformation.interestedCompany, 'Y')}" th:remove="tag">해제</span>
										<span th:unless="${#strings.equals(jobVacancyInformation.interestedCompany, 'Y')}" th:remove="tag">설정</span>
									</span>
								</button>
							</th:block>
							</div>
							<h2 th:text="${jobVacancyInformation.jobVacancy.title}"></h2>
						</div>
						<div>
							<th:block th:if="${#authorization.expression('isAnonymous()') or #authorization.expression('hasRole(''PERSONAL'')')}">
								<button type="button" class="scrap_button" th:classappend="${(#authorization.expression('isAnonymous()') ? 'login_button' : '') + (#strings.equals(jobVacancyInformation.scrapJobVacancy, 'Y') ? 'active':'')}" th:attr="data-job-vacancy-no=${jobVacancyInformation.jobVacancy.no}">스크랩
									<span class="blind">
										<span th:if="${#strings.equals(jobVacancyInformation.interestedCompany, 'Y')}" th:remove="tag">해제</span>
										<span th:unless="${#strings.equals(jobVacancyInformation.interestedCompany, 'Y')}" th:remove="tag">설정</span>
									</span>
								</button>
								<th:block th:unless="${jobVacancyInformation.dDay} >= 0 and ${#strings.equals(jobVacancyInformation.appliedJobVacancy, 'Y')}">
								<button type="button" class="apply_button" th:classappend="${(jobVacancyInformation.dDay < 0 ? 'ended' : '')}">
									<span th:text="D- + ${jobVacancyInformation.dDay == 0 ? 'day' : jobVacancyInformation.dDay}"></span>
									<span th:if="${jobVacancyInformation.dDay < 0}" th:remove="tag">접수 마감</span>
									<span th:if="${jobVacancyInformation.dDay} >= 0 and not ${#strings.equals(jobVacancyInformation.appliedJobVacancy, 'Y')}" th:remove="tag">입사지원</span>
								</button>
								</th:block>
								<th:block th:if="${jobVacancyInformation.dDay} >= 0 and ${#strings.equals(jobVacancyInformation.appliedJobVacancy, 'Y')}">
								<form th:action="@{/jobs/job-vacancy/cancel-apply/}" method="POST">
									<input type="hidden" name="jvNo" th:value="${jobVacancyInformation.jobVacancy.no}">
									<button type="submit" class="applied">
										<span th:text="D- + ${jobVacancyInformation.dDay == 0 ? 'day' : jobVacancyInformation.dDay}"></span>
										지원취소
									</button>
								</form>
								</th:block>					
							</th:block>
						</div>
					</div>
				</div>
			</div>
			<div class="job_vacancy_summary">
				<div class="period">
					<p class="start"><span>시작일</span>[[${#dates.format(jobVacancyInformation.jobVacancy.peiodStart, 'yyyy.MM.dd 00:00:00')}]]</p>
					<p class="end"><span>마감일</span> [[${#dates.format(jobVacancyInformation.jobVacancy.periodEnd, 'yyyy.MM.dd 23:59:59')}]]</p>
				</div>
				<table>
					<tbody>
						<tr>
							<th scope="row">경력</th>
							<td><span th:each="experienceLevel : ${jobVacancyInformation.jobVacancy.experienceLevelList}" th:text="${experienceLevel.name} + (${experienceLevelStat.size-1 > experienceLevelStat.index} ? ', ' : '')" th:remove="tag"></span></td>
							<th scope="row">급여</th>
							<td><span th:text="${jobVacancyInformation.jobVacancy.payType.name}" th:remove="tag"></span> <span th:if="${jobVacancyInformation.jobVacancy.payType.name != '회사 내규에 따름' AND jobVacancyInformation.jobVacancy.payType.name != '면접 후 결정'}" th:text="${#numbers.formatInteger(jobVacancyInformation.jobVacancy.pay, 3, 'COMMA')}" th:remove="tag"></span></td>
							<th scope="row">성별제한</th>
							<td th:text="${jobVacancyInformation.jobVacancy.gender.name}"></td>
						</tr>
						<tr>
							<th scope="row">학력</th>
							<td th:text="${jobVacancyInformation.jobVacancy.educationLevel.name}"></td>
							<th scope="row">직급/직책</th>
							<td><span th:each="role : ${jobVacancyInformation.jobVacancy.roleList}" th:text="${role.name} + (${roleStat.size-1 > roleStat.index} ? ', ' : '')" th:remove="tag"></span></td>
							<th scope="row">연령제한</th>
							<td th:text="${jobVacancyInformation.jobVacancy.age}"></td>
						</tr>
						<tr>
							<th scope="row">근무형태</th>
							<td><span th:each="jobType : ${jobVacancyInformation.jobVacancy.jobTypeList}" th:text="${jobType.name} + (${jobTypeStat.size-1 > jobTypeStat.index} ? ', ' : '')" th:remove="tag"></span></td>
							<th scope="row">근무일시</th>
							<td><span th:text="${jobVacancyInformation.jobVacancy.day.name}" th:remove="tag"></span> <span th:text="${jobVacancyInformation.jobVacancy.workdayStartTime}" th:remove="tag"></span> ~ <span th:text="${jobVacancyInformation.jobVacancy.workdayEndTime}" th:remove="tag"></span></td>
							<th scope="row">전공</th>
							<td th:text="${jobVacancyInformation.jobVacancy.major}"></td>
						</tr>
						<tr>
							<th scope="row">모집인원</th>
							<td th:text="${jobVacancyInformation.jobVacancy.to + '명'}"></td>
							<th scope="row">근무지역</th>
							<td th:text="${jobVacancyInformation.jobVacancy.address}"></td>
							<th scope="row">자격증</th>
							<td th:text="${jobVacancyInformation.jobVacancy.certificate}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="view_count">
				<dl>
					<dt>조회수</dt>
					<dd th:text="${jobVacancyInformation.jobVacancy.count}"></dd>
				</dl>
			</div>
			<div class="job_vacacny_text" th:utext="${#strings.replace(jobVacancyInformation.jobVacancy.detailText, newLineChar, '&lt;br /&gt;')}"></div>
			<div class="statistics">
				<h4>지원자 통계</h4>
				<div>
					<div class="count">
						<dl>
							<dt>지원자수</dt>
							<dd><span th:text="${jobVacancyInformation.appliedTotalCount}"></span>명</dd>
						</dl>
					</div>
					<div class="gender">
						<p>성별 현황</p>
						<div class="graph" th:classappend="${jobVacancyInformation.appliedTotalCount == 0 ? 'no-apply' : ''}">
							<div class="men" th:style="'width:' + ${jobVacancyInformation.appliedTotalCount > 0 ? (jobVacancyInformation.appliedTotalCount == jobVacancyInformation.appliedManCount ? 800 : 800/jobVacancyInformation.appliedTotalCount*jobVacancyInformation.appliedManCount) : 0} + 'px'"></div>
						</div>
						<div class="legend">
							<div>남자 : [[${jobVacancyInformation.appliedManCount}]]명</div>
							<div>여자 : [[${jobVacancyInformation.appliedTotalCount - jobVacancyInformation.appliedManCount}]]명</div>
						</div>
					</div>
				</div>
			</div>
		<th:block th:if="${#authorization.expression('isAnonymous()') or #authorization.expression('hasRole(''PERSONAL'')')}">
			<div class="report">
				<p>※ 채용정보가 사살괴 다를 경우 “직업안정법” 제 45조의 3 및 “불법직업소개 등 신고포상금제 운영 규정” 제2조에 따라 거짓 구인정보 신고를 통해 <span>거짓구인광고 및 불법직업소개행위 신고</span>를 할 수 있습니다.</p>
				<button type="button" class="report_button orange" th:classappend="${(#authorization.expression('isAnonymous()') ? 'login_button' : '') + (#strings.equals(jobVacancyInformation.reportedJobVacancy, 'Y') ? 'done':'')}" th:attr="data-job-vacancy-no=${jobVacancyInformation.jobVacancy.no}">거짓 구인정보 신고</button>
			</div>
		</th:block>
		</div>
		<div class="dimmed">
			<div id ="modal" th:classappend="${(#authorization.expression('isAnonymous()') ? 'login_mdoal' : '') + (#authorization.expression('hasRole(''PERSONAL'')') ? 'resume_register_modal':'')}">
				<div class="modal_inner">
				<th:block sec:authorize="isAnonymous()">
					<div class="login_area">
						<h2 class="blind">개인 회원 로그인</h2>
						<p>개인회원 로그인이 필요한 서비스입니다.</p>
						<div th:replace="account/login/common-login :: common-login(loginRedirect='/jobs/vacancy-detail/detail-view?no=' + ${jobVacancyInformation.jobVacancy.no}) "></div>
					</div>
				</th:block>
				<th:block sec:authorize="hasRole('PERSONAL')">
					<div class="resume_register_area">
						<div class="resume_register_header">
							<h3 th:text="${jobVacancyInformation.companyName}"></h3>
							<h2 th:text="${jobVacancyInformation.jobVacancy.title}"></h2>
						</div>
						<div class="resume_register_content" th:classappend="${#lists.size(resumeList) == 0 ? 'empty_list' : ''}">
							<form th:action="@{/jobs/job-vacancy/apply}" method="POST">
								<input type="hidden" name="jvNo" th:value="${jobVacancyInformation.jobVacancy.no}">
								<div>
									<h4>이력서</h4>
									<div>
									<th:block th:if="${#lists.size(resumeList) != 0}">
										<ul>
											<li class="resume" th:each="resume : ${resumeList}">
												<input type="radio" name="resumeNo" th:value="${resume.no}" th:id="${resumeStat.index}" th:checked="${resumeStat.index == 0}">
												<label th:for="${resumeStat.index}">
													<span class="register_date" th:text="${#dates.format(resume.enrollDate, 'yyyy.M.d 등록')}"></span>
													<p><span th:if="${#strings.equals(resume.statusYN, 'Y')}">대표이력서</span>[[${resume.title}]]</p>
													<span class="buttons">
														<a th:href="@{personal/mypage/resumeManagement/resumeEdit/} + ${resume.no}">수정</a>
														<button type="button" class="open_resume" th:attr="data-resume-no=${resume.no}">미리보기</button>
													</span>
												</label>
											</li> 
										</ul>
									</th:block>
									<th:block th:unless="${#lists.size(resumeList) != 0}">
										<p>등록된 이력서가 없습니다.</p>
										<p>이력서를 새로 작성하시겠습니까?<a th:href="@{/personal/mypage/resumeEnroll}">작성하러 가기</a></p>
									</th:block>
									</div>
								</div>
								<button type="submit">입사지원</button>
							</form>
						</div>
					</div>
				</th:block>
				</div>
				<button type="button" class="close_button"></button>
			</div>
		</div>
	</div>
	<th:block sec:authorize= "hasRole('COMPANY')">
      <input type="hidden" id="yn" th:value="${#authentication.principal.companyStatusYN}">
      <div th:include="company/mypage/accountSuspension.html"></div> 
    </th:block>
    <div th:include="common/up.html"></div>
	<div th:replace="common/footer.html"></div>
	<script th:src="@{/js/jobs/vacancy-detail/vacancy-detail.js}"></script>
</body>
</html>