@charset "utf-8";


.content1_wrap{
    display: flex;
    margin: 20px 0px 70px 0px;

}

.personal_img{
    width: 120px;
    height: 180px;
    border: 1px solid #C4C4C4;
    margin-left: 15px;
}

#personal_img{
    width: 120px;
    height: 180px;
}

.content1_container{
    padding: 0 45px;
    line-height: 45px;
}

.content1_container2{
    display: flex;
    position: relative;
}

.content1_title{
    font-size: 24px;
    margin-right: 20px;
}

.content1_1{
    position: absolute;
    left: 120px;
    width: 345px;
}

.content1_2{
    position: absolute;
    left: 395px;
    width: 100px;
}

.content1_3{
    position: absolute;
    left: 510px;
    width: 130px;
}

.content_long{
    width: 560px;
}

.border{
    position: absolute;
    height: 20px;
    border-left: 1px solid #C4C4C4;
    margin-top: 14px;
    left: 335px;
}



.header_text{
    margin-bottom: 15px;
}

.home_content_3{
    display: flex;
    justify-content: space-between;
    padding: 15px 45px;
    background-color: #f8f8f8;
    height: 50px;
    box-sizing: border-box;
    margin-top: 15px;
    border-top: 1px solid black;
    font-size: 16px;
    position: relative;
}

.content_title_text4{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    min-height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #c4c4c4;
}





.hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.content_title_text4_1,
.content_title_text4_2,
.content_title_text4_3,
.content_title_text4_4,
.content_title_text4_5
{
    position: absolute;
}

.content_title_text4_2{
    left: 26.8%;
    width: 65px;
    text-align: center;
}

.content_title_text4_3{
    left: 43%;
    width: 170px;
    text-align: center;
}

.content_title_text4_4{
    left: 57%;
    width: 360px;
    text-align: center;
}
.content_title_text4_5{
    left:88.5%;
}

.green1{
    width: 125px;
    height: 38px;
    margin-top: 15px;
    margin-left: 680px;
    font-size: 20px;
}

.content2_wrap{
    margin-bottom: 70px;
}

.content2_title{
    font-size: 24px;
}

.content2_title_container{
    display: flex;
    position: relative;
}

.content2_1,
.border2,
.content2_2{
    font-size: 16px;
    color: #C4C4C4;
}

.content2_1{
    padding: 10px 20px 0 20px;
}

.border2{
    padding-top: 10px;
}

.content2_2{
    padding: 10px 20px 0 20px;
}

.content3{
    width: 100%;
}

.content3_title_1{
    position:absolute;
    left: 222px;
}

.content3_title_2{
    position:absolute;
    left: 445px;
}

.content3_title_3{
    position:absolute;
    left: 700px;
}

.content3_2_container{
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
}

.content3_2_1{
    left: 9.5%;
    position: absolute;
}
.content3_2_2{
    left: 42.5%;
    position: absolute;
}
.content3_2_3{
    left: 81.5%;
    position: absolute;
}

.content3_2{
    position: absolute;
    left: 25%;
}

.content3_3{
    position: absolute;
    left: 43%;
}

.content3_4{
    position: absolute;
    left: 75%;
}

.content3_3_1_container,
.content3_3_2_container{
    display: flex;
    padding: 15px;
    box-sizing: border-box;

}

.content3_3_1,
.content3_4_1{
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 82px;
    text-align: center;
}

.content3_3_2,
.content3_4_2{
    width: 100%;
    margin-left: 20px;
    margin-top: 5px;
    box-sizing: border-box;
}

.content4_2{
    left: 24.5%;
}

.content4_3{
    left: 37%;
}

.content4_4{
    left: 60.5%;
    width: 300px;
    text-align: center;
}

.content4_wrap{
    margin: 70px 0px;
}

.content5_1{
    left: 64px;
}

.content5_2{
    left: 187px;
    width: 100px;
}

.content5_3{
    left: 292px;
    width: 200px;
}
.content5_4{
    left: 490px;
    width: 200px;
}
.content5_5{
    left: 712px;
    width: 100px;
    text-align: center;
}

.content5_container{
    border: 1px solid #C4C4C4;
    border-top: 1px solid black;
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    padding: 20px;
}

.content3_wrap{
    display: flex;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

.content3_1{
    width: 180px;
    min-height: 120px;
    text-align: center;
    border-right: 1px solid #C4C4C4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.content-age{
    position: absolute;
    left: 159px;
}

.content_title_text4_1_1{
    position: absolute;
    left: 8.5%;
}

.content_title_text4_1_2{
    position: absolute;
    left: 10%;
}

.content_title_text4_5_1{
    position: absolute;
    left: 93%;
}

.content_title_text4_5_2{
    position: absolute;
    left: 94.5%;
}

#content_title_text4_5{
    left: 92.5%;
}

.content_container_flex_container{
    display: flex;
    align-items: center;
}

#content4_css1{
    padding-left: 20px;
}

#content4_css2{
    left: 38px;
}

.education_css1{
    left: 51.5%;
}

.content5_container > div > span {
    font-size: 16px;
}

.selfIntroduction_css1{
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 1.8;
}

.activitiesCss1{
    display: flex;
    flex-direction: column;
}
.activitiesCss1 > ul{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 10px;
    padding-top: 10px;
}
.activitiesCss1 > ul > li{
    display: flex;
}

.firstLi{
    display: flex;
    margin-left: 3%;
}
.activitiesCss1 > ul > li:nth-child(2){
    width: 35%;
    text-align: center;
    height: 100%;
    margin-left: 6%;
}
.activitiesCss1 > ul>li:nth-child(3){
    width: 25%;
    text-align: center;
    height: 100%;
    margin-left: -1%;
}
.activitiesCss1 > ul>li:nth-child(4){
    width: 80%;
    text-align: center;
    height: 100%;
}