@charset "utf-8";
.header_text{
    margin-bottom: 15px;
}

.home_content_3{
    display: flex;
    justify-content: space-between;
    padding: 15px 45px;
    background-color: #f8f8f8;
    height: 50px;
    box-sizing: border-box;
    margin-top: 15px;
    border-top: 1px solid black;
    font-size: 16px;
    position: relative;
}

.home_content_3_1{
    position: absolute;
    left: 63px;
}
.home_content_3_2{
    position: absolute;
    left: 344px;
}

.home_content_3_3{
    margin-right: 25px;
    position: absolute;
    right: 199px;
}

.home_content_3_4{
    position: absolute;
    right: 73px;
}

.content_title_text4{
    display: flex;
    justify-content: space-between;
    padding: 10px 45px;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
}

.hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.content_title_text4_1,
.content_title_text4_2,
.content_title_text4_3,
.content_title_text4_4,
.resumeChk{
    position: absolute;
}

.content_title_text4_2{
    left: 231px;
    width: 310px;
}

.content_title_text4_3{
    width: 94px;
    left: 555px;
    text-align: center;
}

.content_title_text4_4{
    left: 710px;
}

.green1{
    width: 125px;
    height: 38px;
    margin-top: 15px;
    margin-left: 680px;
    font-size: 20px;
}

.resumeChk{
    left: 20px;
    top: 13px;
}