@charset "utf-8";

a { text-decoration:none }
input{
    border: 1px solid #dcdcdc;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.wrapper {
    display: flex;
    width: 1100px;
    margin-left: calc((100% - 1100px)/2);
    margin-top: 50px;
}

aside,
section {
    background-color: white;
}

aside {
    width: 210px;
    order: 2;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    height: 399px;
    position: fixed;
    margin-left: 892px;
}

section {
    width: 870px;
    order: 1;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin-bottom: 50px;
}

#content_wrap {
    width: 840px;
    height: calc(100% - 30px);
    margin: 15px;
}

.hr{
    border-color: #e6e6e6;
    opacity: 0.5;
}

body {
    background-color: #FFFBF1;
}

.header_text{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.aside-wrap{
    margin: 20px 20px;
}

.asdie-content-wrap{
    margin: 0 15px ;
}

.aside-title{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 12px;
}

.content{
    font-size: 16px;
    line-height: 40px;
    color: #979797;
}
.content-detail-title {    
	width: 760px;
    height: 80px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 16px;
    }
.point {
	color: red; 
}    

.content1{

}

.content2{

}

.content3{

}

.content4{

}

.content5{

}

.content6{

}

.content7{

}

.content8{

}

.content4-container{
    display: flex;
    position: relative;
}

.content5-container{
    display: flex;
    position: relative;
}

.content6-container{
    display: flex;
    position: relative;
}

.content7-container{
    display: flex;
    position: relative;
}

.content8-container{
    display: flex;
    position: relative;
}

.contentImg{
    margin-left: 15px;
    position: absolute;
    right: 0px;
    top: 11px;
}

.img1{

}

.img2{

}

.img3{

}

.img4{

}

.img5{

}


/* section css */
.content-wrap2{
    width: 760px;
    margin-left: 40px;
}

.content_title{
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
}

.content_title2{
    border-bottom: 1px solid #c4c4c4;
}

.content-resume-title{
    width: 766px;
    height: 100px;
    border: 2px solid black;
}

.content-basicInfo-wrap{
    display: flex;
}

.content-detail-container{
    display: flex;
    height: 40px;
    margin: 15px 0;
    position: relative;
}

.content-basicInfo-wrap {
    display: flex;
    box-sizing: border-box;
    padding: 0 20px;
}

.content-basicInfo-wrap1{
    width: 600px;

}

.content-basicInfo-wrap2{
    width: 160px;
}

.content-detail-name1{
    font-size: 16px;
    line-height: 40px;
}

.content-detail-needs{
    font-size: 16px;
    color: red;
    margin: 0 10px 0 3px;
    line-height: 40px;
}

.content-detail-input{
    width: 450px;
    position:absolute;
    left: 100px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.content-detail-select {
	width: 100px;
    position:absolute;
    left: 100px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
     border: 1px solid #dcdcdc;
     color: #979797;
	
}
#search {
	font-size: 12px;
    text-underline-position: under;
    text-decoration: underline;
    position: relative;
    left: 460px;
    top: 11px;
    color: dodgerblue;
	cursor: pointer;
}
.dateInput {color: #979797;}
.selectSector {
	border: 1px solid #dcdcdc;
	color: #979797;
}
.content-basicInfo-wrap2{
    box-sizing: border-box;
}

.content-basicInfo-img-container{
    width: 120px;
    height: 160px;
    border: 1px solid #dcdcdc;
    margin: 13px 0 0 30px;
}
.content-basicInfo-img-container2{
    padding-left: 40px;
    padding-top: 5px;
}
.content-basicInfo-img{
    padding: 2px 2px 0 0 ;
}

.content_basicInfo_education_container{
    display: flex;
    margin-bottom: 20px;
}

.content_basicInfo_education_type{
    width: 250px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #c4c4c4;
}

.content-detail-select-type {
	width: 100px;
    left: 100px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
     border: 1px solid #dcdcdc;
     color: #979797;
	
}
.content_title_education{

    border-bottom: none;
}

.isUnderhigh{
    font-size: 16px;
    color: #c4c4c4;
}


.content-detail-input-date-text{
    line-height: 37px;
    margin: 0 20px;
}
.content-detail-input-date {
	padding: 0 20px;
	color: #979797;
}

.paddingBottom{
    padding-bottom: 20px;
}

.credit1, .credit2{
    width: 180px;
}
.credit2{
    left: 280px;
}
.content-detail-date{
    display: flex;
    left: 100px;
    position: absolute;
    left: 100px;
    height: 40px;
}

.careerBorderBottom{
    height: 20px;
}
#educationType1:hover,
#educationType2:hover,
#educationType3:hover{
    cursor: pointer;
}

.green1{
    width: 210px;
    height: 60px;
    font-size: 20px;
    margin-left: 285px;
}

.singleFile{
    width: 180px;
    border: none;
    margin-left: -29px;
}

#careerType1:hover, #careerType2:hover{
    cursor: pointer;
}

.internTextarea{
    height: 100px;
}

.content4:hover,.content5:hover,.content6:hover,.content7:hover,.content8:hover{
    cursor: pointer;
}

#internForms
,#licenseForm
,#languageForm
,#awardsForm
,#selfIntroduceForm{
    display: none;
}

#addCareer,#addInterview,#addLicense,#addLanguage,#addAwards,#addSelfIntroduce{
    width: 170px;
    height: 40px;
    font-size: 20px;
    margin-left: 570px;
    margin-top: 10px;
}

.selfIntroduceTextarea{
    height: 150px;
}







