@charset "UTF-8";

#container {
	background-color: #FFFBF1;
	padding : 50px 0;
}

.content {
	width : 1100px;
	box-sizing: border-box;
	margin: 0 auto;
	padding : 42px 44px 100px;
	background-color: #FFF;
	border-radius: 10px;
	border: 1px solid #DCDCDC;
}

.content > .job_vacancy_header_wrap {
	width : 100%;
	height : 104px;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header {
	width : 100%;
	height : 100%;
	padding-bottom: 51px;
	box-sizing: border-box;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner {
	display: flex;
	justify-content: space-between;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:first-of-type > div {
	display: flex;
	justify-content: space-between;
	width : 179px;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:first-of-type > div > h3 {
	font-size: 18px;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:first-of-type > div > h3 > a:hover {
	text-decoration: underline;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:first-of-type > div > .like_button {
	width : 102px;
	height : 23px;
	box-sizing: border-box;
	border : 1px solid #E4E4E4;
	padding-left: 20px;
	line-height: 23px;
	font-size: 12px;
	color : #888888;
	background: url(/images/jobs/vacancyDetail/deactive_heart.png) 6px 5px no-repeat;
	background-size: 15px 13px;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:first-of-type > div > .like_button.active {
	background-image: url(/images/jobs/vacancyDetail/active_heart.png);
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:first-of-type > h2 {
	font-size: 18px;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:last-of-type > .scrap_button {
	width : 60px;
	height : 60px;
	padding : 36px 5px 5px;
	box-sizing: border-box;
	border : 1px solid #E4E4E4;
	background: url(/images/jobs/vacancyDetail/deactive_star.png) 20px 10px no-repeat;
	background-size: 19px 18px;
	font-size: 12px;
	color : #949494;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:last-of-type {
	display: flex;
	justify-content: space-between;
	width : 253px;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:last-of-type > .scrap_button.active {
	background-image: url(/images/jobs/vacancyDetail/active_star.png);
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:last-of-type > .apply_button {
	position: relative;
	width : 183px;
	height: 60px;
	background: #A7D676;
	font-size: 20px;
	color : #FFF;
	font-weight: bold;
	text-align: center;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:last-of-type > .apply_button.applied {
	background-color: #FBC78D;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:last-of-type > .apply_button.ended {
	background-color: #888;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:last-of-type > .apply_button > span {
	position: absolute;
	display: block;
	width : 41px;
	height : 23px;
	top : -12.5px;
	left : calc(50% - 20.5px);
	background-color: #FFF;
	box-sizing: border-box;
	border : 1px solid #A7D676;
	border-radius: 20px;
	font-size: 12px;
	line-height: 23px;
}

.content > .job_vacancy_header_wrap > .job_vacancy_header > .job_vacancy_header_inner > div:last-of-type > .apply_button.ended > span {
	display: none;
}

.content > .job_vacancy_header_wrap.fixed > .job_vacancy_header {
	position: fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 96px;
	background-color: #FFF;
	box-shadow: 0 0 12px 0 rgb(100 107 113 / 30%);
}

.content > .job_vacancy_header_wrap.fixed > .job_vacancy_header > .job_vacancy_header_inner {
	width : 1100px;
	margin : 20px auto 0;
	padding-bottom: 0;
}
.content > .job_vacancy_summary {
	padding : 27px 0 30px;
	box-sizing: border-box;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.content > .job_vacancy_summary > .period {
	width : 495px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.content > .job_vacancy_summary > .period > p {
	display: flex;
	justify-content: space-between;
	width : 223px;
	font-size: 15px;
	color: #888;
}

.content > .job_vacancy_summary > .period > p > span {
	display: block;
	width : 73px;
	height : 26px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid #888;
	color : #888;
	font-size: 14px;
	text-align: center;
	line-height: 26px;
}

.content > .job_vacancy_summary > .period > p.end {
	color: #85CBCC;
}

.content > .job_vacancy_summary > .period > p.end > span {
	color : #85CBCC;
	border-color: #85CBCC;
}

.content > .job_vacancy_summary > table {
	margin-top : 27px;
	font-size: 14px;
}
.content > .job_vacancy_summary > table tr {
	border-bottom : 5px solid transparent;
}

.content > .job_vacancy_summary > table tr:last-of-type {
	border-bottom: none;
}

.content > .job_vacancy_summary > table th {
	width : 80px;
	color : #888;
}

.content > .job_vacancy_summary > table td {
	width : 278px;
}

.content > .view_count::after {
	content: "";
	display: block;
	clear:both;
}

.content > .view_count > dl {
	float:right;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	width : 73px;
	margin : 12px 0 22px;
}

.content > .statistics {
	margin: 90px 0 56px;
}

.content > .statistics > h4 {
	font-size: 20px;
	margin-bottom: 14px;
}

.content > .statistics > div {
	display: flex;
	box-sizing: border-box;
	border : 1px solid #DDDDDD;
	border-top-color:  #000;
}

.content > .statistics > div > .count { 
	width : 139px;
	box-sizing: border-box;
	padding : 23px 0 18px;
	border-right: 1px solid #DDDDDD;
}

.content > .statistics > div > .count > dl { 
	margin: 0 auto;
	width : 56px;
	font-size: 15px;
	text-align: center;
}

.content > .statistics > div > .count dd > span {
	font-weight: bold;
	font-size: 28px;
	color : #A7D676;
}

.content > .statistics > div > .gender {
	width : 800px;
	margin : 13px auto 0;
	font-size: 15px;
}

.content > .statistics > div > .gender > .graph {
	position: relative;
	width: 800px;
	height : 22px;
	background: #FA6A71;
	margin : 4px 0;
}

.content > .statistics > div > .gender > .graph > .men {
	position: absolute;
	width : 400px;
	height : 22px;
	top : 0;
	left : 0;
	background: #ACDAF9;
}

.content > .statistics > div > .gender > .legend {
	display: flex;
}

.content > .statistics > div > .gender > .legend > div {
	width : 400px;
	padding: 7px 0 0 180px;
	box-sizing: border-box;
	font-size: 13px;
	background: url(/images/jobs/vacancyDetail/man.png) 156px center no-repeat;
	background-size: 19px 23px;
}

.content > .statistics > div > .gender > .legend > div:last-of-type {
	background-image: url(/images/jobs/vacancyDetail/woman.png);
}

.content > .report {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.content > .report > p {
	width : 829px;
}

.content > .report > p > span {
	color : #FF0000;
}

.content > .report > .report_button {
	width : 147px;
	height : 32px;
}

body.modal_open {
	overflow: hidden;
}

.dimmed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	z-index: 999;
}

.dimmed.show {
	display: block;
}

#modal {
	position: absolute;
	background-color: white;
	border-radius: 10px;
}

#modal > .close_button {
	width : 35px;
	height : 35px;
	position: absolute;
	top : -128px;
	right : 0;
	background: url(/images/common/btn_layer_close.png) center center no-repeat;
}

#modal.resume_register_modal {
	width : 500px;
	height : 565px;
	top : calc(50% - 282.5px);
	left : calc(50% - 250px);
}

#modal > .modal_inner > .resume_register_area {
	display: none;
}

#modal.resume_register_modal > .modal_inner > .resume_register_area {
	display: block;
}

#modal > .modal_inner > .resume_register_area {
	padding : 28px 24px 30px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_header {
	box-sizing: border-box;
	border-bottom: 1px solid #000;
	font-size: 14px;
	padding-bottom: 18px;
	margin-bottom: 23px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_header h2 {
	height: 30px;
	font-size: 24px;
	margin-top: 8px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div {
	padding : 21px 16px 30px;
	background-color: #F8F9FA;
	border-radius: 10px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > h4 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 21px;
	font-weight: bold;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div {
	height : 223px;
	background-color: #FFF;
	border-radius: 10px;
	box-sizing: border-box;
	padding-left: 16px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul {
	height: 100%;
	overflow-y: auto;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li > label {
	display: block;
	position: relative;
	padding: 12px 12px 12px 35px;
	background: url(/images/jobs/vacancyDetail/radio_button_deactive.png) 0 32px no-repeat;
	background-size: 24px 24px;
	box-sizing: border-box;
	border-bottom: 1px solid #DCDCDC;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li:last-of-type > label {
	border-bottom: none;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li > input:checked+label {
	background-image: url(/images/jobs/vacancyDetail/radio_button_active.png);
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li > input {
	position: absolute;
	width : 1px;
	height : 1px;
	outline: none;
	opacity: 0;
	pointer-events: none;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li .register_date {
	display: block;
	font-size: 12px;
	color : #999999;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li p {
	margin : 8px 0;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li  p > span {
	display: inline-block;
	width : 78px;
	height : 23px;
	margin-right: 15px;
	background-color:#85CBCC;
	border-radius: 20px;
	text-align: center;
	color : #FFF;
	font-size: 14px;
	line-height: 23px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li .buttons {
	display: flex;
	justify-content: space-between;
	width: 79px;
	padding-left: 259px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > div > div > ul > li .buttons button {
	font-size: 12px;
	font-weight: normal;
	color:#999;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content.empty_list > form > div > div {
	box-sizing: border-box;
	padding: 89px 53.5px 88px;
	text-align: center;
	font-size: 16px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content.empty_list > form > div > div p:last-of-type {
	font-size: 14px;
	margin-top: 7px;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content.empty_list > form > div > div p:last-of-type a {
	margin-left : 15px;
	color : #A7D676;
	text-decoration: underline;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content > form > button {
	display: block;
	width : 183px;
	height :60px;
	margin: 32px auto 0;
	box-sizing: border-box;
	padding : 20px 62px;
	background-color: #A7D676;
	font-size: 16px;
	font-weight: bold;
	color : #FFF;
}

#modal > .modal_inner > .resume_register_area > .resume_register_content.empty_list > form > button {
	opacity: 0.3;
}

#modal.resume_register_modal > .close_button {
	top : -65px
}