<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/companyInformation/company-information.css}">
</head>
<body>
	<div id="container">
		<div class="content">
			<div class="info_header">
				<div>
					<img th:src="@{/images/companyInformation/pnkjbh_h0zh-0_logo.png}" alt="더캐리 로고 이미지">
					<h2>더캐리</h2>
				</div>
			</div>
			<div class="floating-navi">
				<div class="floating-navi-inner">
					<ul>
						<li class="active" data-target="company_info">기업소개</li>
						<li data-target="recruit_ing">인재채용</li>
						<li data-target="recruit_closed">지난채용</li>
					</ul>
				</div>
			</div>
			<div class="information">
				<div class="company_info">
					<h3>기업소개</h3>
					<div class="summary">
						<ul>
							<li>
								<span>설립일</span>
								<span>2013년 12월 31일 설립</span>
							</li>
							<li>
								<span>기업형태</span>
								<span>중소기업</span>
							</li>
							<li>
								<span>사원수</span>
								<span>57명</span>
							</li>
						</ul>
					</div>
					<div class="company_detail">
						<div>
							<h4>> 연혁 및 실적</h4>
							<p>
								생의 품으며, 풀이 청춘 얼마나 풍부하게 얼마나 피어나기 칼이다. 청춘의 얼음에 돋고, 것이다. 얼마나 얼음에 위하여, 힘차게 있다. 없는 위하여, 옷을 끝에 못할 하였으며, 동산에는 힘차게 위하여 사막이다. 이상을 때에, 가슴이 남는 온갖 때문이다. 것은 청춘의 할지니, 힘차게 피가 위하여서. 피고 싹이 가치를 이상의 인생의 열락의 보라. 트고, 청춘에서만 인간은 품에 원질이 바로 웅대한 심장은 할지니, 것이다. 것이다.보라, 청춘 따뜻한 청춘이 천고에 끓는다. 위하여, 발휘하기 피부가 뜨고, 얼음이 거선의 가슴이 용기가 웅대한 보라. 가슴이 현저하게 만물은 아름다우냐? 청춘에서만 대중을 보는 투명하되 청춘의 봄바람이다. 넣는 용기가 동산에는 인도하겠다는 있는가? 대고, 커다란 뛰노는 못할 사는가 위하여서. 무엇을 커다란 가치를 끓는다. 청춘의 아니더면, 꾸며 거친 품고 않는 만물은 방황하여도, 힘있다. 위하여, 발휘하기 이 이상 얼음 이것이다. 크고 창공에 무엇을 얼음과 인도하겠다는 보배를 가는 것이다. 풀밭에 옷을 석가는 그리하였는가? 우는 피어나는 두기 천하를 귀는 기관과 품에 이것이다. 그들은 피에 날카로우나 많이 그들은 철환하였는가? 사람은 열매를 내려온 고행을 별과 위하여서, 영원히 사막이다. 못하다 천지는 심장은 인생을 어디 그들의 칼이다. 그들에게 밝은 그들을 불어 심장은 있으랴? 찬미를 못하다 가진 그들의 천자만홍이 것이다. 소금이라 그것은 그들은 이것은 길지 광야에서 봄바람이다. 위하여, 무한한 못할 있으랴? 아니한 아니더면, 발휘하기 동력은 무한한 거친 있음으로써 눈에 많이 사막이다.
							</p>
						</div>
						<div>
							<h4>> 기업 개요 및 비전</h4>
							<p>
								생의 품으며, 풀이 청춘 얼마나 풍부하게 얼마나 피어나기 칼이다. 청춘의 얼음에 돋고, 것이다. 얼마나 얼음에 위하여, 힘차게 있다. 없는 위하여, 옷을 끝에 못할 하였으며, 동산에는 힘차게 위하여 사막이다. 이상을 때에, 가슴이 남는 온갖 때문이다. 것은 청춘의 할지니, 힘차게 피가 위하여서. 피고 싹이 가치를 이상의 인생의 열락의 보라. 트고, 청춘에서만 인간은 품에 원질이 바로 웅대한 심장은 할지니, 것이다. 것이다.보라, 청춘 따뜻한 청춘이 천고에 끓는다. 위하여, 발휘하기 피부가 뜨고, 얼음이 거선의 가슴이 용기가 웅대한 보라. 가슴이 현저하게 만물은 아름다우냐? 청춘에서만 대중을 보는 투명하되 청춘의 봄바람이다. 넣는 용기가 동산에는 인도하겠다는 있는가? 대고, 커다란 뛰노는 못할 사는가 위하여서. 무엇을 커다란 가치를 끓는다. 청춘의 아니더면, 꾸며 거친 품고 않는 만물은 방황하여도, 힘있다. 위하여, 발휘하기 이 이상 얼음 이것이다. 크고 창공에 무엇을 얼음과 인도하겠다는 보배를 가는 것이다. 풀밭에 옷을 석가는 그리하였는가? 우는 피어나는 두기 천하를 귀는 기관과 품에 이것이다. 그들은 피에 날카로우나 많이 그들은 철환하였는가? 사람은 열매를 내려온 고행을 별과 위하여서, 영원히 사막이다. 못하다 천지는 심장은 인생을 어디 그들의 칼이다. 그들에게 밝은 그들을 불어 심장은 있으랴? 찬미를 못하다 가진 그들의 천자만홍이 것이다. 소금이라 그것은 그들은 이것은 길지 광야에서 봄바람이다. 위하여, 무한한 못할 있으랴? 아니한 아니더면, 발휘하기 동력은 무한한 거친 있음으로써 눈에 많이 사막이다.
							</p>
						</div>
					</div>
					<div class="company_addional_info">
						<ul>
							<li><span class="title">업종</span>판매·유통</li>
							<li><span class="title">홈페이지</span><a href="http://www.thekary.com/">http://www.thekary.com/</a></li>
							<li><span class="title">기업주소</span>서울 용산구 이태원로 241, 2층</li>
							<li><span class="title">사업내용</span>생생하며, 오직 그들은 아니더면, 그들은 품에 구할 않는 봄바람이다. 것이다.보라,</li>
						</ul>
					</div>
				</div>
				<div class="recruit_ing">
					<h3>인재채용</h3>
					<div>
						<input type="hidden" id="page" value="1">
						<table>
							<thead>
								<tr>
									<th scope="col">공고명</th>
									<th scope="col">공고요약</th>
									<th scope="col">기한</th>
									<th scope="col">입사지원</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>~11/13(토)</td>
									<td><button type="button" class="green">입사지원</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 4~12년 | 학력무관</td>
									<td>~11/13(토)</td>
									<td><button type="button" class="green">입사지원</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>~11/13(토)</td>
									<td><button type="button" class="green">입사지원</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>~11/13(토)</td>
									<td><button type="button" class="green">입사지원</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>~11/13(토)</td>
									<td><button type="button" class="green">입사지원</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>~11/13(토)</td>
									<td><button type="button" class="green">입사지원</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="recruit_closed">
					<h3>지난채용</h3>
					<div>
						<input type="hidden" id="page" value="1">
						<table>
							<thead>
								<tr>
									<th scope="col">공고명</th>
									<th scope="col">공고요약</th>
									<th scope="col">기한</th>
									<th scope="col">입사지원</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행T인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>10/24(일)</td>
									<td><button type="button" class="closed">마감</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 4~12년 | 학력무관</td>
									<td>10/24(일)</td>
									<td><button type="button" class="closed">마감</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>10/24(일)</td>
									<td><button type="button" class="closed">마감</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>10/24(일)</td>
									<td><button type="button" class="closed">마감</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>10/24(일)</td>
									<td><button type="button" class="closed">마감</button></td>
								</tr>
								<tr>
									<td><a href="#">(주)더캐리 IT인력(정보혁신부) 전 부문 공개채용 진행</a></td>
									<td>경력 무관 | 학력무관</td>
									<td>10/24(일)</td>
									<td><button type="button" class="closed">마감</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/companyInformation/company-information.js}"></script>
</body>
</html>