<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.workPeople.jobs.companyInformation.model.dao.CompanyInformationMapper">
	<resultMap type="com.kh.workPeople.jobs.companyInformation.model.vo.CompanyDetailInformation" id="companyDetailInformationResultMap">
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="address" column="ADDRESS"/>
		<result property="interestedCount" column="INTERESTED_COUNT"/>
		<result property="interestedCompany" column="INTERESTED"/>
		<association property="companyInformation" resultMap="Common.companyResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.JobVacancy" id="jobVacancyResultMap">
		<result property="no" column="JV_NO"/>
		<result property="title" column="JV_TITLE"/>
		<result property="periodEnd" column="JV_PERIOD_END"/>
		<association property="educationLevel" resultMap="jobVacancyEducationResultMap"/>
		<collection property="experienceLevelList" resultMap="jobVacancyExperienceResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.EducationLevel" id="jobVacancyEducationResultMap">
			<result property="name" column="EDUCATION_LEVEL_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.ExperienceLevel" id="jobVacancyExperienceResultMap">
			<result property="name" column="EXPERIENCE_LEVEL_NAME"/>
	</resultMap>
	<select id="getCompanyDetailInformation" parameterType="hashmap" resultMap="companyDetailInformationResultMap">
		SELECT 
		       COMPANY_NAME
		     , ADDRESS
		     , COMPANY_INFORMATION.CI_NO
		     , CI_CEONAME
		     , CI_FOUNDING_DATE
		     , CI_EMPLOYEE_NUMBER
		     , CI_BUSINESS_DETAIL
		     , CI_COMPANY_HISTORY
		     , CI_COMPANY_VISION
		     , CI_HOMEPAGE
		     , A_NO
		     , A_ORIGIN_NAME
		     , A_CHANGE_NAME
		     , A_FILE_PATH
		     , A_STATUS
		     , A_CREATE
		     , S_NO
		     , S_NAME
		     , CT_NO
		     , CT_NAME
		     , INTERESTED_COUNT
		   <if test="userNo != null">
		     , CASE
		        WHEN INTERESTED_COMPANY.CI_NO IS NULL THEN 'N'
		        ELSE 'Y'
		       END INTERESTED
		   </if>
		  FROM COMPANY_INFORMATION
		  <if test="userNo != null">
		  LEFT OUTER JOIN (SELECT CI_NO
	      		             FROM INTERESTED_COMPANY
	                        WHERE M_NO = #{userNo}) INTERESTED_COMPANY ON(COMPANY_INFORMATION.CI_NO = INTERESTED_COMPANY.CI_NO)
	      </if>
		 WHERE COMPANY_INFORMATION.CI_NO = #{companyInformationNo}
		   AND COMPANY_STATUS = 'Y'
	</select>
	<select id="getJobVacancyListCount" parameterType="hashmap" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM JOB_VACANCY
		 WHERE JV_STATUS_YN = 'Y'
		   AND JV_PERIOD_END ${sign} SYSDATE
		   AND CI_NO = #{companyInformationNo}
	</select>
	<select id="getJobVacancyList" parameterType="hashmap" resultMap="jobVacancyResultMap">
		SELECT
		       JV_NO
		     , JV_TITLE
		     , JV_PERIOD_END
		     , EDUCATION_LEVEL_NAME
		     , EXPERIENCE_LEVEL_NAME
		  FROM JOB_VACACY_INFORMATION
		 WHERE JV_NO IN (SELECT JV_NO
		                   FROM (SELECT ROWNUM RNUM, JV_NO
		                           FROM (SELECT
		                                        JV_NO
		                                   FROM JOB_VACANCY
		                                  WHERE JV_STATUS_YN = 'Y'
									        AND JV_PERIOD_END ${sign} SYSDATE
		                                    AND CI_NO = #{companyInformationNo}
		                                  ORDER BY JV_PERIOD_END DESC))
		                     WHERE RNUM BETWEEN (#{pi.page}-1)*(#{pi.boardLimit})+1 AND ((#{pi.page}-1)*(#{pi.boardLimit})+1)+(#{pi.boardLimit}-1))
		 ORDER BY JV_PERIOD_END DESC
	</select>
	<select id="getResumeList" resultMap="Common.resumeResultMap">
		SELECT
		       R_NO
		     , R_ENROLL_DATE
		     , R_STATUS_YN
		     , BI_TITLE
		  FROM RESUME
		  JOIN BASIC_INFO BI USING(R_NO)
		 WHERE M_NO = #{userNo}
		   AND R_DELETE_YN = 'N'
		 ORDER BY R_STATUS_YN DESC, R_ENROLL_DATE DESC
	</select>
</mapper>