<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${member.name}"></title>
	<link rel="stylesheet" th:href="@{/css/company-information/company-information.css}">
</head>
<body>
    <div th:replace="common/header.html"></div>
	<div id="container">
		<div class="content">
			<div class="info_header">
				<div>
					<img th:src="@{/images/}" th:alt="${member.name} + ' 로고'">
					<h2 th:text=${member.name}></h2>
				</div>
			</div>
			<div class="floating-navi">
				<div class="floating-navi-inner">
					<ul>
						<li class="active" data-target="company_info">기업소개</li>
						<li data-target="recruit_ing">인재채용</li>
						<li data-target="recruit_closed">지난채용</li>
					</ul>
				</div>
			</div>
			<div class="information">
				<div class="company_info">
					<h3>기업소개</h3>
					<div class="summary">
						<ul>
							<li>
								<span>설립일</span>
								<span th:if="${companyInformation.foundingDate != null}" th:text="${#dates.format(companyInformation.foundingDate, 'yyyy년 M월 d일 설립')}"></span>
								<span th:unless="${companyInformation.foundingDate != null}">-</span>
							</li>
							<li>
								<span>기업형태</span>
								<span th:text="${companyInformation.companyType.name}"></span>
							</li>
							<li>
								<span>사원수</span>
								<span th:if="${companyInformation.employeeNumber != 0}" th:text="${companyInformation.employeeNumber} + '명'"></span>
								<span th:unless="${companyInformation.employeeNumber != 0}">-</span>
								
							</li>
						</ul>
					</div>
					<div class="company_detail">
						<th:block th:if="${not #strings.isEmpty(companyInformation.companyHistory)}">
						<div>
							<h4>연혁 및 실적</h4>
							<p th:utext="${#strings.replace(companyInformation.companyHistory, newLineChar, '&lt;br /&gt;')}"></p>
						</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(companyInformation.companyVision)}">
						<div>
							<h4>기업 개요 및 비전</h4>
							<p th:utext="${#strings.replace(companyInformation.companyVision, newLineChar, '&lt;br /&gt;')}"></p>
						</div>
						</th:block>
					</div>
					<div class="company_addional_info">
						<ul>
							<li><span class="title">업종</span>[[${companyInformation.sector.name}]]</li>
							<li><span class="title">홈페이지</span>[[${companyInformation.homepage}]]</li>
							<li><span class="title">기업주소</span>[[${member.roadAddress} + ' ' +  ${member.detailAddress}]]</li>
							<li><span class="title">사업내용</span>[[${companyInformation.homepage}]]</li>
						</ul>
					</div>
				</div>
				<div class="recruit_ing">
					<h3>인재채용</h3>
					<div>
						<input type="hidden" id="page" value="1">
						<table class="empty_result">
							<thead>
								<tr>
									<th scope="col">공고명</th>
									<th scope="col">공고요약</th>
									<th scope="col">기한</th>
									<th scope="col">입사지원</th>
								</tr>
							</thead>
							<tbody>
							 	<th:block th:if="${#strings.isEmpty(companyInformation.companyVision)}">
								<tr>
									<td colspan="4">진행중인 공고가 존재하지 않습니다.</td>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
				<div class="recruit_closed">
					<h3>지난채용</h3>
					<div>
						<input type="hidden" id="page" value="1">
						<table class="empty_result">
							<thead>
								<tr>
									<th scope="col">공고명</th>
									<th scope="col">공고요약</th>
									<th scope="col">기한</th>
									<th scope="col">입사지원</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="4">지난 채용 공고가 존재하지 않습니다.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/company-information/company-information.js}"></script>
    <div th:replace="common/footer.html"></div>
</body>
</html>