<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.workPeople.account.join.model.dao.JoinMapper">
	<resultMap type="com.kh.workPeople.common.vo.CompanyType" id="companyTypeResultMap">
		<id property="no" column="CT_NO"/>
		<result property="name" column="CT_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Sector" id="sectorResultMap">
		<id property="no" column="S_NO"/>
		<result property="name" column="S_NAME"/>
	</resultMap>
	<select id="checkRegisterNumber" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM COMPANY_INFO
		 WHERE CI_COMPANY_REGISTER_NUMBER = #{registerNumber}
	</select>
	<select id="selectCompanyTypeList" resultMap="companyTypeResultMap">
		SELECT
		       CT_NO
		     , CT_NAME
		  FROM COMPANY_TYPE
	</select>
	<select id="selectSectorList" resultMap="sectorResultMap">
		SELECT
		       S_NO
		     , S_NAME
		  FROM SECTOR
	</select>
	<select id="checkId" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM MEMBER
		 WHERE M_ID = #{id}
	</select>
	<insert id="insertMember" parameterType="com.kh.workPeople.common.vo.Member">
		INSERT INTO MEMBER
		(
		   M_NO
		 , MT_NO
		 , M_ID
		 , M_PWD
		 , M_NAME
		 , M_PHONE
		 , M_EMAIL
		 , M_POSTCODE
		 , M_ROADADDRESS
		 , M_DETAILADDRESS
		 , M_ENROLL_DATE
		 , M_MODIFY_DATE
		 , M_LOGIN_FAIL_COUNT
		 , M_IS_LOCK
		 , M_LATEST_TRY_LOGIN_DATE
		 , M_LOCK_COUNT
		 , M_STATUS
		 , M_TEMP_PWD_YN
		)
		VALUES
		(
		   SEQ_MEMBER_NO.NEXTVAL
		 , #{memberType.no}
		 , #{id}
		 , #{pwd}
		 , #{name}
		 , #{phone}
		 , #{email}
		 , #{postCode}
		 , #{roadAddress}
		 , #{detailAddress}
		 , DEFAULT
		 , DEFAULT
		 , DEFAULT
		 , DEFAULT
		 , NULL
		 , DEFAULT
		 , DEFAULT
		 , DEFAULT
		)
	</insert>
	<insert id="insertMemberRole" parameterType="com.kh.workPeople.common.vo.MemberRole">
		INSERT INTO MEMBER_ROLE
		(
		   M_NO
		 , A_CODE
		)
		VALUES
		(
		   SEQ_MEMBER_NO.CURRVAL
		 , #{authorityCode}
		)
	</insert>
	<insert id="insertCompanyInfo" parameterType="com.kh.workPeople.common.vo.CompanyInfo">
		INSERT INTO COMPANY_INFO
		(
		    CI_NO
		  , CI_COMPANY_REGISTER_NUMBER
		  , CI_STATUS_YN
		  , CT_NO
		  , M_NO
		  , S_NO
		)
		VALUES
		(
		    SEQ_COMPANY_INFO_NO.NEXTVAL
		  , #{registerNumber}
		  , DEFAULT
		  , #{companyType.no}
		  , SEQ_MEMBER_NO.CURRVAL
		  , #{sector.no}
		)
	</insert>
</mapper>