<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.workPeople.personal.mypage.home.model.dao.HomeMapper">

    <resultMap id="simpleResume" type="com.kh.workPeople.common.vo.Resume">
        <id property="no" column="R_NO"/>
        <result property="enrollDate" column="R_ENROLL_DATE"/>
        <result property="statusYN" column="R_STATUS_YN"/>
        <result property="title" column="BI_TITLE"/>
        <result property="s_name" column="S_NAME"/>
        <result property="deleteYN" column="R_DELETE_YN"/>
    </resultMap>

    <resultMap id="jobVacancy" type="com.kh.workPeople.common.vo.JobVacancyLookUp">
        <id property="jvNo" column="JV_NO"/>
        <result property="jvTitle" column="JV_TITLE"/>
        <result property="jvAddress" column="JV_ADDRESS"/>
        <result property="jvPeriodEnd" column="JV_PERIOD_END"/>
        <result property="mName" column="M_NAME"/>
        <result property="elName" column="EL_NAME"/>
        <result property="sName" column="S_NAME"/>
        <result property="acDate" column="AC_DATE"/>
        <result property="rbDate" column="RB_DATE"/>
        <result property="acDateFormat" column="AC_DATE_FORMAT"/>
        <result property="rbDateFormat" column="RB_DATE_FORMAT"/>
        <result property="jvPeriodEndFormat" column="JV_PERIOD_END_FORMAT"/>
    </resultMap>

    <select id="applyCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM RESUME
                 JOIN APPLY_COMPANY USING(R_NO)
        WHERE M_NO = #{no}
    </select>

    <select id="resumeBrowseCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM RESUME
                 JOIN RESUME_BROWSE USING(R_NO)
        WHERE RB_BROWSE = 'recommened'
          AND M_NO = #{no}

    </select>

    <select id="scrapCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM SCRAP
        WHERE M_NO=#{no}

    </select>

    <select id="interestedCompanyCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM INTERESTED_COMPANY IC
                 JOIN COMPANY_INFO USING (CI_NO)
                 JOIN JOB_VACANCY USING (CI_NO)
        WHERE IC.M_NO=#{no}

    </select>

    <select id="chatCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM CHAT_LOG
        WHERE M_NO = #{no}

    </select>

    <select id="applyCompanyYN" resultType="_int">
        SELECT
            COUNT(*)
        FROM RESUME
        JOIN APPLY_COMPANY USING (R_NO)
        WHERE M_NO=#{no}
          AND JV_NO=#{jvNo}

    </select>

    <select id="selectResumeStatusY" resultMap="simpleResume">
        SELECT
            R_NO,
            R_ENROLL_DATE,
            R_STATUS_YN,
            BI_TITLE,
            S_NAME
        FROM RESUME
        JOIN BASIC_INFO BI USING(R_NO)
        JOIN SECTOR S ON (BI.S_NO = S.S_NO)
        WHERE M_NO = #{ no }
          AND R_STATUS_YN='Y'
          AND R_DELETE_YN = 'N'
    </select>

    <select id="recommenedJobVacancyList" resultMap="jobVacancy">
        SELECT
        JV_NO,
        JV_TITLE,
        JV_ADDRESS,
        JV_PERIOD_END,
        M_NAME,
        EL_NAME,
        S_NAME,
        TO_CHAR(JV_PERIOD_END,'YYYY.MM.dd') JV_PERIOD_END_FORMAT
        FROM JOB_VACANCY
        JOIN COMPANY_INFO CI USING(CI_NO)
        JOIN MEMBER M ON(M.M_NO = CI.M_NO)
        JOIN JOB_VACANCY_EXPERIENCE_LEVEL JVEL USING(JV_NO)
        JOIN EXPERIENCE_LEVEL EL ON(EL.EL_NO=JVEL.EL_NO)
        JOIN RECRUITMENT_INDUSTRY RI USING(JV_NO)
        JOIN SECTOR ON(SECTOR.S_NO=RI.S_NO)
        WHERE JV_PERIOD_END - SYSDATE > 0
        <if test="elName != null">
            AND S_NAME = #{elName}
        </if>
        ORDER BY 1 desc
    </select>

    <select id="jobVacancyLookUpListPagingQuery" resultMap="jobVacancy" parameterType="com.kh.workPeople.common.vo.PageInfo">
        SELECT
        JV_NO,
        JV_TITLE,
        JV_ADDRESS,
        JV_PERIOD_END,
        M_NAME,
        EL_NAME,
        S_NAME,
        TO_CHAR(JV_PERIOD_END,'YYYY.MM.dd') JV_PERIOD_END_FORMAT
        FROM(
                SELECT ROWNUM RNUM
                     , NLIST.*
                FROM(
                        SELECT *

        FROM JOB_VACANCY
        JOIN COMPANY_INFO CI USING(CI_NO)
        JOIN MEMBER M ON(M.M_NO = CI.M_NO)
        JOIN JOB_VACANCY_EXPERIENCE_LEVEL JVEL USING(JV_NO)
        JOIN EXPERIENCE_LEVEL EL ON(EL.EL_NO=JVEL.EL_NO)
        JOIN RECRUITMENT_INDUSTRY RI USING(JV_NO)
        JOIN SECTOR ON(SECTOR.S_NO=RI.S_NO)
        WHERE JV_PERIOD_END - SYSDATE > 0
        <if test="elName != null">
            AND S_NAME = #{elName}
        </if>
        ORDER BY 1 desc)NLIST)
        WHERE RNUM BETWEEN (#{page}-1)*(#{boardLimit})+1 AND ((#{page}-1)*(#{boardLimit})+1)+(#{boardLimit}-1)

    </select>

    <select id="resumeIsApplyCompanyYN" resultType="_int">
        SELECT
            COUNT(*)
        FROM APPLY_COMPANY
        WHERE R_NO= #{rNo}
    </select>


    <delete id="resumeDeleteFromDB" parameterType="_int">
        DELETE
            FROM RESUME
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="basicInfoDeleteFromDB" parameterType="_int">
        DELETE
        FROM BASIC_INFO
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="educationDeleteFromDB" parameterType="_int">
        DELETE
        FROM EDUCATION
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="careerDeleteFromDB" parameterType="_int">
        DELETE
        FROM CAREER
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="activityDeleteFromDB" parameterType="_int">
        DELETE
        FROM ACTIVITY
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="licenseDeleteFromDB" parameterType="_int">
        DELETE
        FROM LICENSE
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="languageDeleteFromDB" parameterType="_int">
        DELETE
        FROM LANGUAGE
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="awardsDeleteFromDB" parameterType="_int">
        DELETE
        FROM AWARDS
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="selfIntroductionDeleteFromDB" parameterType="_int">
        DELETE
        FROM SELF_INTRODUCTION
        WHERE R_NO=#{rNo}
    </delete>

    <delete id="resumeBrowseDeleteFromDB" parameterType="_int">
        DELETE
        FROM RESUME_BROWSE
        WHERE R_NO=#{rNo}
    </delete>




    <update id="resumeDelete" parameterType="com.kh.workPeople.common.vo.Resume">
        UPDATE RESUME
            SET R_DELETE_YN = 'Y'
        WHERE R_NO = #{rNo}
    </update>

</mapper>