<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>기업고객센터</title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/manager/company/customerservice}">
</head>
<div class="container">
	<!-- 사이드바 -->
	<div class="wrap">
		<div id="sideNav">
			<div class="nav">
				<ul>
					<li id="" class="nav_tit">관리자 페이지</li>

					<li id="snb_2" class="snb_main"><img id="snbImg2"
						src="../../../static/images/common/usersetting.png">회원관리</li>
					<li id="snb_2_1" class="snb_sub"><a href="#">회원정보</a></li>
					<li id="snb_2_2" class="snb_sub"><a href="#">고객센터</a></li>
					<li id="snb_2_3" class="snb_sub"><a href="#">면접후기</a></li>

					<li id="snb_3" class="snb_main"><img id="snbImg3"
						src="../../../static/images/common/cisetting.png">기업관리</li>
					<li id="snb_3_1" class="snb_sub"><a href="#">기업공고</a></li>
					<li id="snb_3_2" class="snb_sub"><a href="#">신고공고</a></li>
					<li id="snb_3_3" class="snb_sub"><a href="#">고객센터</a></li>

					<li id="snb_4" class="snb_main"><img id="snbImg4" src="../../../static/images/common/managersetting.png">
					관리자정보
					</li>
				</ul>
			</div>
		</div>

		<div id="secion">
			<div class="content">
				<div class="list_wrap">
					<h2 class="h2">기업고객센터</h2>
					<div class="chat_content">
						<div class="item_box">
							<div class="items">
								<div class="item_body">
									<div class="table_wrap">
										<table class="table">
											<thead>
												<tr>
													<th>최신순<span><img
															src="../../../static/images/common/sort.png"></span>
													</th>

												</tr>
											</thead>
										</table>
										<div class="main_table">
											<table class="table">
												<tbody>
													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>

													<tr class="item_list">
														<td><img
															src="../../../static/images/common/photo.png"></td>
														<td><a href="javascript:;">(기업이름)</a></td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="conver_content"></div>
			</div>
		</div>
	</div>

</div>

</body>



<script>


</script>





</html>