<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신고 공고 관리</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/manager/company/reportlist.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


</head>
<div th:include="common/header.html"></div>
<div class="container">
    <!-- 사이드바 -->
    <div class="wrapper">
        <div id="sideNav">
            <div class="nav">
             <ul>
                <li id="" class="nav_tit">관리자 페이지</li>

                <li id="snb_2"class="snb_main"><img id="snbImg2" th:src="@{/images/common/usersetting.png}">회원관리</li>
                <li id="snb_2_1" class="snb_sub"><a th:href="@{/manager/user/userinfo}">회원정보</a></li>
                <li id="snb_2_2" class="snb_sub"><a th:href="@{/manager/user/customerservice}">고객센터</a></li>
            
                <li id="snb_3" class="snb_main"><img id="snbImg3" th:src="@{/images/common/cisetting.png}">기업관리</li>
                <li id="snb_3_1" class="snb_sub"><a th:href="@{/manager/company/companyinfo}">기업정보</a></li>
                <li id="snb_3_2" class="snb_sub"><a th:href="@{/manager/company/report/reportlist}">신고공고</a></li>
                <li id="snb_3_3" class="snb_sub"><a th:href="@{/manager/company/customerservice}">고객센터</a></li>
            
                <li id="snb_4" class="snb_main"><a th:href="@{/manager/manager/managerinfo}"><img id="snbImg4" th:src="@{/images/common/managersetting.png}">관리자 정보</a></li>
            </ul>
            </div>
        </div>


        <div id="secion">
            <div class="content">
                <div class="list_wrap">
                    <h2 class="h2">신고 공고 관리</h2>
					<form id="jvReport" action="/manager/company/report/disable" method="get">
                    <div class="search_box">
                        <div class="search_bot resident clearfix">
                            <div class="items clearfix">
                                <label for="">검색조건</label>
                                <div class="select">
                                    <select name="" id="reser_fac">
                                        <option value="">기업명</option>
                                    </select>
                                </div>
                                <input type="text" class="input">
                                <button type="button" class="btn">검색</button>
                            </div>
                        </div>
                    </div>

                        <div class="table_wrap resident_list">
                            <table class="table">
                                <colgroup>
                                    <col width="5%">
                                    <col width="12%">
                                    <col width="30%">
                                    <col width="auto">
                                    <col width="auto">
                                    <col width="auto">
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th>
                                            <div class="checkbox">
                                            <input type="checkbox" name="checkAll" id="checkAll">
                                            <label for="checkAll"></label>
                                            </div>
                                         </th>
                                        <th>게시글 번호</th>
                                        <th>공고 제목</th>
                                        <th>기업명</th>
                                        <th>작성일</th>
                                        <th>조회수</th>
                                        <th>신고누적</th>
                                    </tr>
                                </thead>
                                <!-- 게시글일시 -->
                                <tbody>
                                    <tr class="warning" th:each="jv : ${list}">
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" name="reportCheck" id="reportNo" th:value="${jv.no}">
                                                <label for=""></label>
                                            </div>
                                        </td>
                                        <td th:text="${jv.no}">
                                            23
                                        </td>
                                        <td>
                                            <a th:text="${jv.title}" href="javascript:;" class="report_txt">공고제목이들어가는부분입니다.</a>
                                        </td>
                                        <td th:text="${jv.companyName}">
                                           KH기업
                                        </td>
                                        <td>
                                            <p class="status_after" th:text="${#dates.format(jv.register,'yyyy-MM-dd HH:mm')}">2021.08.24 21:24</p> 
                                        </td>
                                        <td>
                                            <p class="status_after" th:text="${jv.count}"></p>
                                        </td>
                                        <td>
                                            <p class="status_rcount" th:text="${jv.reportCount}"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn_box">
                            <a href="javascript:;" class="disabled">비활성화</a>
                        </div>
				</form>
				
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div th:include="common/up.html"></div> 
     <div th:include="common/footer.html"></div>
     

    <div id="popup01">
        <div class="dim"></div>
        <div class="item">
            <h3 class="tit">기업 비활성화</h3>
            <p class="txt">선택한 기업을 비활성화 하시겠습니까?</p>
            <div class="btn_box">
                <a href="javascript:jvRpSubmit();" class="ok">확인</a>
                <a href="javascript:;" class="cancle">취소</a>
            </div>
        </div>
    </div>
    </body>
    <script>
    	function jvRpSubmit(){
    		$("#jvReport").submit();
    	
    	}
    		let checkboxs = [];
       $(function(){
    	// 체크박스
    	     let checkboxs = [];
    	     $('#checkAll').change(function(){
    	    	 let checked = $(this).is(':checked');
    	    	 if(checked){
    	    		 $('input[name=reportCheck]').prop('checked', true);
    	    		 $('input[name=reportCheck]:disabled').prop('checked', false);
    	    	 }else{
    	    		 $('input[name=reportCheck]').prop('checked', false);
    	    	 }
    	    	 
    	    	 checkArr();
    	    	 
    	    	 
    	     });
    	     
    	     $('input[name=reportCheck]').change(function(){
    	    	// 체크박스 갯수
    	    	let checkSize = $('input[name=reportCheck]').length;
    	    	// 체크갯수
    	    	let checkOnSize = $('input[name=reportCheck]:checked').length;
    	    	// disalbled 갯수
       	    	let checkDis = $('input[name=reportCheck]:disabled').length;
    	    	
    	    	if(checkSize - checkDis === checkOnSize){
    	    		// 전체 체크됐을시
    	    		$('#checkAll').prop('checked', true);
    	    	}else{
    	    		// 체크가 하나라도 풀려있을시
    	    		$('#checkAll').prop('checked', false);
    	    	}
    	    	
    	    	checkArr();
    	    	
    	     });
    	   
    	   
    	   
       })
       
       // 체크박스 배열로 변환
	     function checkArr(){
	    	 checkboxs = [];
	    	 for(let i = 0; i < $('input[name=reportCheck]').length; i++){
	    		 if($('input[name=reportCheck]').eq(i).is(':checked')){
	    			 checkboxs.push($('input[name=reportCheck]').eq(i).val());
	    		 }
	    	 }
	    	 
	    	 // console.log(checkboxs);
	     }
       
     	function remove_popOpen(){
    	 let check = $('input[name=reportCheck]:checked').length;
    	 if(check > 0){
    		 $('.nub').text(check);
    		 popShow('reportPop1');
    	 }else{
    		 alert('체크박스를 1개이상 선택해주세요.');
    	 }
     }

         $(document).ready(function ($) {
        $(".disabled").on("click", function (event) {  //팝업오픈 버튼 누르면
            $("#popup01").show();   //팝업 오픈
            $("body").append('<div class="backon"></div>'); //뒷배경 생성
        });

        $("body").on("click", function (event) {
            if (event.target.className == 'cancle' || event.target.className == 'backon') {
                $("#popup01").hide(); //close버튼 이거나 뒷배경 클릭시 팝업 삭제
                $(".backon").hide();
            }
        });

    });
       
</script>
     



</html>