<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원고객센터</title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/manager/user/customerservice.css}">

<style>
	.content{
		position: relative;
	}
	.chat_content{
		left: 259px;
	}

</style>
</head>
<div th:include="common/header.html"></div>
<div class="container">
	<!-- 사이드바 -->
	<div class="wrap">
		<div id="sideNav">
			<div class="nav">
			  <ul>
                <li id="" class="nav_tit">관리자 페이지</li>

                <li id="snb_2"class="snb_main"><img id="snbImg2" th:src="@{/images/common/usersetting.png}">회원관리</li>
                <li id="snb_2_1" class="snb_sub"><a th:href="@{/manager/user/userinfo}">회원정보</a></li>
                <li id="snb_2_2" class="snb_sub"><a th:href="@{/manager/user/customerservice}">고객센터</a></li>
            
                <li id="snb_3" class="snb_main"><img id="snbImg3" th:src="@{/images/common/cisetting.png}">기업관리</li>
                <li id="snb_3_1" class="snb_sub"><a th:href="@{/manager/company/companyinfo}">기업정보</a></li>
                <li id="snb_3_2" class="snb_sub"><a th:href="@{/manager/company/report/reportlist}">신고공고</a></li>
            
                <li id="snb_4" class="snb_main"><a th:href="@{/manager/manager/managerinfo}"><img id="snbImg4" th:src="@{/images/common/managersetting.png}">관리자 정보</a></li>
            </ul>
			</div>
		</div>

		<div id="secion">
			<div class="content">
				<div class="list_wrap">
					<h2 class="h2">회원고객센터</h2>
					<div class="chat_content">
						<div class="item_box">
							<div class="items">
								<div class="item_body">
									<div class="table_wrap">
										<table class="table">
											<thead>
												<tr>
													<th>최신순<span><img th:src="@{/images/common/sort.png}"></span></th>
												</tr>
											</thead>
										</table>
										<div class="main_table">
											<table class="table">
												<tbody>
													<tr class="item_list" th:each="room : ${roomList}">
														<td><img th:src="@{/images/common/photo.png}"></td>
														<td th:text="${room.name}"></td>
														<td>
															<a th:href="@{/manager/user/serviceCenter/{id}(id=${room.id})}">입장하기</a>
														</td>
													</tr>

											</table>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="conver_content"></div>
			</div>
		</div>
	</div>

</div>

</body>
   	<div th:include="common/up.html"></div> 
	<div th:include="common/footer.html"></div>




<script>


</script>





</html>