<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원 정보 관리</title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/manager/user/userinfo.css}">

</head>
<div th:include="common/header.html"></div>
<body>
	<div class="container">
		<!-- 사이드바 -->
		<div class="wrapper">
			<div id="sideNav">
				<div class="nav">
					<ul>
		                <li id="" class="nav_tit">관리자 페이지</li>
		
		                <li id="snb_2"class="snb_main"><img id="snbImg2" th:src="@{/images/common/usersetting.png}">회원관리</li>
		                <li id="snb_2_1" class="snb_sub"><a th:href="@{/manager/user/userinfo}">회원정보</a></li>
                		<li id="snb_2_2" class="snb_sub"><a th:href="@{/manager/user/customerservice}">고객센터</a></li>
		                <li id="snb_2_3" class="snb_sub"><a href="#">면접후기</a></li>
		            
		                <li id="snb_3" class="snb_main"><img id="snbImg3" th:src="@{/images/common/cisetting.png}">기업관리</li>
		                <li id="snb_3_1" class="snb_sub"><a th:href="@{/manager/company/companyinfo}">기업공고</a></li>
		                <li id="snb_3_2" class="snb_sub"><a th:href="@{/manager/company/reportlit}">신고공고</a></li>
		                <li id="snb_3_3" class="snb_sub"><a th:href="@{/manager/company/customerservice}">고객센터</a></li>
		            
		                <li id="snb_4" class="snb_main"><a th:href="@{/manager/manager/managerinfo}"><img id="snbImg4" th:src="@{/images/common/managersetting.png}">관리자 정보</a></li>
					</ul>
				</div>
			</div>

			<div id="secion">
				<div class="content">
					<div class="list_wrap">
						<h2 class="h2">회원 정보 관리</h2>

						<div class="search_box">
							<div class="search_bot resident clearfix">
								<div class="items clearfix">
									<label for="">검색조건</label>
									<div class="select">
										<select name="" id="reser_fac">
											<option value="">아이디</option>
											<option value="">이름</option>
											<option value="">이메일</option>
											<option value="">주소</option>
											<option value="">연락처</option>
										</select>
									</div>
									<input type="text" class="input">
									<button type="button" class="btn">검색</button>
								</div>

							</div>
						</div>

						<div class="list_content">
							<div class="table_wrap resident_list">
								<table class="table">
									<colgroup>
										<col width="auto">
										<col width="auto">
										<col width="auto">
										<col width="30%">
										<col width="15%">
										<col width="auto">
									</colgroup>

									<thead>
										<tr>
											<th>아이디</th>
											<th>이름</th>
											<th>이메일</th>
											<th>주소</th>
											<th>연락처</th>
											<th>가입일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="member: ${userList}">
											<td th:text="${member.id}"></td>
											<td th:text="${member.name}"></td>
											<td th:text="${member.email}"></td>
											<td th:text="${member.roadAddress}"></td>
											<td th:text="${member.phone}"></td>
											<td th:text="${#dates.format(member.enrollDate, 'yyyy-MM-dd')}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div th:replace="common/paging.html"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<div th:include="common/footer.html"></div>

</html>