<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" >
<div th:fragment="common-login (loginRedirect)" th:remove="tag">
	<link rel="stylesheet" th:href="@{/css/account/login/common-login.css}">
	<form th:action="${#strings.equals(type, 'personal')} ? @{/account/member/personal/login} : @{/account/member/company/login}" method="post">
		<input type="hidden" name="member_type" th:value="${#strings.equals(type, 'personal')} ? '1' : '2'">
		<input type="hidden" name="loginRedirect" th:value="${loginRedirect}">
		<div class="loginSetting">
			<input type="checkbox" name="remember-me" id="remember-me"><label for="remember-me">로그인 유지</label>
			<input type="checkbox" name="remember_id" id="remember_id"><label for="remember_id">아이디 저장</label>
		</div>
		<div class="lobin_input">
			<div>
				<div>
					<input type="text" name="id" id="id" th:value="${id}" placeholder="아이디">
				</div>
				<div>
					<input type="password" name="password" id="password" placeholder="비밀번호">
				</div>
			</div>
			<button type="button">로그인</button>
		</div>
	</form>
	<div class="signup-forgotten">
		<p><a th:href="@{/account/join/personal-join}">회원가입</a></p>
		<p><a th:href="@{/account/find-id-pwd/main}">아이디/비밀번호 찾기</a></p>
		<p><a th:href="@{/account/manager/login}">관리자 로그인</a></p>
	</div>
	<th:block th:if="${not #strings.equals(type, 'company')}">
	<div class="sns_login">
		<button>네이버 로그인</button>
		<button>카카오 로그인</button>
	</div>
	</th:block>
	<script th:src="@{/js/common/cookie.js}"></script>
	<script th:src="@{/js/account/login/login.js}"></script>
</div>
</html>