<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역별 공고</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/jobs/local/local-job-list.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<div th:include="common/header.html"></div>
<body>
    <div class="container border_test">
        <div class="content border_test">
            <div class="local_wrap border_test_r">
                <h1>지역별</h1>
		  <form id="form1" th:action="@{/jobs/local/localSearch}" method="get">
              <div class="local_box circleType">
                    <div class="local_content">
                        <ul id="target">
                             <li class="gu">
							   <label for="" class="searchSector">강남구</label>
							    <input type="checkbox" name="local" value="강남구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">강동구</label>
							    <input type="checkbox" name="local" value="강동구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">강북구</label>
							    <input type="checkbox" name="local" value="강북구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">강서구</label>
							    <input type="checkbox" name="local" value="강서구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">관악구</label>
							    <input type="checkbox" name="local" value="관악구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">광진구</label>
							    <input type="checkbox" name="local" value="광진구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">구로구</label>
							    <input type="checkbox" name="local" value="구로구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">금천구</label>
							    <input type="checkbox" name="local" value="금천구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">노원구</label>
							    <input type="checkbox" name="local" value="노원구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">도봉구</label>
							    <input type="checkbox" name="local" value="도봉구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">동대문구</label>
							    <input type="checkbox" name="local" value="동대문구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">동작구</label>
							    <input type="checkbox" name="local" value="동작구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">마포구</label>
							    <input type="checkbox" name="local" value="마포구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">서대문구</label>
							    <input type="checkbox" name="local" value="서대문구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">서초구</label>
							    <input type="checkbox" name="local" value="서초구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">성동구</label>
							    <input type="checkbox" name="local" value="성동구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">송파구</label>
							    <input type="checkbox" name="local" value="송파구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">양천구</label>
							    <input type="checkbox" name="local" value="양천구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">영등포구</label>
							    <input type="checkbox" name="local" value="영등포구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">용산구</label>
							    <input type="checkbox" name="local" value="용산구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">은평구</label>
							    <input type="checkbox" name="local" value="은평구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">종로구</label>
							    <input type="checkbox" name="local" value="종로구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">중구</label>
							    <input type="checkbox" name="local" value="중구" style="display:none;">
							    </li>
							  <li class="gu">
							   <label for="" class="searchSector">중랑구</label>
							   <input type="checkbox" name="local" value="중랑구" style="display:none;">
							  </li>
                        </ul>
                    </div>
                    <div class="result_box">
                        <div class="result_content">
                            <dl class="listWrap clear">
                                <dt class="blind">선택한 조건 값</dt>
                                <dd class="resultList">
                                    <ul id="toolitems" class="items clear">

                                    </ul>
                                    <div class="opt-area">
                                        <div class="item_reset" onclick="removeAllItem()">

                                            <span class="ico"><img th:src="@{/images/jobs/local/reset.png}"></span>
                                            초기화
                                        </div>
                                    </div>
                                </dd>
                                <dd class="btnSet">
                                    <button  type="button" onclick="ljlFormSubmit()" class="btn_sch" id="btn-sch">
                                        <span>선택된 조건 <br>
                                            검색하기</span>
                                    </button>
                                   
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                </form>
            </div>
	

            <div class="local_list_body border_test">
                <div th:each="localVacancy : ${lcList}" class="list_item border_test_r">
                    <div class="corp">
                        <div th:if="${localVacancy.check == 1}">
                        	<span th:text="${localVacancy.mName}"></span><p class="up">UP</p>
                   	    </div>
	                    <div th:unless="${localVacancy.check==1}">
	                    	<span th:text="${localVacancy.mName}"></span>
	                    </div>
                    </div>
                    <div class="tit">
                        <span th:text="${localVacancy.jvTitle}"></span>
                    </div>

                    <div class="sname">
                        <span th:text="${localVacancy.sName}"></span>
                    </div>

                    <a th:href="@{/jobs/vacancy-detail/detail-view(no=${localVacancy.jvNo})}"><button class="applybtn border_test">지원하기</button></a>
                    
                	</div>
            	</div>
            </div>
        </div>
    <th:block sec:authorize= "hasRole('COMPANY')">
	<input type="hidden" id="yn" th:value="${#authentication.principal.companyStatusYN}">
	<div th:include="company/mypage/accountSuspension.html"></div> 
	</th:block>
  <div th:include="common/up.html"></div>       
  <div th:include="common/footer.html"></div>
    </body>
   <script>
        function clickItem(obj, access) {
            if ($(obj).prop('checked')) {
            	console.log(obj);
                // 추가
                var span = '<span class="txt" data-search-filter="' + $(obj).data('search-filter') + '">' + $(obj).data('filter-item-nm') + '<button type="button" onClick="removeItem(\'' + $(obj).data('search-filter') + '\')">삭제</button></span>';
                $('.opt-area').append(span);

                var div = '<div class="item">';
                div += '<span class="txt" data-search-filter="' + $(obj).data('search-filter') + '">' + $(obj).data('filter-item-nm') + '<button type="button" class="btn-delete" onClick="removeItem(\'' + $(obj).data('search-filter') + '\')">삭제</button></span>';
                div += '</div>';
                $('.filter-footer > .list-option').append(div);
                
                console.log($(obj));
                console.log($(obj).next());
                $(obj).next().prop("checked", true);

            } else {
                removeItem($(obj).data('search-filter'), access);
                $(obj).next().prop("checked", false);
            }
        }
			$(".searchSector").click(function(e){ //searchSector를 클릭시 해당 클릭된 아이템 e로가져옴 
        	
            var max = 0;
        	var arrOn = new Array();  // 배열생성
        	var obj = $(e.target); // obj = <li>...</li> or <span>...</span>
        	if(obj.hasClass("search")){
        		obj.removeClass("search");
        		console.log(obj);
        		console.log(obj.next());
        		 obj.next().prop("checked", false);
        	}else{
        		$.each($('.searchSector'),function(index,item){
                    if($(item).hasClass("search") === true){
                    	max+=1;
                   }	
        		});
        		if(max<3){
	        		obj.addClass("search");
	        		console.log(obj);
	        		console.log(obj.next());
	        		  obj.next().prop("checked", true);
        		}
        	}
            $('.opt-area').empty();
            var reset ='<div class="item_reset" onclick="removeAllItem()"><span class="ico"><img th:src="@{/images/jobs/local/reset.png}"></span>초기화</div>';
            $('.opt-area').append(reset);
           	$.each($('.searchSector'),function(index,item){
                if($(item).hasClass("search") === true){
                  	var span = '<span class="txt">' + $(item).text() + '<button type="button" onClick="removeItem(\''  + index + '\')">삭제</button></span>';
                    $('.opt-area').append(span);
                 } 
            }); 
        });
        
		

		function ljlFormSubmit(){
			var ccount=0;
			$.each($('.searchSector'),function(index,item){
                if($(item).hasClass("search") === true){
                	ccount++;
               }	
    		});
			if(ccount>0){	
				$("#form1").submit();
			}else{
				alert("검색조건을 선택해주세요");
				return false;
			}
			
		}
		
        function removeAllItem() {
            // 필터 영역 uncheck
            $('.list-filter').find('input:checkbox').each(function (idx, item) {
                $(item).prop('checked', false);
            });

            // pc 필터 사이드바 제거
            $('.opt-area > span').each(function (idx, item) {
                $(item).remove();
            });

            // 모바일 필터 사이드바 제거
            $('.filter-footer').find('.item > span').each(function (idx, item) {
                $(item).parent().remove();
            });

        }
    </script>
	
</html>