/* 회원 정보 관리 */
.clearfix{zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear:both;}

/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}


.container{ padding: 50px 0px 50px 0px; flex-wrap: nowrap; justify-content: flex-start; flex-direction: row; background-color: #FFFBF1; }
.wrapper{margin: 0 auto; width: 1100px; display: flex;}
.content{box-sizing: border-box;  padding: 15px; position: static;}

#secion{margin-left:20px; width: 870px; background-color: white; border: 1px solid #C4C4C4; border-radius: 10px; float: right; }

.h2 {text-align: center; padding:25px 0px 20px 0px; font-size: 25px; font-weight: bold;}


/* 서브페이지 검색영역 */
.search_box{text-align: center;padding: 0px 120px; margin-bottom: 10px;
}
   
.search_box.type02{position: relative; margin-bottom: 0;}
.search_box.type02 .vehicle_btn{position: absolute; top:-56px; right:0; display: block; width: 180px; height: 38px; line-height: 38px; text-align: center; background:#00a3fe; color:#fff; font-size: 14px; font-weight: 500; border-radius: 3px;}
.search_box .search_top{display: inline-block; }
.search_box .search_top .items{float:left; margin-right: 20px;}
.search_box .search_top .items:last-child{margin-right: 0;}
.search_box .search_top .items label{display: block; float:left; font-size: 13px; font-weight: bold; line-height: 29px; margin-right: 9px;}
.search_box .search_top .items .input{display: block; float:left; height: 29px; line-height: 29px; background:#fff; box-sizing: border-box; border:1px solid #000;
    margin-left: 8px;  padding: 0 10px; width: 100px;}
.search_box .search_top .items .select{float:left;}
.search_box .search_top .items .select select{display: block; height: 29px; line-height: 29px; box-sizing: border-box; font-size: 12px;padding: 0 25px 0 8px; border:1px solid #000; min-width:100px;  }
.search_box .search_top .items .calendar{float:left;}
.search_box .search_top .items .calendar .cal{display: block; float:left; width:100%; max-width:110px; height: 29px; line-height: 29px; padding: 0 8px 0 25px; box-sizing: border-box; border:1px solid #000; cursor:pointer; }
.search_box .search_top .items .calendar .cal[disabled]{background-color: rgba(230, 230, 230, 0.3); border: 1px solid rgba(0, 0, 0,0.2); color: rgba(100, 100, 100, 0.9);
    cursor: default;}
.search_box .search_top .items .calendar span{display: block; float:left; line-height: 29px; font-size: 14px; font-weight: bold; padding: 0 10px;}
.search_box .search_top .items .checkbox{float: left;  margin: 4px 25px 4px 13px;}
.search_box .search_top .items .checkbox input[type="checkbox"]{position: absolute; left: -9999px;}
.search_box .search_top .items .checkbox input[type="checkbox"] + label{height: 20px; line-height: 20px; background:url(../images/checkbox.png) no-repeat 0 50%; padding-left: 23px; font-size: 13px; color:#9ea0a5; font-weight: 400; margin-right: 0;}
.search_box .search_top .items .checkbox input[type="checkbox"]:checked + label{background:url(../images/checkbox_on.png) no-repeat 0 50%; color:#000; font-weight: bold; }

.search_box .search_bot{width: 844px; margin:0 auto; margin-top: 12px;}
.search_box .search_bot .items{float:left; width: 100%; margin-right: 20px;}
.search_box .search_bot .items:last-child{margin-right: 0;}
.search_box .search_bot .items label{display: block; float:left; font-size: 13px; font-weight: bold; line-height: 29px; margin-right: 9px;}
.search_box .search_bot .items .select{float:left;}
.search_box .search_bot .items .select select{display: block;height: 29px;line-height: 29px;box-sizing: border-box;font-size: 12px;padding: 0 25px 0 8px;border:1px solid #000;min-width:100px;}
.search_box .search_bot .items .input{display: block; float:left; height: 29px; line-height: 29px; background:#fff; width:50%; box-sizing: border-box; border:1px solid #000;
margin-left: 8px; width:40%; padding: 0 10px;}
.search_box .search_bot .items .btn{display: block; float:left; height: 29px; text-align: center; box-sizing: border-box; min-width:55px; border-radius:3px; color:#fff; font-weight: bold; background:#B1D581; font-size: 13px; margin-left: 8px; border: 0px}
.search_box .search_bot .items .btn:hover{background-color: #96BF69;}


.search_box .search_bot.type02{width: 651px;}
.search_box .search_bot.type02 .items{width:auto;}
.search_box .search_bot.type02 .items:last-of-type .select:last-of-type select{margin-left: 6px;}

/* table */
.table_wrap .main_table{max-height: 235px; overflow-y: auto; box-shadow: 0 4px 2px rgb(0 0 0 / 5%);}
.table_wrap .main_table .main_table_nodate{text-align: center; padding: 71px 0;}
.table_wrap .main_table .main_table_nodate p{font-size: 18px;}
.table_wrap .main_table .main_table_nodate img{margin-top: 20px;}

.table_wrap .table{width: 100%; border-collapse: collapse; table-layout: fixed;}
.table_wrap .table thead tr{border:1px solid #000;}
th.s{height: 40px; padding: 3px 10px; font-size: 14px; line-height: 18px; text-align: center;}
.table_wrap .table thead tr th{font-size: 16px; font-weight: 600; height: 40px; box-sizing: border-box; padding: 0 10px; text-align: center;}
.table_wrap .table tbody{height: 0px; overflow:scroll}
.table_wrap .table tbody tr{border-bottom:1px solid #E6E6E6;}
.table_wrap .table tbody tr td{height: 40px; padding: 3px 10px; font-size: 14px; line-height: 18px; text-align: center;}
.table_wrap .table tbody tr td .bold{font-weight: bold;}
.table_wrap .table tbody tr td .status_before{color:#6A6A6A;}
.table_wrap .table tbody tr td .status_before2{color:#9ea0a5; font-weight: bold;}
.table_wrap .table tbody tr td .status_ing{color:#3C90F2; font-weight: bold;}
.table_wrap .table tbody tr td .status_after{color:#C5C5C5;}
.table_wrap .table .checkbox{}
.table_wrap .table .checkbox input[type="checkbox"]{position: absolute; left: -9999px;}
.table_wrap .table .checkbox input[type="checkbox"] + label{display: block; width: 16px; height: 16px; background:url(../images/checkbox.png) no-repeat 0 0; margin:0 auto;}
.table_wrap .table .checkbox input[type="checkbox"]:checked + label{background-image:url(../images/checkbox_on.png);}


/* 사이드바 */
.nav{
    width: 210px;
    order:1;
    border:1px solid #C4C4C4;
    border-radius: 10px;
    background-color: #fff;
}

.nav > ul {
    line-height: 35px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.sub_main {
    font-size: 16px;
}

.nav > ul > li > img {
    width: 20px;
    height: 20px;
    margin: 0px 9px 0px 21px;
}

.snb_sub {
    margin-left: 100px;
    font-size: 14px
}
.nav_tit {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.nav > ul {
    line-height: 35px;
}

.snb_main {
    font-size: 16px;
    margin-left: 65px;
}


