<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>에러페이지</title>
    <link rel="stylesheet" href="css/common/common.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/common.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/company/mypage/accountSuspension.css">
    <link rel="stylesheet" href="css/company/mypage/accountSuspension.css">
</head>
<body>
    <div id="wrap">
        <div id="container">
            <div class="Info_area">
                    <a class="SizeM">모달창 열기</a>
                    <!-- 모달창 // -->
                    <div class="modal hidden">
                        <div class="bg"></div>
                        <div class="modalBox">
                            <div class="text_area">
                                <img src="/src/main/resources/static/images/companyMyPage/Warning.png" width="42%" height="42%">
                                <ul>
                                    <li><span class="name">발렌티노 코리아</span>님</li>
                                    <li>계정이 <span class="point">정지</span>되어 접근이 <br>불가합니다.</li>
                                </ul>
                             </div>
                             <div class="reason_area">
                                <ul>
                                    <li>사유</li>
                                    <li>'공고제목'의 게시물이 20회 신고누적되어 계정이 정지됐습니다.</li>
                                    <li>문의가 있으신 경우 02-123-4567 으로 연락주세요.</li>
                                </ul>
                            </div>
                             <button type="button" class="closeBtn btn1" id="disagree_btn"><img src="/src/main/resources/static/images/companyMyPage/modal_close.png"></button>
                        </div>
                    </div>
                       <!-- // 모달창 -->
            </div>
        </div>
    </div>    
    
    <!-- 모달 창 부분 -->
   <script>
    const open = () => {
        document.querySelector(".modal").classList.remove("hidden");
    }

    const close = () => {
        document.querySelector(".modal").classList.add("hidden");
    }

    document.querySelector(".SizeM").addEventListener("click", open);
    document.querySelector("#disagree_btn").addEventListener("click", close);
    document.querySelector(".bg").addEventListener("click", close);


    </script>
</body>
</html>