<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공고등록</title>

<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/companyCommon.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/insertJv.css}">

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
<div class="wrap">
        <div class="container">
                <!-- nav -->
            <div class="sideNav">
                <div class="nav">
                    <ul>
                        <li class="insertJv"><a href="@{/company/mypage/insertJv}">공고 등록</a></li>
                    </ul>
                </div>
            </div>

            <div class="content">
                <div class="content_wrap">
                    <div class="content_title">채용제목을 입력해주세요.</div>
                    <div class="content1">
                        <input type="text" maxlength="60">
                    </div>
                </div> 
            </div>
            <div class="content">
                <div class="content_wrap">
                    <div class="content_title">어떤 인재를 채용하시나요?</div>
                    <div class="content2">
                        <div class="content2_1">
                            <label>모집업종</label>
                            <select>
                                <option>서비스업</option>
                                <option>의료&middot;제약&middot;복지</option>
                                <option>제조&middot;화학</option>
                                <option>판매&middot;유통</option>
                                <option>IT&middot;웹&middot;통신</option>
                                <option>건설업</option>
                                <option>교육업</option>
                                <option>미디어&middot;디자인</option>
                                <option>은행&middot;금융업</option>
                                <option>기관&middot;협회</option>
                            </select>
                        </div>
                        <div class="content2_2">
                            <label>모집인원</label>
                            <input type="text" oninput="this.value = this.value.replaceAll(/\D/g,'')" maxlength="3">
                        </div>
                        <div class="content2_3">
                            <label>접수기간</label>
                            <input type="text">
                            <p>~</p>
                            <input type="text">
                        </div>
                        <div class="content2_4">
                            <label>경력여부</label>
                            <input type="checkbox">신입
                            <input type="checkbox">경력
                            <input type="checkbox">경력 무관
                        </div>
                        <div class="content2_5">
                            <label>직급/직책</label>
                            <div class="content2_5_1">
                                <input type="checkbox">사원
                                <input type="checkbox">주임
                                <input type="checkbox">대리
                                <input type="checkbox">과장
                                <input type="checkbox">차장
                            </div>
                            <div class="content2_5_2">
                                <input type="checkbox">부장
                                <input type="checkbox">임원
                                <input type="checkbox">팀장
                                <input type="checkbox">매니저
                                <input type="checkbox">실장
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="content">
                <div class="content_wrap">
                    <div class="content_title">근무조건을 입력해주세요.</div>
                    <div class="content3">
                        <div class="content3_1">
                            <label>근무요일</label>
                            <select>
                                <option>요일무관</option>
                                <option>매일</option>
                                <option>주 6일(월~토)</option>
                                <option>주 5일(월~금)</option>
                                <option>주말</option>
                                <option>요일협의</option>
                            </select>
                        </div>
                        <div class="content3_2">
                            <label>근무일시</label>
                            <input type="text">
                            <p>~</p>
                            <input type="text">
                        </div>
                        <div class="content3_3">
                            <label>급여</label>
                            <select>
                                <option>연봉</option>
                                <option>주급</option>
                                <option>일급</option>
                                <option>시급</option>
                                <option>건별</option>
                                <option>회사 내규에 따름</option>
                                <option>면접 후 결정</option>
                            </select>
                            <input type="text">원
                        </div>
                        <div class="content3_4">
                            <label>근무지역</label>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content_wrap">
                    <div class="content_title">지원자격은 어떤것들이 있나요?</div>
                    <div class="content4">
                        <div class="content4_1">
                            <label>성별</label>
                            <input type="radio">성별무관
                            <input type="radio">남자
                            <input type="radio">여자
                        </div>
                        <div class="content4_2">
                            <label>학력</label>
                            <select>
                                <option>고등학교 졸업</option>
                                <option>대학 졸업(2,3년)</option>
                                <option>대학교 졸업(4년)</option>
                                <option>대학원 석사 졸업</option>
                                <option>대학원 박사 졸업</option>
                                <option>학력 무관</option>
                            </select>
                        </div>
                        <div class="content4_3">
                            <label>연령</label>
                            <input type="radio">연령무관
                            <input type="radio">연령제한
                            <input type="text">세 이상 ~
                            <input type="text">세 이하
                        </div>
                        <div class="content4_4">
                            <label>전공</label>
                            <input type="text">
                        </div>
                        <div class="content4_5">
                            <label>자격증</label>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>