<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>면접 관리</title>

<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/companyCommon.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/interview.css}">
</head>
<body>
<div class="wrap">
        <div class="container">
            <!-- nav -->
            <div class="sideNav">
                <div class="nav">
                    <ul>
                        <li class="jvManage"><a href="@{company/mypage/jvManage}">공고 관리</a></li>
                        <li class="personalManage"><a href="@{company/mypage/personalManage}">지원자 관리</a></li>
                        <li class="interview"><a href="@{company/mypage/interview}">면접</a></li>
                    </ul>
                </div>
            </div>

            <div class="content">
                <div class="table">
                    <table class="interview_table">
                        <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                            <tr>
                                <td>지원자</td>
                                <td>1차 합격 일자</td>
                                <td>면접 일자</td>
                                <td>상태</td>
                                <td>면접방 입장</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.20</td>
                                <td>2021.11.24</td>
                                <td>면접대기</td>
                                <td><button>입장하기</button></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.20</td>
                                <td>2021.11.24</td>
                                <td>면접대기</td>
                                <td><button>입장하기</button></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.20</td>
                                <td>2021.11.24</td>
                                <td>면접대기</td>
                                <td><button>입장하기</button></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.10</td>
                                <td>2021.11.15</td>
                                <td>면접종료</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.10</td>
                                <td>2021.11.15</td>
                                <td>면접종료</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.10</td>
                                <td>2021.11.15</td>
                                <td>면접종료</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.10</td>
                                <td>2021.11.15</td>
                                <td>면접종료</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.10</td>
                                <td>2021.11.15</td>
                                <td>면접종료</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.10</td>
                                <td>2021.11.15</td>
                                <td>면접종료</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>지원자이름</td>
                                <td>2021.11.10</td>
                                <td>2021.11.15</td>
                                <td>면접종료</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
    

</body>
</html>