<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공고 관리</title>

<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/companyCommon.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/jvManage.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css}"/>
<link rel="stylesheet" th:href="@{/css/company/mypage/calendar/calendar.css}">

<style>
.wrap .container{min-height:520px;}
</style>


</head>
<body>
<div th:include="common/cpheader.html"></div>
<div class="wrap">
        <div class="container">
            <!-- nav -->
            <div class="sideNav">
                <div class="nav">
                    <ul>
                        <li class="jvManage"><a th:href="@{/company/mypage/jvManage}">공고 관리</a></li>
                        <li class="personalManage"><a th:href="@{/company/mypage/personalManage}">지원자 관리</a></li>
                    </ul>    
                </div>
            </div>

            <!-- page content -->
            <div class="content">
                <ul class="tab_title">
                    <li class="on">진행중 공고</li>
                    <li>마감된 공고</li>
                </ul>
                <div class="blank"></div>
                <div class="tab_cont">
                    <div class="on">
                        <div class="searchBox">
                        	<form name="search-form" autocomplete="off">
	                            <p>검색조건</p>
	                            <input type="text" class="monthpicker">
	                            <input type="text" class="input_title">
	                            <input type="button" name="keyword" onclick="getSearchList()" class="btn btn-outline-primary mr-2" value="검색">
	                        </form>
                        </div>
                        <div class="table">
                            <table class="jvList" id="boardtable">
                                <colgroup>
                                    <col width="5%">
                                    <col width="45%">
                                    <col width="20%">
                                    <col width="10%">
                                    <col width="20%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td>번호</td>
                                        <td>공고 제목</td>
                                        <td>지역</td>
                                        <td>공고 상태</td>
                                        <td>마감일</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="jv, i : ${jobVacancy}">
                                        <td th:text="${i.index+1}"></td>
                                        <td th:text="${jv.title}" th:onclick="|location.href='@{/company/mypage/jvInfoUpdate}'|"></td>
                                        <td th:text="${jv.address}"></td>
                                        <td th:if="${jv.count} == 1"><span>공고 중</span></td>
                                        <td th:text="${#dates.format(jv.periodEnd, 'yyyy-MM-dd')}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="display:none;">
                        <div class="searchBox">
                        	<form name="search-form" autocomplete="off">
	                            <p>검색조건</p>
	                            <input type="text" class="monthpicker">
	                            <input type="text" class="input_title">
	                            <input type="button" name="keyword" onclick="getSearchList()" class="btn btn-outline-primary mr-2" value="검색">
	                        </form>
                        </div>
                        <div class="table">
                            <table class="jvList">
                                <colgroup>
                                    <col width="5%">
                                    <col width="45%">
                                    <col width="20%">
                                    <col width="10%">
                                    <col width="20%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td>번호</td>
                                        <td>공고 제목</td>
                                        <td>지역</td>
                                        <td>공고 상태</td>
                                        <td>마감일</td>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="common/up.html"></div>    
	<div th:include="common/footer.html"></div>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
	<script th:src="@{/js/company/monthpicker/jquery.ui.monthpicker.js}"></script>
    <script th:src="@{/js/company/mypage/tab.js}"></script>
    <script>
        $(".monthpicker").monthpicker({
            monthNames:['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort:['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            showOn:"both",
            buttonImage:"/images/companyMyPage/calendar.PNG",
            buttonImageOnly:true,
            changeYear:false,
            yearRange:'c-2:c+2',
            dateFormat:'yy-mm'
        });
    </script>
	 

</body>
</html>