<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제완료</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/company/mypage/paymentFinish.css}">
</head>
<body>
<div th:include="common/cpheader.html"></div>
    <div id="wrap">
        <div id="container">
            <!-- 사이드바 -->
            <div id="sideNav">
                <div class="nav">
                    <ul>
                        <li class="promoSub"><a th:href="@{/company/mypage/promotionView}">상품 안내</a></li>
                        <li class="historySub"><a th:href="@{/company/mypage/paidList}">유료서비스 이용내역</a></li>
                    </ul>
                </div>
            </div>
            <!-- content 영역 -->
            <div id="content">
                <div class="comInfo_area">
                    <div class="pay_area">
                        <h2>결제가 완료되었어요</h2>
                        <div class="pay_img">
                            <img th:src="@{/images/companyMyPage/pay.png}" alt="결제이미지">
                        </div>
                        <button class="orange home"><a th:href="@{/main}">홈으로 가기</a></button>
                        <button class="green page"><a th:href="@{/company/mypage/paidList}">이용내역으로 가기</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>     
<div th:include="common/up.html"></div>    
<div th:include="common/footer.html"></div>           
</body>
</html>