<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>지원자 목록</title>

<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/companyCommon.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/personalManageDetail.css}">

</head>
<body>
<div class="wrap">
        <div class="container">
            <div class="sideNav">
                <div class="nav">
                    <ul>
                        <<li class="jvManage"><a href="@{company/mypage/jvManage}">공고 관리</a></li>
                        <li class="personalManage"><a href="@{company/mypage/personalManage}">지원자 관리</a></li>
                        <li class="interview"><a href="@{company/mypage/interview}">면접</a></li>
                    </ul>
                </div>
            </div>

            <div class="content">
                <div class="selectTitle">
                    <p>공고제목</p>
                    <select>
                        <option>공고제목1</option>
                        <option>공고제목2</option>
                        <option>공고제목3</option>
                    </select>
                </div>
                <div class="table">
                    <table class="personalList">
                        <colgroup>
                            <col width="15%">
                            <col width="40%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                        </colgroup>
                        <thead>
                            <tr>
                                <td>지원자</td>
                                <td>이력서 제목</td>
                                <td>학력</td>
                                <td>공고 상태</td>
                                <td>마감일</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>1차합격</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>1차합격</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>1차합격</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>평가 전</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>평가 전</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>평가 전</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>평가 전</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>평가 전</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>평가 전</td>
                            </tr>
                            <tr>
                                <td>김이름</td>
                                <td>이력서제목.이력서제목.이력서제목.</td>
                                <td>00대학교</td>
                                <td>2021-10-30</td>
                                <td>평가 전</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

</body>
</html>