<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이력서 조회 - 2</title>

<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/companyCommon.css}">
<link rel="stylesheet" th:href="@{/css/company/mypage/resumeNav.css}">

</head>
<body>
 <div class="wrapper">

        <!-- nav -->
        <div class="sideNav">
            <div class="nav">
                <ul>
                      <li class="jvManage"><a th:href="@{company/mypage/jvManage}">공고 관리</a></li>
                     <li class="personalManage"><a th:href="@{company/mypage/personalManage}">지원자 관리</a></li>
                     <li class="interview"><a th:href="@{company/mypage/interview}">면접</a></li>
                </ul>
            </div>
        </div>

		<!-- content 영역 -->
        <div th:include="common/resumeLookUp.html"></div>
       
         <div class="result_btn">
                   <button id="request" class="pass">면접 요청</button>
                   <button class="fail">불합격</button>
      	</div>
    </div>
<div th:include="common/up.html"></div>    
<div th:include="common/footer.html"></div>  
</body>
</html>