<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.workPeople.company.mypage.insertJv.model.dao.insertJvMapper">

	<resultMap type="com.kh.workPeople.common.vo.Member" id="memberResultMap">
		<id property="no" column="M_NO"/>
		<result property="id" column="M_ID"/>
		<result property="pwd" column="M_PWD"/>
		<result property="name" column="M_NAME"/>
		<result property="phone" column="M_PHONE"/>
		<result property="email" column="M_EMAIL"/>
		<result property="postCode" column="M_POSTCODE"/>
		<result property="roadAddress" column="M_ROADADDRESS"/>
		<result property="detailAddress" column="M_DETAILADDRESS"/>
		<result property="enrollDate" column="M_ENROLL_DATE"/>
		<result property="modifyDate" column="M_MODIFY_DATE"/>
		<result property="loginFailCount" column="M_LOGIN_FAIL_COUNT"/>
		<result property="isLock" column="M_IS_LOCK"/>
		<result property="lastestTryLoginDate" column="M_LATEST_TRY_LOGIN_DATE"/>
		<result property="lockCount" column="M_LOCK_COUNT"/>
		<result property="status" column="M_STATUS"/>
		<result property="tempPwdYn" column="M_TEMP_PWD_YN"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.MemberRole" id="memberRoleResultMap">
		<id property="userNo" column="REF_MEMBER_NO"/>
		<id property="authorityCode" column="REF_AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Authority" id="authorityResultMap">
		<id property="code" column="A_CODE"/>
		<id property="name" column="A_NAME"/>
		<id property="desc" column="A_DESC"/>
	</resultMap>
	
	<resultMap type="com.kh.workPeople.common.vo.CompanyInformation" id="companyResultMap">
		<id property="no" column="CI_NO"/>
		<result property="registerNumber" column="CI_COMPANY_REGISTER_NUMBER"/>
		<result property="ceoName" column="CI_CEONAME"/>
		<result property="foundingDate" column="CI_FOUNDING_DATE"/>
		<result property="employeeNumber" column="CI_EMPLOYEE_NUMBER"/>
		<result property="businessDetail" column="CI_BUSINESS_DETAIL"/>
		<result property="companyHistory" column="CI_COMPANY_HISTORY"/>
		<result property="companyVision" column="CI_COMPANY_VISION"/>
		<result property="homepage" column="CI_HOMEPAGE"/>
		<association property="attachment" resultMap="attachmentResultMap"/>
		<association property="sector" resultMap="sectorResultMap"/>
		<association property="companyType" resultMap="companyTypeRoleResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Attachment" id="attachmentResultMap">
		<id property="no" column="A_NO"/>
		<result property="changeName" column="A_CHANGE_NAME"/>
		<result property="filePath" column="A_FILE_PATH"/>
		<result property="status" column="A_STATUS"/>
		<result property="create" column="A_CREATE"/>
		<result property="update" column="A_UPDATE"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Sector" id="sectorResultMap">
		<id property="no" column="S_NO"/>
		<result property="name" column="S_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.CompanyType" id="companyTypeRoleResultMap">
		<id property="no" column="CT_NO"/>
		<result property="name" column="CT_NAME"/>
	</resultMap>
	
	<resultMap type="com.kh.workPeople.common.vo.JobVacancy" id="registNewJobVacancy">
		<id property="no" column="JV_NO"/>
		<result property="title" column="JV_TITLE"/>
		<result property="to" column="JV_TO"/>
		<result property="peiodStart" column="JV_PERIOD_START"/>
		<result property="periodEnd" column="JV_PERIOD_END"/>
		<result property="workdayStartTime" column="JV_WORKDAY_START_TIME"/>
		<result property="workdayEndTime" column="JV_WORKDAY_END_TIME"/>
		<result property="address" column="JV_ADDRESS"/>
		<result property="major" column="JV_MAJOR"/>
		<result property="detailText" column="JV_DETAIL_TEXT"/>
		<result property="certificate" column="JV_CERTIFICATE"/>
		<result property="age" column="JV_AGE"/>
		<result property="pay" column="JV_PAY"/>
		<association property="gender" resultMap="genderResultMap"/>
		<association property="educationLevel" resultMap="educationLevelResultMap"/>
		<association property="day" resultMap="dayResultMap"/>
		<association property="payType" resultMap="payTypeResultMap"/>
		<collection property="roleList" resultMap="roleListResultMap"/>
		<collection property="jobTypeList" resultMap="jobTypeListResultMap"/>
		<collection property="experienceLevelList" resultMap="experienceLevelListResultMap"/>
		<collection property="sectorList" resultMap="sectorListResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Gender" id="genderResultMap">
		<id property="no" column="G_NO"/>
		<result property="name" column="G_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.EducationLevel" id="educationLevelResultMap">
		<id property="no" column="EL_NO"/>
		<result property="name" column="EL_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Day" id="dayResultMap">
		<id property="no" column="D_NO"/>
		<result property="name" column="D_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.PayType" id="payTypeResultMap">
		<id property="no" column="PT_NO"/>
		<result property="name" column="PT_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Role" id="roleListResultMap">
		<id property="no" column="R_NO"/>
		<result property="name" column="R_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.JobType" id="jobTypeListResultMap">
		<id property="no" column="JT_NO"/>
		<result property="name" column="JV_NO"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.ExperienceLevel" id="experienceLevelListResultMap">
		<id property="no" column="EL_NO"/>
		<result property="name" column="EL_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Sector" id="sectorListResultMap">
		<id property="no" column="S_NO"/>
		<result property="name" column="S_NAME"/>
	</resultMap>
	
	<select id="memberInfoselect" resultMap="memberResultMap">
		SELECT 
		      M.M_NO
		    , M.M_ID
		    , M.M_PWD
		    , M.M_NAME
		    , M.M_PHONE
		    , M.M_EMAIL
		    , M.M_POSTCODE
		    , M.M_ROADADDRESS
		    , M.M_DETAILADDRESS
		    , M.M_ENROLL_DATE
		    , M.M_MODIFY_DATE
		    , M.M_LOGIN_FAIL_COUNT
		    , M.M_IS_LOCK
		    , M.M_LATEST_TRY_LOGIN_DATE
		    , M.M_LOCK_COUNT
		    , M.M_STATUS
		    , M.M_TEMP_PWD_YN
		    , MR.M_NO REF_MEMBER_NO
		    , MR.A_CODE REF_AUTHORITY_CODE
		    , A.A_CODE
		    , A.A_NAME
		    , A.A_DESC
		 FROM MEMBER M
		 LEFT JOIN MEMBER_ROLE MR ON(M.M_NO = MR.M_NO)
		 LEFT JOIN AUTHORITY A ON(MR.A_CODE = A.A_CODE)
		WHERE M.M_ID = #{userId}
	</select>
	
	<select id="companyInfoSelect" resultMap="companyResultMap">
		SELECT 
			  C.CI_NO
			, C.CI_COMPANY_REGISTER_NUMBER
			, C.CI_CEONAME
			, C.CI_FOUNDING_DATE
			, C.CI_EMPLOYEE_NUMBER
			, C.CI_BUSINESS_DETAIL
			, C.CI_COMPANY_HISTORY
			, C.CI_COMPANY_VISION
			, C.CI_HOMEPAGE
			, A.A_NO
		    , A.A_ORIGIN_NAME
		    , A.A_CHANGE_NAME
		    , A.A_FILE_PATH
			, A.A_STATUS
			, A.A_CREATE
			, A.A_UPDATE
			, S.S_NO
			, S.S_NAME
		    , CT.CT_NO
            , CT.CT_NAME
		 FROM COMPANY_INFO C
		 LEFT JOIN ATTACHMENT A ON(C.A_NO = A.A_NO)
		 LEFT JOIN SECTOR S ON(C.S_NO = S.S_NO)
		 LEFT JOIN COMPANY_TYPE CT ON(C.CT_NO = CT.CT_NO) 
		 WHERE C.M_NO = #{userNo}
	</select>
	
	<select id="jobVacancyInfoSelect" resultMap="registNewJobVacancy">
		 SELECT
		       JV_TITLE
		     , JV_ADDRESS
		     , JV_PERIOD_END
             , (SELECT
                  count(*)
              FROM JOB_VACANCY 
             WHERE CI_NO = #{cino}
               AND TO_CHAR(JV_PERIOD_END, 'YYMMDD') >= TO_CHAR(SYSDATE, 'YYMMDD')) CNT
		  FROM JOB_VACANCY 
		 WHERE CI_NO = #{cino}
		 ORDER BY JV_REGISTER
	</select>
	
	<insert id="insertInfo" parameterType="com.kh.workPeople.common.vo.JobVacancy">
		INSERT INTO JOB_VACANCY
		(
		    JV_NO
		  , JV_TITLE
		  , JV_REGISTER
		  , JV_UPDATE
		  , JV_DISPLAY
		  , JV_COUNT
		  , JV_TO
		  , JV_PERIOD_START
		  , JV_PERIOD_END
		  , JV_WORKDAY_START_TIME
		  , JV_WORKDAY_END_TIME
		  , JV_ADDRESS
		  , G_NO
		  , EL_NO
		  , JV_MAJOR
		  , CI_NO
		  , D_NO
		  , JV_STATUS_YN
		  , JV_DETAIL_TEXT
		  , JV_CERTIFICATE
		  , JV_AGE
		  , JV_PAY
		  , PT_NO
		)
		VALUES
		(
		    SEQ_JV_NO.NEXTVAL
		  , #{job.title}
		  , DEFAULT
		  , DEFAULT
		  , DEFAULT
		  , DEFAULT
		  , #{job.to}
		  , #{job.jvStart}
		  , #{job.jvEnd}
		  , #{job.workStart}
		  , #{job.workEnd}
		  , #{job.address}
		  , #{job.gender.no}
		  , #{job.el.no}
		  , #{job.major}
		  , #{cino}
		  , #{job.d.no}
		  , DEFAULT
		  , #{job.detailText}
		  , #{job.certificate}
		  , #{job.age}
		  , #{job.pay}
		  , #{job.pt.no}
		)
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>