<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.workPeople.personal.mypage.resume.model.dao.ResumeMapper">

<!--    이력서 목록 노출시 필요한 정보-->
    <resultMap id="simpleResume" type="com.kh.workPeople.common.vo.Resume">
        <id property="no" column="R_NO"/>
        <result property="enrollDate" column="R_ENROLL_DATE"/>
        <result property="statusYN" column="R_STATUS_YN"/>
        <result property="title" column="BI_TITLE"/>
        <result property="s_name" column="S_NAME"/>
        <result property="deleteYN" column="R_DELETE_YN"/>
    </resultMap>


<!--   이력서 정보 조회(기본정보,학력)-->
    <resultMap id="resumeDetails" type="com.kh.workPeople.common.vo.ResumeDetails">
        <id property="rNo" column="R_NO"/>
        <result property="biTitle" column="BI_TITLE"/>
        <result property="biName" column="BI_NAME"/>
        <result property="biGender" column="BI_GENDER"/>
        <result property="biBirthDate" column="BI_BIRTH_DATE"/>
        <result property="biBirthDateYearFormat" column="BI_BIRTH_DATE_FORMAT"/>
        <result property="biAge" column="BI_AGE"/>
        <result property="biAgeInFull" column="BI_AGE_INFULL"/>
        <result property="biEmail" column="BI_EMAIL"/>
        <result property="biPhone" column="BI_PHONE"/>
        <result property="biAddress" column="BI_ADDRESS"/>
        <result property="biAddressDetail" column="BI_ADDRESS_DETAIL"/>
        <result property="sName" column="S_NAME"/>
        <result property="aNo" column="A_NO"/>
        <result property="aOriginName" column="A_ORIGIN_NAME"/>
        <result property="aChangeName" column="A_CHANGE_NAME"/>
        <result property="aFilePath" column="A_FILE_PATH"/>
        <result property="aStatus" column="A_STATUS"/>
        <result property="aCreate" column="A_CREATE"/>
        <result property="aUpdate" column="A_UPDATE"/>
        <result property="eType" column="E_TYPE"/>
        <result property="eHighName" column="E_HIGH_NAME"/>
        <result property="eHighMajor" column="E_HIGH_MAJOR"/>
        <result property="eHighAdmission" column="E_HIGH_ADMISSION"/>
        <result property="eHighGraduation" column="E_HIGH_GRADUATION"/>
        <result property="eHighAdmissionFormat" column="E_HIGH_ADMISSION_FORMAT"/>
        <result property="eHighGraduationFormat" column="E_HIGH_GRADUATION_FORMAT"/>
        <result property="eColleageType" column="E_COLLEAGE_TYPE"/>
        <result property="eColleageName" column="E_COLLEAGE_NAME"/>
        <result property="eColleageAdmission" column="E_COLLEAGE_ADMISSION"/>
        <result property="eColleageAdmissionFormat" column="E_COLLEAGE_ADMISSION_FORMAT"/>
        <result property="eColleageAdmissionType" column="E_COLLEAGE_ADMISSION_TYPE"/>
        <result property="eColleageGraduate" column="E_COLLEAGE_GRADUATE"/>
        <result property="eColleageGraduateFormat" column="E_COLLEAGE_GRADUATE_FORMAT"/>
        <result property="eColleageGraduateType" column="E_COLLEAGE_GRADUATE_TYPE"/>
        <result property="eColleageMajor" column="E_COLLEAGE_MAJOR"/>
        <result property="eColleageCredit" column="E_COLLEAGE_CREDIT"/>
        <result property="eColleageStandardCredit" column="E_COLLEAGE_STANDARD_CREDIT"/>
        <result property="eMasterName" column="E_MASTER_NAME"/>
        <result property="eMasterAdmission" column="E_MASTER_ADMISSION"/>
        <result property="eMasterAdmissionFormat" column="E_MASTER_ADMISSION_FORMAT"/>
        <result property="eMasterAdmissionType" column="E_MASTER_ADMISSION_TYPE"/>
        <result property="eMasterGraduate" column="E_MASTER_GRADUATE"/>
        <result property="eMasterGraduateFormat" column="E_MASTER_GRADUATE_FORMAT"/>
        <result property="eMasterGraduateType" column="E_MASTER_GRADUATE_TYPE"/>
        <result property="eMasterMajor" column="E_MASTER_MAJOR"/>
        <result property="eMasterCredit" column="E_MASTER_CREDIT"/>
        <result property="eMasterStandardCredit" column="E_MASTER_STANDARD_CREDIT"/>
        <result property="eDoctorName" column="E_DOCTOR_NAME"/>
        <result property="eDoctorAdmission" column="E_DOCTOR_ADMISSION"/>
        <result property="eDoctorAdmissionFormat" column="E_DOCTOR_ADMISSION_FORMAT"/>
        <result property="eDoctorAdmissionType" column="E_DOCTOR_ADMISSION_TYPE"/>
        <result property="eDoctorGraduate" column="E_DOCTOR_GRADUATE"/>
        <result property="eDoctorGraduateFormat" column="E_DOCTOR_GRADUATE_FORMAT"/>
        <result property="eDoctorGraduateType" column="E_DOCTOR_GRADUATE_TYPE"/>
        <result property="eDoctorMajor" column="E_DOCTOR_MAJOR"/>
        <result property="eDoctorCredit" column="E_DOCTOR_CREDIT"/>
        <result property="eDoctorStandardCredit" column="E_DOCTOR_STANDARD_CREDIT"/>
    </resultMap>
<!-- 이력서 경력 정보 조회-->
    <resultMap id="resumeCareer" type="com.kh.workPeople.common.vo.Career">
        <id property="cNo" column="C_NO"/>
        <id property="rNo" column="R_NO"/>
        <result property="cYn" column="C_YN"/>
        <result property="cName" column="C_NAME"/>
        <result property="cEmploymentDate" column="C_EMPLOYMENT_DATE"/>
        <result property="cUnemploymentDate" column="C_UNEMPLOYMENT_DATE"/>
        <result property="cEmploymentDateFormat" column="C_EMPLOYMENT_DATE_FORMAT"/>
        <result property="cUnemploymentDateFormat" column="C_UNEMPLOYMENT_DATE_FORMAT"/>
        <result property="cPosition" column="C_POSITION"/>
        <result property="cDepartment" column="C_DEPARTMENT"/>
        <result property="cTask" column="C_TASK"/>
        <result property="cReSignation" column="C_RESIGNATION"/>
    </resultMap>

    <resultMap id="resumeActivity" type="com.kh.workPeople.common.vo.Activity">
        <id property="aNo" column="A_NO"/>
        <id property="rNo" column="R_NO"/>
        <result property="aActivity" column="A_ACTIVITY"/>
        <result property="aDepartment" column="A_DEPARTMENT"/>
        <result property="a_content" column="A_CONTENT"/>
        <result property="aStartDate" column="A_START_DATE"/>
        <result property="aEndDate" column="A_END_DATE"/>
        <result property="aStartDateFormat" column="A_START_DATE_FORMAT"/>
        <result property="aEndDateFormat" column="A_END_DATE_FORMAT"/>
    </resultMap>

    <resultMap id="resumeLicense" type="com.kh.workPeople.common.vo.License">
        <id property="lNo" column="L_NO"/>
        <id property="rNo" column="R_NO"/>
        <result property="lName" column="L_NAME"/>
        <result property="lDepartment" column="L_DEPARTMENT"/>
        <result property="lPassYN" column="L_PASS_YN"/>
        <result property="lAcquisitionDate" column="L_ACQUISITION_DATE"/>
        <result property="lAcquisitionDateFormat" column="L_ACQUISITION_DATE_FORMAT"/>
    </resultMap>

    <resultMap id="resumeLanguage" type="com.kh.workPeople.common.vo.Language">
        <id property="lNo" column="L_NO"/>
        <id property="rNo" column="R_NO"/>
        <result property="lName" column="L_NAME"/>
        <result property="lDepartment" column="L_DEPARTMENT"/>
        <result property="lScore" column="L_SCORE"/>
        <result property="lAcquisition" column="L_ACQUISITION"/>
        <result property="lAcquisitionFormat" column="L_ACQUISITION_FORMAT"/>
    </resultMap>

    <resultMap id="resumeAwards" type="com.kh.workPeople.common.vo.Awards">
        <id property="aNo" column="A_NO"/>
        <id property="rNo" column="R_NO"/>
        <result property="aName" column="A_NAME"/>
        <result property="aDepartment" column="A_DEPARTMENT"/>
        <result property="aAcquisition" column="A_ACQUISITION"/>
        <result property="aAcquisitionFormat" column="A_ACQUISITION_FORMAT"/>
    </resultMap>

    <resultMap id="resumeSelfIntroduction" type="com.kh.workPeople.common.vo.SelfIntroduction">
        <id property="siNo" column="SI_NO"/>
        <id property="rNo" column="R_NO"/>
        <result property="siTitle" column="SI_TITLE"/>
        <result property="siContent" column="SI_CONTENT"/>
    </resultMap>



    <select id="resumeList" resultMap="simpleResume">
        SELECT
            R_NO,
            R_ENROLL_DATE,
            R_STATUS_YN,
            BI_TITLE,
            S_NAME
        FROM RESUME
                 JOIN BASIC_INFO BI USING(R_NO)
                 JOIN SECTOR S ON (BI.S_NO = S.S_NO)
        WHERE M_NO = #{ no }
        AND R_DELETE_YN = 'N'
    </select>

    <select id="resumeBrowseCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM RESUME_BROWSE
        WHERE R_NO=#{repResumeNo}
        AND RB_BROWSE = 'recommened'
    </select>

    <select id="applyCompanyCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM APPLY_COMPANY
        WHERE M_NO=#{repResumeNo}
    </select>

    <select id="resumeDetailsLookUp" resultMap="resumeDetails">
        SELECT
            *
        FROM BASIC_INFO
        JOIN EDUCATION USING(R_NO)
        JOIN SECTOR USING(S_NO)
        JOIN ATTACHMENT USING(A_NO)
        WHERE R_NO = #{rNo}
    </select>

    <select id="resumeDetailsLookUpFormat" resultMap="resumeDetails">
        SELECT
            TO_CHAR(BI_BIRTH_DATE,'YYYY') BI_BIRTH_DATE_FORMAT,
            TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE),BI_BIRTH_DATE ) / 12) BI_AGE,
            MONTHS_BETWEEN(TRUNC(SYSDATE,'YEAR'),
                           TRUNC(BI_BIRTH_DATE,'YEAR')) /12 +1 BI_AGE_INFULL,
            TO_CHAR(E_HIGH_ADMISSION,'YYYY.MM') E_HIGH_ADMISSION_FORMAT,
            TO_CHAR(E_HIGH_GRADUATION,'YYYY.MM') E_HIGH_GRADUATION_FORMAT,
            TO_CHAR(E_COLLEAGE_ADMISSION,'YYYY.MM') E_COLLEAGE_ADMISSION_FORMAT,
            TO_CHAR(E_COLLEAGE_GRADUATE,'YYYY.MM') E_COLLEAGE_GRADUATE_FORMAT,
            TO_CHAR(E_MASTER_ADMISSION,'YYYY.MM') E_MASTER_ADMISSION_FORMAT,
            TO_CHAR(E_MASTER_GRADUATE,'YYYY.MM') E_MASTER_GRADUATE_FORMAT,
            TO_CHAR(E_DOCTOR_ADMISSION,'YYYY.MM') E_DOCTOR_ADMISSION_FORMAT,
            TO_CHAR(E_DOCTOR_GRADUATE,'YYYY.MM') E_DOCTOR_GRADUATE_FORMAT
        FROM BASIC_INFO
                 JOIN EDUCATION USING(R_NO)
        WHERE R_NO=#{rNo}
    </select>

    <select id="resumeCareerList" resultMap="resumeCareer">
        SELECT
            C_NO,
            R_NO,
            C_YN,
            C_NAME,
            C_EMPLOYMENT_DATE,
            C_UNEMPLOYMENT_DATE,
            TO_CHAR(C_EMPLOYMENT_DATE,'YYYY.MM') C_EMPLOYMENT_DATE_FORMAT,
            TO_CHAR(C_UNEMPLOYMENT_DATE,'YYYY.MM') C_UNEMPLOYMENT_DATE_FORMAT,
            C_POSITION,
            C_DEPARTMENT,
            C_TASK,
            C_RESIGNATION
        FROM CAREER
        WHERE R_NO = #{rNo}
        ORDER BY 1
    </select>

    <select id="resumeActivityList" resultMap="resumeActivity">
        SELECT
            A_NO,
            R_NO,
            A_ACTIVITY,
            A_DEPARTMENT,
            A_CONTENT,
            A_START_DATE,
            A_END_DATE,
            TO_CHAR(A_START_DATE,'YYYY.MM') A_START_DATE_FORMAT,
            TO_CHAR(A_END_DATE,'YYYY.MM') A_END_DATE_FORMAT
        FROM ACTIVITY
        WHERE R_NO = #{rNo}
    </select>

    <select id="resumeLicenseList" resultMap="resumeLicense">
        SELECT
            L_NO,
            R_NO,
            L_NAME,
            L_DEPARTMENT,
            L_PASS_YN,
            L_ACQUISITION_DATE,
            TO_CHAR(L_ACQUISITION_DATE,'YYYY.MM') L_ACQUISITION_DATE_FORMAT
        FROM LICENSE
        WHERE R_NO=#{rNo}
    </select>
    
    <select id="resumeLanguageList" resultMap="resumeLanguage">
        SELECT
            L_NO,
            R_NO,
            L_NAME,
            L_DEPARTMENT,
            L_SCORE,
            L_ACQUISITION,
            TO_CHAR(L_ACQUISITION,'YYYY.MM') L_ACQUISITION_FORMAT
        FROM LANGUAGE
        WHERE R_NO=#{rNo}
    </select>
    
    <select id="resumeAwardsList" resultMap="resumeAwards">
        SELECT
            A_NO,
            R_NO,
            A_NAME,
            A_DEPARTMENT,
            A_ACQUISITION,
            TO_CHAR(A_ACQUISITION,'YYYY.MM') A_ACQUISITION_FORMAT
        FROM AWARDS
        WHERE R_NO=#{rNo}
    </select>

    <select id="resumeSelfIntroductionList" resultMap="resumeSelfIntroduction">
        SELECT
            *
        FROM SELF_INTRODUCTION
        WHERE R_NO=#{rNo}
    </select>

    <update id="resumeStatusYtoN" parameterType="com.kh.workPeople.common.vo.Resume">
        UPDATE RESUME
        SET R_STATUS_YN = 'N'
        WHERE R_NO = #{no}
    </update>

    <update id="resumeStatusNtoY" parameterType="com.kh.workPeople.common.vo.Resume">
        UPDATE RESUME
        SET R_STATUS_YN = 'Y'
        WHERE R_NO = #{resumeNo}
    </update>

<!--    <insert id="insertappliedBasicInfo" parameterType="com.kh.workPeople.common.vo.ResumeDetails">-->
<!--        INSERT INTO APPLIED_BASIC_INFO-->
<!--        (-->

<!--        )-->
<!--        VALUES-->
<!--        (-->

<!--         #{}-->
<!--        )-->

<!--    </insert>-->





</mapper>