<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.workPeople.jobs.local.model.dao.LocalMapper">
	<resultMap type="com.kh.workPeople.common.vo.Member" id="memberResultMap">
		<id property="no" column="M_NO"/>
		<result property="id" column="M_ID"/>
		<result property="pwd" column="M_PWD"/>
		<result property="name" column="M_NAME"/>
		<result property="phone" column="M_PHONE"/>
		<result property="email" column="M_EMAIL"/>
		<result property="postCode" column="M_POSTCODE"/>
		<result property="roadAddress" column="M_ROADADDRESS"/>
		<result property="detailAddress" column="M_DETAILADDRESS"/>
		<result property="enrollDate" column="M_ENROLL_DATE"/>
		<result property="modifyDate" column="M_MODIFY_DATE"/>
		<result property="loginFailCount" column="M_LOGIN_FAIL_COUNT"/>
		<result property="isLock" column="M_IS_LOCK"/>
		<result property="lastestTryLoginDate" column="M_LATEST_TRY_LOGIN_DATE"/>
		<result property="lockCount" column="M_LOCK_COUNT"/>
		<result property="status" column="M_STATUS"/>
		<result property="tempPwdYn" column="M_TEMP_PWD_YN"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.MemberRole" id="memberRoleResultMap">
		<id property="userNo" column="REF_MEMBER_NO"/>
		<id property="authorityCode" column="REF_AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Authority" id="authorityResultMap">
		<id property="code" column="A_CODE"/>
		<id property="name" column="A_NAME"/>
		<id property="desc" column="A_DESC"/>
	</resultMap>
	
	<resultMap type="com.kh.workPeople.common.vo.JobVacancyLookUp" id="jobVacancyResultMap">
        <id property="jvNo" column="JV_NO"/>
        <result property="jvTitle" column="JV_TITLE"/>
        <result property="jvAddress" column="JV_ADDRESS"/>
        <result property="jvPeriodEnd" column="JV_PERIOD_END"/>
        <result property="mName" column="M_NAME"/>
        <result property="elName" column="EL_NAME"/>
        <result property="sName" column="S_NAME"/>
        <result property="acDate" column="AC_DATE"/>
        <result property="rbDate" column="RB_DATE"/>
        <result property="acDateFormat" column="AC_DATE_FORMAT"/>
        <result property="rbDateFormat" column="RB_DATE_FORMAT"/>
        <result property="jvPeriodEndFormat" column="JV_PERIOD_END_FORMAT"/>
        <result property="baseDate" column="BASEDATE"/>
        <result property="check" column="BASEDATECHECK"/>
		<association property="sector" resultMap="sectorResultMap"/>
		<association property="member" resultMap="memberResultMap"/>
    </resultMap>
	
	<resultMap type="com.kh.workPeople.common.vo.CompanyInformation" id="companyResultMap">
		<id property="no" column="CI_NO"/>
		<result property="registerNumber" column="CI_COMPANY_REGISTER_NUMBER"/>
		<result property="ceoName" column="CI_CEONAME"/>
		<result property="foundingDate" column="CI_FOUNDING_DATE"/>
		<result property="employeeNumber" column="CI_EMPLOYEE_NUMBER"/>
		<result property="businessDetail" column="CI_BUSINESS_DETAIL"/>
		<result property="companyHistory" column="CI_COMPANY_HISTORY"/>
		<result property="companyVision" column="CI_COMPANY_VISION"/>
		<result property="homepage" column="CI_HOMEPAGE"/>
		<association property="attachment" resultMap="attachmentResultMap"/>
		<association property="sector" resultMap="sectorResultMap"/>
		<association property="companyType" resultMap="companyTypeRoleResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Attachment" id="attachmentResultMap">
		<id property="no" column="A_NO"/>
		<result property="changeName" column="A_CHANGE_NAME"/>
		<result property="filePath" column="A_FILE_PATH"/>
		<result property="status" column="A_STATUS"/>
		<result property="create" column="A_CREATE"/>
		<result property="update" column="A_UPDATE"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Sector" id="sectorResultMap">
		<id property="no" column="S_NO"/>
		<result property="name" column="S_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.CompanyType" id="companyTypeRoleResultMap">
		<id property="no" column="CT_NO"/>
		<result property="name" column="CT_NAME"/>
	</resultMap>
	
	<select id ="getJobVacancyLookUpList" resultMap="jobVacancyResultMap" parameterType="hashmap">
     SELECT
        JV_NO
       ,JV_TITLE
       ,M_NAME
       ,S_NAME
       ,JV_ADDRESS
       ,JV_PERIOD_END
     FROM COMPANY_INFO 
     JOIN  SECTOR USING(S_NO)
     JOIN MEMBER USING(M_NO)
     JOIN JOB_VACANCY USING(CI_NO)
     WHERE  
     <foreach collection="local" item="lc"  separator=" OR ">
 	    JV_ADDRESS LIKE '%' || #{lc} || '%'
 	     </foreach>
     ORDER BY JV_UPDATE ASC
	</select>
	
	<select id="getJobVacancyLookUpListBasic" resultMap="jobVacancyResultMap">
		<![CDATA[
		  SELECT
	             JV_NO
		       , JV_TITLE
		       , M_NAME
		       , S_NAME
		       , JV_ADDRESS
		       , JV_PERIOD_END
	       , case when P_CODE = 3 
	               and TO_CHAR(P_START_DATE, 'YYMMDD') <= TO_CHAR(SYSDATE, 'YYMMDD') 
	               and TO_CHAR(P_END_DATE, 'YYMMDD') >= TO_CHAR(SYSDATE, 'YYMMDD') 
	               then to_date(to_char(SYSDATE, 'YYYY-MM-DD HH24:')|| '00:00', 'YYYY-MM-DD HH24:MI:SS')
	          else JV_REGISTER end as BASEDATE
	       , case when P_CODE = 3 
	               and TO_CHAR(P_START_DATE, 'YYMMDD') <= TO_CHAR(SYSDATE, 'YYMMDD') 
	               and TO_CHAR(P_END_DATE, 'YYMMDD') >= TO_CHAR(SYSDATE, 'YYMMDD') 
	               then 1
	          else 0 end as BASEDATECHECK   
	     FROM COMPANY_INFO 
	     JOIN SECTOR USING(S_NO) 
	     JOIN MEMBER USING(M_NO)
	     JOIN JOB_VACANCY USING(CI_NO)
	     LEFT JOIN PROMOTION_ORDER USING(JV_NO)
	    WHERE TO_CHAR(JV_PERIOD_START, 'YYMMDD') <= TO_CHAR(SYSDATE, 'YYMMDD')
	      AND TO_CHAR(JV_PERIOD_END, 'YYMMDD') >= TO_CHAR(SYSDATE, 'YYMMDD')
	    ORDER BY BASEDATE DESC
      ]]>
	</select>

</mapper>