<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>직종별</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/jobs/job/big-job-list.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<div th:include="common/header.html"></div>
<body>

    <div class="container border_test" >
        <div class="content border_test">
            <div class="local_wrap border_test_r">
                <h1>직종별</h1>

          <form id="form1" th:action="@{/jobs/job/jobSearch}" method="get">
         
                <div class="local_box">
                    <div class="local_content">
                        <ul id="target">
                            <li class="gu" th:each="sector, i: ${sectorList}">
                                    <label class="searchSector" th:value="${sector.no}" th:text="${sector.name}"></label>
                                    <input type="checkbox" name="no" th:value="${sector.no}" style="display:none;">
                            </li>
                        </ul>
                        </div>
                    <div class="result_box">
                        <div class="result_content">
                            <dl class="listWrap clear">
                                <dt class="blind">선택한 조건 값</dt>
                                    <dd class="resultList">
                                        <ul id="toolitems" class="items clear">

                                        </ul>
                                        <div class="opt-area">
                                            <div class="item_reset" onclick="removeAllItem()">
                                                <span class="ico"><img th:src="@{/images/jobs/local/reset.png}"></span>
                                                초기화
                                            </div>
                                        </div>
                                    </dd>
                                    <dd class="btnSet">
                                        <button type="button" onclick="bjlForm1Submit()" class="btn_sch" id="btn-sch">
                                            <span>선택된 조건 <br>
                                                검색하기</span>
                                        </button>
                                    </dd>
                                </dl>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="local_list_body border_test">
                <div th:each="jobVacancy : ${jvList}" class="list_item border_test_r">
                    <div class="corp">
                    	<div th:if="${jobVacancy.check == 1}">
                        <span th:text="${jobVacancy.mName}"></span><p class="up">UP</p>
                    </div>
                    <div th:unless="${jobVacancy.check==1}">
                    <span th:text="${jobVacancy.mName}"></span>
                    </div>
                    </div>
                    <div class="tit">
                        <span th:text="${jobVacancy.jvTitle}"></span>
                    </div>
                    <div class="sname">
                        <span th:text="${jobVacancy.sName}"></span>
                     </div>
                        <a th:href="@{/jobs/vacancy-detail/detail-view(no=${jobVacancy.jvNo})}"><button class="applybtn border_test">지원하기</button></a>
                </div>
            </div>
        </div> 
    </div>
    	<th:block sec:authorize= "hasRole('COMPANY')">
		<input type="hidden" id="yn" th:value="${#authentication.principal.companyStatusYN}">
		<div th:include="company/mypage/accountSuspension.html"></div> 
		</th:block>
    	<div th:include="common/up.html"></div> 
        <div th:include="common/footer.html"></div>
   </body>
    <script>
           
        $(".searchSector").click(function(e){ //searchSector를 클릭시 해당 클릭된 아이템 e로가져옴 
            var max = 0;
        	var arrOn = new Array();  // 배열생성
        	var obj = $(e.target); // obj = <li>...</li> or <span>...</span>
        	if(obj.hasClass("search")){
        		obj.removeClass("search");
        		console.log(obj);
        		console.log(obj.next());
        		 obj.next().prop("checked", false);
        	}else{
        		$.each($('.searchSector'),function(index,item){
                    if($(item).hasClass("search") === true){
                    	max+=1;
                   }	
        		});
        		if(max<3){
	        		obj.addClass("search");
	        		console.log(obj);
	        		console.log(obj.next());
	        		  obj.next().prop("checked", true);
        		}
        	}
            $('.opt-area').empty();
            var reset ='<div class="item_reset" onclick="removeAllItem()"><span class="ico"><img th:src="@{/images/jobs/local/reset.png}"></span>초기화</div>';
            $('.opt-area').append(reset);
           	$.each($('.searchSector'),function(index,item){
                if($(item).hasClass("search") === true){
                  	var span = '<span class="txt">' + $(item).text() + '<button type="button" onClick="removeItem(\''  + index + '\')">삭제</button></span>';
                    $('.opt-area').append(span);
                 } 
            }); 
        });

        function removeAllItem() {
            // 필터 영역 uncheck
            $('.list-filter').find('input:checkbox').each(function (idx, item) {
                $(item).prop('checked', false);
            });

            // pc 필터 사이드바 제거
            $('.opt-area > span').each(function (idx, item) {
                $(item).remove();
            });
            
         	$.each($('.searchSector'),function(index,item){
                if($(item).hasClass("search") === true){
                	$(item).removeClass("search");
	            } 
            }); 
        }
        

		function bjlForm1Submit(){
			var ccount=0;
			$.each($('.searchSector'),function(index,item){
                if($(item).hasClass("search") === true){
                	ccount++;
               }	
    		});
			if(ccount>0){	
				$("#form1").submit();
			}else{
				alert("검색조건을 선택해주세요");
				return false;
			}
			
		}

    </script>



</html>