<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>직종별</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/main/job/joblist.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container border_test" >
        <div class="content border_test">
            <div class="local_wrap border_test_r">
                <h1>직종별</h1>

                
                <div class="local_box">
                    <div class="local_content">
                        <ul id="target">
                            <li class="gu">
                                    <input id="itm2-1" type="checkbox" checked="checked" 
                                    data-search-filter="기획·전략" 
                                    data-filter-item-nm="기획·전략"
                                    data-multi-sel-yn="Y"
                                    onClick="clickItem(this, true);"
                                    data-omni="기획·전략">
                                    <label for="itm2-1">기획·전략</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-2" type="checkbox" checked="checked" 
                                    data-search-filter="마케팅·홍보·조사" 
                                    data-filter-item-nm="마케팅·홍보·조사"
                                    data-multi-sel-yn="Y"
                                    onClick="clickItem(this, true);"
                                    data-omni="마케팅·홍보·조사">
                                    <label for="itm2-2">마케팅·홍보·조사</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-3" type="checkbox" checked="checked" 
                                data-search-filter="회계·세무·재무" 
                                data-filter-item-nm="회계·세무·재무"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="회계·세무·재무">
                                <label for="itm2-3">회계·세무·재무</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-4" type="checkbox" checked="checked" 
                                data-search-filter="인사·노무·HRD" 
                                data-filter-item-nm="인사·노무·HRD"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="인사·노무·HRD">
                                <label for="itm2-4">인사·노무·HRD</label>
                            </li>
    
                            <li class="gu">
                                <input id="itm2-5" type="checkbox" checked="checked" 
                                data-search-filter="총무·법무·사무" 
                                data-filter-item-nm="총무·법무·사무"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="총무·법무·사무">
                                <label for="itm2-5">총무·법무·사무</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-6" type="checkbox" checked="checked" 
                                data-search-filter="IT·개발·데이터" 
                                data-filter-item-nm="IT·개발·데이터"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="IT·개발·데이터">
                                <label for="itm2-6">IT·개발·데이터</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-7" type="checkbox" checked="checked" 
                                data-search-filter="디자인" 
                                data-filter-item-nm="디자인"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="디자인">
                                <label for="itm2-7">디자인</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-8" type="checkbox" checked="checked" 
                                data-search-filter="영업·판매·무역" 
                                data-filter-item-nm="영업·판매·무역"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="영업·판매·무역">
                                <label for="itm2-8">영업·판매·무역</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-9" type="checkbox" checked="checked" 
                                data-search-filter="고객상담·TM" 
                                data-filter-item-nm="고객상담·TM"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="고객상담·TM">
                                <label for="itm2-9">고객상담·TM</label>
                            </li>
    
                            <li class="gu">
                                <input id="itm2-10" type="checkbox" checked="checked" 
                                data-search-filter="구매·자재·물류" 
                                data-filter-item-nm="구매·자재·물류"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="구매·자재·물류">
                                <label for="itm2-10">구매·자재·물류</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-11" type="checkbox" checked="checked" 
                                data-search-filter="상품기획·MD" 
                                data-filter-item-nm="상품기획·MD"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="상품기획·MD">
                                <label for="itm2-11">상품기획·MD</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-12" type="checkbox" checked="checked" 
                                data-search-filter="운전·운송·배송" 
                                data-filter-item-nm="운전·운송·배송"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="운전·운송·배송">
                                <label for="itm2-12">운전·운송·배송</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-13" type="checkbox" checked="checked" 
                                data-search-filter="생산" 
                                data-filter-item-nm="생산"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="생산">
                                <label for="itm2-13">생산</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-14" type="checkbox" checked="checked" 
                                data-search-filter="건설·건축" 
                                data-filter-item-nm="건설·건축"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="건설·건축">
                                <label for="itm2-14">건설·건축</label>
                            </li>
    
                            <li class="gu">
                                <input id="itm2-15" type="checkbox" checked="checked" 
                                data-search-filter="공공·복지" 
                                data-filter-item-nm="공공·복지"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="공공·복지">
                                <label for="itm2-15">공공·복지</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-16" type="checkbox" checked="checked" 
                                data-search-filter="연구·R&D" 
                                data-filter-item-nm="연구·R&D"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="연구·R&D">
                                <label for="itm2-16">연구·R&D</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-17" type="checkbox" checked="checked" 
                                data-search-filter="교육" 
                                data-filter-item-nm="교육"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="교육">
                                <label for="itm2-17">교육</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-18" type="checkbox" checked="checked" 
                                data-search-filter="금융·보험" 
                                data-filter-item-nm="금융·보험"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="금융·보험">
                                <label for="itm2-18">금융·보험</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-19" type="checkbox" checked="checked" 
                                data-search-filter="의료" 
                                data-filter-item-nm="의료"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="의료">
                                <label for="itm2-19">의료</label>
                            </li>
    
                            <li class="gu">
                                <input id="itm2-20" type="checkbox" checked="checked" 
                                data-search-filter="미디어·문화·스포츠" 
                                data-filter-item-nm="미디어·문화·스포츠"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="미디어·문화·스포츠">
                                <label for="itm2-20">미디어·문화·스포츠</label>
                            </li>
                            <li class="gu">
                                <input id="itm2-21" type="checkbox" checked="checked" 
                                data-search-filter="서비스" 
                                data-filter-item-nm="서비스"
                                data-multi-sel-yn="Y"
                                onClick="clickItem(this, true);"
                                data-omni="서비스">
                                <label for="itm2-21">서비스</label>
                            </li>
                        </ul>
                        </div>
                    <div class="result_box">
                        <div class="result_content">
                            <dl class="listWrap clear">
                                <dt class="blind">선택한 조건 값</dt>
                                    <dd class="resultList">
                                        <ul id="toolitems" class="items clear">

                                        </ul>
                                        <div class="opt-area">
                                            <div class="item_reset" onclick="removeAllItem()">
                                            
                                                <span class="ico"><img src="../../static/images/locallist/reset.png"></span>
                                                초기화
                                            </div>
                                        </div>
                                    </dd>
                                    <dd class="btnSet">
                                        <button type="button" class="btn_sch" id="btn-sch">
                                            <span>선택된 조건 <br>
                                                검색하기</span>
                                        </button>
                                    </dd>
                                </dl>
                            
                        </div>
                    </div>
                </div>
            </div>



            <div class="local_list_body border_test">
                <div id="" class="list_item border_test_r">
                    <div id="" class="corp">
                        <span>LG</span>
                    </div>

                    <div id="" class="tit">
                        <span>LG 백엔드 개발자 채용공고</span>
                    </div>

                    <div id="" class="sname">
                        <span>IT개발·데이터</span>
                    </div>

                        <button id="" class="applybtn border_test">지원하기</button>
                   
                </div>
                <div id="" class="list_item border_test_r">
                    <div id="" class="corp">
                        <span>LG</span>
                    </div>

                    <div id="" class="tit">
                        <span>LG 백엔드 개발자 채용공고</span>
                    </div>

                    <div id="" class="sname">
                        <span>IT개발·데이터</span>
                    </div>

                 
                        <button id="" class="applybtn border_test">지원하기</button>
                   
                </div>
                <div id="" class="list_item border_test_r">
                    <div id="" class="corp">
                        <span>LG</span>
                    </div>

                    <div id="" class="tit">
                        <span>LG 백엔드 개발자 채용공고</span>
                    </div>

                    <div id="" class="sname">
                        <span>IT개발·데이터</span>
                    </div>

                   
                        <button id="" class="applybtn border_test">지원하기</button>
                  
                </div>
                <div id="" class="list_item border_test_r">
                    <div id="" class="corp">
                        <span>LG</span>
                    </div>

                    <div id="" class="tit">
                        <span>LG 백엔드 개발자 채용공고</span>
                    </div>

                    <div id="" class="sname">
                        <span>IT개발·데이터</span>
                    </div>

                  
                        <button id="" class="applybtn border_test">지원하기</button>
                  
                </div>
                <div id="" class="list_item border_test_r">
                    <div id="" class="corp">
                        <span>LG</span>
                    </div>

                    <div id="" class="tit">
                        <span>LG 백엔드 개발자 채용공고</span>
                    </div>

                    <div id="" class="sname">
                        <span>IT개발·데이터</span>
                    </div>

                
                        <button id="" class="applybtn border_test">지원하기</button>
                 
                </div>
            </div>
        </div>       
    </div>
    <script>
        function clickItem(obj, access) {
            if ($(obj).prop('checked')) {
                // 추가
                var span = '<span class="txt" data-search-filter="' + $(obj).data('search-filter') + '">' + $(obj).data('filter-item-nm') + '<button type="button" onClick="removeItem(\'' + $(obj).data('search-filter') + '\')">삭제</button></span>';
                $('.opt-area').append(span);

                var div = '<div class="item">';
                div += '<span class="txt" data-search-filter="' + $(obj).data('search-filter') + '">' + $(obj).data('filter-item-nm') + '<button type="button" class="btn-delete" onClick="removeItem(\'' + $(obj).data('search-filter') + '\')">삭제</button></span>';
                div += '</div>';
                $('.filter-footer > .list-option').append(div);

            } else {
                removeItem($(obj).data('search-filter'), access);
            }
        }

        function removeAllItem() {
            // 필터 영역 uncheck
            $('.list-filter').find('input:checkbox').each(function (idx, item) {
                $(item).prop('checked', false);
            });

            // pc 필터 사이드바 제거
            $('.opt-area > span').each(function (idx, item) {
                $(item).remove();
            });

           

        }

        function removeItem(searchFilter, access) {

            // 필터 영역 uncheck    		    		    	
            $('.list-filter').find('input:checkbox').each(function (idx, item) {
                if (searchFilter === $(item).data('search-filter')) {
                    $(item).prop('checked', false);
                }
            });

            // pc 필터 사이드바 제거
            $('.opt-area > span').each(function (idx, item) {
                if (searchFilter === $(item).data('search-filter')) {
                    if (access) {

                    } else {
                        if ($(this).next().find("button").length > 0) {
                            $(this).next().find("button").focus();
                        } else {
                            $(this).parent().parent().next().find("button").focus();
                        }
                    }
                    $(item).remove();
                }


            });
        }
    </script>
</body>
</html>