<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.workPeople.jobs.vacancyDetail.model.dao.VacancyDetailMapper">
	<resultMap type="com.kh.workPeople.jobs.vacancyDetail.model.vo.JobVacancyInformation" id="jobVacancyInformationResultMap">
		<id property="companyNo" column="CI_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="interestedCompany" column="INTERESTED"/>
		<result property="scrapJobVacancy" column="SCRAPED"/>
		<result property="reportedJobVacancy" column="REPORTED"/>
		<result property="appliedJobVacancy" column="APPLIED"/>
		<association property="jobVacancy" resultMap="jobVacancyResultMap"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.JobVacancy" id="jobVacancyResultMap">
		<id property="no" column="JV_NO"/>
		<result property="title" column="JV_TITLE"/>
		<result property="register" column="JV_REGISTER"/>
		<result property="update" column="JV_UPDATE"/>
		<result property="display" column="JV_DISPLAY"/>
		<result property="count" column="JV_COUNT"/>
		<result property="to" column="JV_TO"/>
		<result property="peiodStart" column="JV_PERIOD_START"/>
		<result property="periodEnd" column="JV_PERIOD_END"/>
		<result property="workdayStartTime" column="JV_WORKDAY_START_TIME"/>
		<result property="workdayEndTime" column="JV_WORKDAY_END_TIME"/>
		<result property="address" column="JV_ADDRESS"/>
		<result property="major" column="JV_MAJOR"/>
		<result property="status" column="JV_STATUS_YN"/>
		<result property="detailText" column="JV_DETAIL_TEXT"/>
		<result property="certificate" column="JV_CERTIFICATE"/>
		<result property="age" column="JV_AGE"/>
		<result property="pay" column="JV_PAY"/>
		<association property="gender" resultMap="genderResultMap"/>
		<association property="educationLevel" resultMap="educationResultMap"/>
		<association property="day" resultMap="dayResultMap"/>
		<association property="payType" resultMap="payTypeResultMap"/>
		<collection property="roleList" resultMap="roleResultMap"></collection>
		<collection property="jobTypeList" resultMap="jobTypeResultMap"/>
		<collection property="experienceLevelList" resultMap="experienceResultMap"/>
		<collection property="sectorList" resultMap="sectorResultMap"></collection>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Gender" id="genderResultMap">
		<id property="no" column="G_NO"/>
		<result property="name" column="G_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.EducationLevel" id="educationResultMap">
		<id property="no" column="EDUCATION_LEVEL_NO"/>
		<result property="name" column="EDUCATION_LEVEL_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Day" id="dayResultMap">
		<id property="no" column="D_NO"/>
		<result property="name" column="D_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.PayType" id="payTypeResultMap">
		<id property="no" column="PT_NO"/>
		<result property="name" column="PT_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Role" id="roleResultMap">
		<id property="no" column="R_NO"/>
		<result property="name" column="R_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.JobType" id="jobTypeResultMap">
		<id property="no" column="JT_NO"/>
		<result property="name" column="JT_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.ExperienceLevel" id="experienceResultMap">
		<id property="no" column="EXPERIENCE_LEVEL_NO"/>
		<result property="name" column="EXPERIENCE_LEVEL_NAME"/>
	</resultMap>
	<resultMap type="com.kh.workPeople.common.vo.Sector" id="sectorResultMap">
		<id property="no" column="S_NO"/>
		<result property="name" column="S_NAME"/>
	</resultMap>
	<update id="increaseCount" parameterType="_int">
		UPDATE JOB_VACANCY
		   SET JV_COUNT = JV_COUNT + 1
		 WHERE JV_NO = #{no}
	</update>
	<select id="selectJobVacancyInformation" parameterType="hashmap" resultMap="jobVacancyInformationResultMap">
		SELECT
		       JI.JV_NO
		     , COMPANY_INFORMATION.CI_NO CI_NO
		     , JI.JV_TITLE
		     , JI.JV_REGISTER
		     , JI.JV_UPDATE
		     , JI.JV_DISPLAY
		     , JI.JV_COUNT
		     , JI.JV_TO
		     , JI.JV_PERIOD_START
		     , JI.JV_PERIOD_END
		     , JI.JV_WORKDAY_START_TIME
		     , JI.JV_WORKDAY_END_TIME
		     , JI.JV_ADDRESS
		     , JI.G_NO
		     , JI.G_NAME
		     , JI.EDUCATION_LEVEL_NO
		     , JI.EDUCATION_LEVEL_NAME
		     , JI.JV_MAJOR
		     , JI.D_NO
		     , JI.D_NAME
		     , JI.JV_STATUS_YN
		     , JI.JV_DETAIL_TEXT
		     , JI.JV_CERTIFICATE
		     , JI.JV_AGE
		     , JI.JV_PAY
		     , JI.PT_NO
		     , JI.PT_NAME
		     , JI.R_NO
		     , JI.R_NAME
		     , JI.JT_NO
		     , JI.JT_NAME
		     , JI.S_NO
		     , JI.S_NAME
		     , JI.EXPERIENCE_LEVEL_NO
		     , JI.EXPERIENCE_LEVEL_NAME
		     , COMPANY_INFORMATION.COMPANY_NAME
	     <if test="userNo != null">
		     , CASE
		        WHEN INTERESTED_INFORMATION.CI_NO IS NULL THEN 'N'
		        ELSE 'Y'
		       END AS INTERESTED
		     , CASE
		        WHEN SCRAP_INFORMATION.JV_NO IS NULL THEN 'N'
		        ELSE 'Y'
		       END SCRAPED
		     , CASE
		        WHEN REPORT_INFORMATION.JV_NO IS NULL THEN 'N'
		        ELSE 'Y'
		       END REPORTED
		     , CASE
		        WHEN APPLY_INFORMATION.JV_NO IS NULL THEN 'N'
		        ELSE 'Y'
		       END APPLIED
		 </if>
		FROM COMPANY_INFORMATION
		JOIN JOB_VACACY_INFORMATION JI ON(COMPANY_INFORMATION.CI_NO = JI.CI_NO)
		<if test="userNo != null">
		LEFT OUTER JOIN (SELECT CI_NO
		                   FROM INTERESTED_COMPANY
		                  WHERE M_NO = #{userNo}) INTERESTED_INFORMATION ON(JI.CI_NO = INTERESTED_INFORMATION.CI_NO)
		LEFT OUTER JOIN (SELECT JV_NO
		                   FROM SCRAP
		                  WHERE M_NO = #{userNo}) SCRAP_INFORMATION ON(JI.JV_NO = SCRAP_INFORMATION.JV_NO)
		LEFT OUTER JOIN (SELECT JV_NO
		                   FROM REPORT_VACANCY
		                  WHERE M_NO = #{userNo}) REPORT_INFORMATION ON(JI.JV_NO = REPORT_INFORMATION.JV_NO)
		LEFT OUTER JOIN (SELECT JV_NO
		                   FROM APPLY_COMPANY
		                  WHERE M_NO = #{userNo}) APPLY_INFORMATION ON(JI.JV_NO = APPLY_INFORMATION.JV_NO)                  
		</if>
	   WHERE JI.JV_NO = #{no}
	     AND JV_STATUS_YN = 'Y'
	</select>
</mapper>