<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>workPeople</title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/account/find-id-pwd/find-id-pwd.css}">
</head>
<body>
	<div id="container">
		<div class="content">
			<h2>비밀번호 찾기</h2>
			<h3>회원정보에 등록된 정보로 임시 비밀번호를 발급받으실 수 있습니다.</h3>
			<form action="" method="post">
				<input type="hidden" name="member_type" th:value=${member_type}>
				<table>
					<tbody>
						<tr>
							<th scope="row"><label for="id">아이디</label></th>
							<td><span><input type="text" name="id" id="id"></span></td>
						</tr>
						<tr>
							<th scope="row"><label for="name"><span th:if="${member_type}=='company'" th:text="기업"></span> 이름</label></th>
							<td><span><input type="text" name="name" id="name"></span></td>
						</tr>
						<tr>
							<th scope="row"><label for="email">이메일</label></th>
							<td><span><input type="text" name="email" id="email"></span></td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="green">확인</button>
			</form>
		</div>
	</div>
	<script th:src="@{/js/common/joinValidate.js}"></script>
	<script th:src="@{/js/account/find-id-pwd/find-id-pwd.js}" ></script>
</body>
</html>