<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>workPeople</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/account/find-id-pwd/find-id-pwd.css}">
</head>
<body>
	<div id="container">
		<div class="content">
			<h2>아이디 찾기</h2>
			<h3>회원정보에 등록된 정보로 아이디를 찾을 수 있습니다.</h3>
			<form action="" method="post">
				<input type="hidden" name="memberType" th:value=${memberType}>
				<table>
					<tbody>
						<tr th:if="${memberType == 'personal'}">
							<th scope="row"><label for="name">이름</label></th>
							<td><span><input type="text" name="name" id="name"></span></td>
						</tr>
						<tr th:unless="${memberType == 'personal'}">
							<th scope="row"><label for="register_number">사업자 등록번호</label></th>
							<td><span><input type="text" name="registerNumber" id="register_number"></span></td>
						</tr>
						<tr>
							<th scope="row"><label for="email">이메일</label></th>
							<td><span><input type="text" name="email" id="email"></span></td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="green">확인</button>
			</form>
		</div>
	</div>
	<script th:src="@{/js/common/joinValidate.js}"></script>
	<script th:src="@{/js/account/find-id-pwd/find-id-pwd.js}" ></script>
</body>
</html>