<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>workPeople</title>
<link rel="stylesheet" th:href="@{/css/account/find-id-pwd/main.css}">
</head>
<body>
	<div th:replace="common/header.html"></div>
	<div id="container">
		<div class="content">
			<h2>아이디/비밀번호 찾기</h2>
			<div class="site_idpwd">
				<h3>가입한 아이디와 비밀번호를 잊으셨습니까?</h3>
				<ul>
					<li>개인회원
						<ul>
							<li><a th:href="@{/account/find-id-pwd/personal/find-id}">아이디 찾기</a>
							<li><a th:href="@{/account/find-id-pwd/personal/find-pwd}">비밀번호 찾기</a>
						</ul>
					</li>
					<li>기업회원
						<ul>
							<li><a th:href="@{/account/find-id-pwd/company/find-id}">아이디 찾기</a>
							<li><a th:href="@{/account/find-id-pwd/company/find-pwd}">비밀번호 찾기</a>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div th:replace="common/footer.html"></div>
</body>
</html>