<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/personal/myPage/mainSnb.css">
    <link rel="stylesheet" href="/css/personal/myPage/applyCompany.css">
    
    <title>입사지원 현황</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        
    <div th:include="personal/mypage/mainSnb.html"></div>
    
        <section>
            <div id="content_wrap">
                
            <p class="content_title_text3">입사지원 현황</p>
            <hr>

            <div class="content1_wrap">
                <div class="content1_container content1_border">
                    <div class="content1_num">2</div>
                    <div class="content1_numType">지원완료</div>
                </div>
                <div class="content1_container content1_border">
                    <div class="content1_num">1</div>
                    <div class="content1_numType">열람</div>
                </div>
                <div class="content1_container content1_border">
                    <div class="content1_num">1</div>
                    <div class="content1_numType">미열람</div>
                </div>
                <div class="content1_container content1_border">
                    <div class="content1_num">3</div>
                    <div class="content1_numType">합격</div>
                </div>
                <div class="content1_container">
                    <div class="content1_num">2</div>
                    <div class="content1_numType">불합격</div>
                </div>
            </div>

            <div class="home_content_3">
                <div class="home_content_3_1">회사명</div>
                <div class="home_content_3_2">채용공고</div>
                <div class="home_content_3_3">지원일/열람일</div>
            </div>

            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">열람일 : 2021.10.25</div>
                </div>
            </div>
            <hr class="hr">

            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">미열람</div>
                </div>
            </div>
            <hr class="hr">
            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">열람일 : 2021.10.25</div>
                </div>
            </div>
            <hr class="hr">
            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">열람일 : 2021.10.25</div>
                </div>
            </div>
            <hr class="hr">
            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">열람일 : 2021.10.25</div>
                </div>
            </div>
            <hr class="hr">
            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">열람일 : 2021.10.25</div>
                </div>
            </div>
            <hr class="hr">
            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">열람일 : 2021.10.25</div>
                </div>
            </div>
            <hr class="hr">
            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">열람일 : 2021.10.25</div>
                </div>
            </div>
            <hr class="hr">
            <div class="content_title_text4">
                <input type="checkbox" class="checkBtn1">
                <div class="content_title_text4_1">회사이름</div>
                <div class="content_title_text4_detail_wrap">
                    <div>각 분야 신입/경력 채용공고</div>
                    <div class="content_title_text4_detail">
                        <div class="content_title_text4_detail_1">신입/경력</div>
                        <div class="content_title_text4_detail_2">it/웹/통신</div>
                        <div class="content_title_text4_detail_3">경기도 성남시 분당구</div>
                    </div>
                </div>
                <div class="content_title_text4_detail_wrap2">
                    <div class="content_title_text4_2">지원일 : 2021.10.23</div>
                    <div class="content_title_text4_2">열람일 : 2021.10.25</div>
                </div>
            </div>
            <hr class="hr">

            
            <button class="orange orange1">지원취소</button>
            <button class="green green1">삭제</button>
       
        </div>
        </section>
    </div>
</body>

</html>