<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/personal/myPage/mainSnb.css">
    <link rel="stylesheet" href="/css/personal/myPage/home.css">
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <title>마이페이지 홈</title>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let statusYResume = [[${resume}]],
            jobVacancyLookUpList = [[${jobVacancyLookUpList}]];
        /*]]>*/
    </script>
</head>
<body>
<div th:include="common/header.html"></div>
<div class="wrapper">

    <div th:include="personal/mypage/mainSnb.html"></div>

    <section>
        <div id="content_wrap">
            <p class="header_text">MY 홈</p>
            <hr>
            <div class="content_wrap_2">

                <div id="home_content_header_wrap">
                    <div class="home_content_header_container">
                        <div class="content_header_text" id="applyCompanyText">지원 현황</div>
                        <div class="content_header_wrap">
                            <div class="content_header_num" th:text="${applyCount}"></div>
                        </div>
                    </div>
                    <div class="home_content_header_container">
                        <div class="content_header_text" id="resumeBrowseText">이력서 열람</div>
                        <div class="content_header_wrap">
                            <div class="content_header_num" th:text="${resumeBrowseCount}"></div>
                        </div>
                    </div>
                    <div class="home_content_header_container">
                        <div class="content_header_text" id="scrapStatusText">스크랩 공고</div>
                        <div class="content_header_wrap">
                            <div class="content_header_num" th:text="${scrapCount}"></div>
                        </div>
                    </div>
                    <div class="home_content_header_container">
                        <div class="content_header_text" id="interestedCompanyText">관심기업</div>
                        <div class="content_header_wrap">
                            <div class="content_header_num" th:text="${interestedCompanyCount}"></div>
                        </div>
                    </div>
                </div>

                <div class="home_contents_wrap" id="applyCompanyStatus">
                        <div class="swiper mySwiper swiperPadding">
                            <div class="swiper-wrapper">

                                <th:block th:if="${applyCompanyList1 != null}">
                                    <div class="swiper-slide">
                                        <div class="home_content_header_contents_detail applyCompanyEvent" th:each="applyCompanyList1 : ${applyCompanyList1}">
                                            <img src="/images/personal/myPage/icon/snb4.svg"
                                                 class="home_content_header_contents_detail_img"><span
                                                class="home_content_header_contents_detail_1">입사지원 완료</span>
                                            <p class="home_content_header_contents_detail_2" th:text="${applyCompanyList1.mName}">회사이름1</p>
                                            <p class="home_content_header_contents_detail_3" th:text="${applyCompanyList1.sName}">it/web/통신</p>
                                        </div>
                                    </div>
                                </th:block>

                                <th:block th:if="${applyCompanyList2 != null}">
                                    <div class="swiper-slide">
                                        <div class="home_content_header_contents_detail applyCompanyEvent" th:each="applyCompanyList2 : ${applyCompanyList2}">
                                            <img src="/images/personal/myPage/icon/snb4.svg"
                                                 class="home_content_header_contents_detail_img"><span
                                                class="home_content_header_contents_detail_1">입사지원 완료</span>
                                            <p class="home_content_header_contents_detail_2" th:text="${applyCompanyList2.mName}">회사이름1</p>
                                            <p class="home_content_header_contents_detail_3" th:text="${applyCompanyList2.sName}">it/web/통신</p>
                                        </div>
                                    </div>
                                </th:block>

                                <th:block th:if="${applyCompanyList3 != null}">
                                    <div class="swiper-slide">
                                        <div class="home_content_header_contents_detail applyCompanyEvent" th:each="applyCompanyList3 : ${applyCompanyList1}">
                                            <img src="/images/personal/myPage/icon/snb4.svg"
                                                 class="home_content_header_contents_detail_img"><span
                                                class="home_content_header_contents_detail_1">입사지원 완료</span>
                                            <p class="home_content_header_contents_detail_2" th:text="${applyCompanyList3.mName}">회사이름1</p>
                                            <p class="home_content_header_contents_detail_3" th:text="${applyCompanyList3.sName}">it/web/통신</p>
                                        </div>
                                    </div>
                                </th:block>

                            </div>
                            <div class="swiper-button-next" style="top:40%"></div>
                            <div class="swiper-button-prev" style="top:40%"></div>
                            <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="home_contents_wrap" id="resumeBrowseStatus">
                    <div class="swiper mySwiper swiperPadding">
                        <div class="swiper-wrapper">

                            <th:block th:if="${resumeBrowseList1 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail resumeBrowseEvent" th:each="resumeBrowseList1 : ${resumeBrowseList1}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">내 이력서 열람</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${resumeBrowseList1.m_name}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3" th:text="${resumeBrowseList1.s_name}">it/web/통신</p>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${resumeBrowseList2 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail resumeBrowseEvent" th:each="resumeBrowseList2 : ${resumeBrowseList2}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">내 이력서 열람</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${resumeBrowseList2.m_name}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3" th:text="${resumeBrowseList2.s_name}">it/web/통신</p>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${resumeBrowseList3 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail resumeBrowseEvent" th:each="resumeBrowseList3 : ${resumeBrowseList3}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">내 이력서 열람</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${resumeBrowseList3.m_name}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3" th:text="${resumeBrowseList3.s_name}">it/web/통신</p>
                                    </div>
                                </div>
                            </th:block>

                        </div>
                        <div class="swiper-button-next" style="top:40%"></div>
                        <div class="swiper-button-prev" style="top:40%"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="home_contents_wrap" id="scrapStatus">
                    <div class="swiper mySwiper swiperPadding">
                        <div class="swiper-wrapper">

                            <th:block th:if="${scrapList1 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail scrapEvent" th:each="scrapList1 : ${scrapList1}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">스크랩한 공고</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${scrapList1.mName}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3" th:text="${scrapList1.sName}">it/web/통신</p>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${scrapList2 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail scrapEvent" th:each="scrapList2 : ${scrapList2}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">스크랩한 공고</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${scrapList2.mName}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3" th:text="${scrapList2.sName}">it/web/통신</p>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${scrapList3 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail scrapEvent" th:each="scrapList3 : ${scrapList3}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">스크랩한 공고</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${scrapList3.mName}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3" th:text="${scrapList3.sName}">it/web/통신</p>
                                    </div>
                                </div>
                            </th:block>

                        </div>
                        <div class="swiper-button-next" style="top:40%"></div>
                        <div class="swiper-button-prev" style="top:40%"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="home_contents_wrap" id="interestedCompanyStatus">
                    <div class="swiper mySwiper swiperPadding">
                        <div class="swiper-wrapper">

                            <th:block th:if="${interestedCompanyList1 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail interestedCompanyEvent" th:each="interestedCompanyList1 : ${interestedCompanyList1}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">관심기업</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${interestedCompanyList1.name}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3">
                                            <span>채용중인 공고 갯수 :</span>
                                            <span th:text="${interestedCompanyList1.count}" style="margin-left: 3px;"></span>
                                            <span>개</span>
                                        </p>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${interestedCompanyList2 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail interestedCompanyEvent" th:each="interestedCompanyList2 : ${interestedCompanyList2}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">관심기업</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${interestedCompanyList2.name}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3">
                                            <span>채용중인 공고 갯수 :</span>
                                            <span th:text="${interestedCompanyList2.count}" style="margin-left: 3px;"></span>
                                            <span>개</span>
                                        </p>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${interestedCompanyList3 != null}">
                                <div class="swiper-slide">
                                    <div class="home_content_header_contents_detail interestedCompanyEvent" th:each="interestedCompanyList3 : ${interestedCompanyList3}">
                                        <img src="/images/personal/myPage/icon/snb4.svg"
                                             class="home_content_header_contents_detail_img"><span
                                            class="home_content_header_contents_detail_1">관심기업</span>
                                        <p class="home_content_header_contents_detail_2" th:text="${interestedCompanyList3.name}">회사이름1</p>
                                        <p class="home_content_header_contents_detail_3">
                                            <span>채용중인 공고 갯수 :</span>
                                            <span th:text="${interestedCompanyList3.count}" style="margin-left: 3px;"></span>
                                            <span>개</span>
                                        </p>
                                    </div>
                                </div>
                            </th:block>

                        </div>
                        <div class="swiper-button-next" style="top:40%"></div>
                        <div class="swiper-button-prev" style="top:40%"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>



                <hr class="hr">


                <th:block th:if="${resume != null}">
                    <div th:object="${resume}">
                        <p class="content_title_text2">나의 이력서</p>
                        <div class="home_contents_wrap_2">
                            <div class="home_content_2_1">대표 이력서</div>
                            <div class="home_content_2_2" th:text="*{title}" th:onclick="|location.href='@{/personal/mypage/resumeManagement/resumeLookUp/{rNo}(rNo=${resume.no})}'|"></div>
                            <br>
                        </div>
                        <div class="home_contents_wrap_2 home_interval_1">
                            <div class="home_content_2_3">희망 업종 :</div>
                            <div class="home_content_2_4" th:text="*{s_name}"></div>
                            <div class="home_content_2_5">등록일 :</div>
                            <div class="home_content_2_6" th:text="${resumeEnrollDate}"></div>
                            <button class="green" th:onclick="|location.href='@{/personal/mypage/home/resumeEdit/{rNo}(rNo=${resume.no})}'|">수정하기</button>
                            <button class="orange orange1" th:value="*{no}">삭제하기</button>
                        </div>
                        <hr class="hr">
                    </div>
                </th:block>

                <th:block th:if="${resume == null}">
                    <p class="content_title_text2">등록된 대표이력서가 없습니다.</p>
                    <br>
                    <hr class="hr">
                </th:block>

                    <p class="content_title_text3">Work People 추천 공고</p>
                    <div class="home_content_3">
                        <div class="home_content_3_1">회사명</div>
                        <div class="home_content_3_2">채용공고</div>
                        <div class="home_content_3_3">마감일</div>
                    </div>


                <!-- 공고 가데이터 생성시 반복문 출력 -->
                <div th:each="job : ${jobVacancyLookUpList}">
                    <div class="content_title_text4">
                        <div class="content_title_text4_1" th:text="${job.mName}" th:onclick="|location.href='@{/jobs/company-information/detail-view?no={no}(no=${job.ciNo})}'|"></div>
                        <div class="content_title_text4_detail_wrap">
                            <div th:text="${job.jvTitle}" th:onclick="|location.href='@{/jobs/vacancy-detail/detail-view?no={no}(no=${job.jvNo})}'|"></div>
                            <div class="content_title_text4_detail">
                                <div class="content_title_text4_detail_1" th:text="${job.elName}"></div>
                                <div class="content_title_text4_detail_2" th:text="${job.sName}"></div>
                                <div class="content_title_text4_detail_3" th:text="${job.jvAddress}"></div>
                            </div>
                        </div>
                        <th:block th:if="${job.applyYN == false}">
                            <div class="content_title_text4_detail_wrap2">
                                <button class="content_title_text4_btn" th:value="${job.jvNo}">즉시지원</button>
                                <div class="content_title_text4_2" th:value="${job.jvNo}">~<span th:text="${job.jvPeriodEndFormat}"></span></div>
                            </div>
                        </th:block>
                        <th:block th:if="${job.applyYN == true}">
                            <div class="content_title_text4_detail_wrap2" style="right: 56px">
                                <div style="color: blue; padding-left:24px;" >지원 완료</div>
                                <div style="color: blue; padding-left:0" class="content_title_text4_2" th:value="${job.jvNo}">
                                    ~<span style="color: blue" th:text="${job.jvPeriodEndFormat}"></span></div>
                            </div>
                        </th:block>
                    </div>
                    <hr class="hr">
                </div>
            </div>

            <th:block th:if="${#lists.size(jobVacancyLookUpList)>0}">
                <div th:replace="common/paging.html"></div>
            </th:block>

        </div>


    </section>
</div>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script th:src="@{/js/personal/mypage/home.js}"></script>
<div th:include="common/footer.html"></div>
</body>

</html>