<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/personal/myPage/innerInterview.css">
    
    <title>면접</title>    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>
<body>
    <div class="content1_container">
        <div class="content1_1">회사이름/지원자이름</div>
        <img src="../images/camera1.png" class="content1_2">
        <img src="../images/mic1.png" class="content1_3">
        <button class="content1_4">종료하기</button>
    </div>
    <div class="content2_container">
        <div class="content2_1">
            <div class="content2_2"></div>
        </div>
    </div>
</body>

</html>