<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/personal/myPage/mainSnb.css">
    <link rel="stylesheet" href="/css/personal/myPage/interview.css">
    
    <title>면접 현황</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        
    <div th:include="personal/myPage/mainSnb.html"></div>

        <section>
            <div id="content_wrap">
                <p class="header_text">면접 현황</p>

                <div class="home_content_3">
                    <div class="home_content_3_1">회사명</div>
                    <div class="home_content_3_2">면접 일자</div>
                    <div class="home_content_3_3">상태</div>
                    <div class="home_content_3_3">면접방 입장</div>
                </div>
    
                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 대기</div>
                    <button class="content_title_text4_4">입장하기</button>
                </div>
                <hr class="hr">
                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 대기</div>
                    <button class="content_title_text4_4">입장하기</button>
                </div>
                <hr class="hr">
                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 대기</div>
                    <button class="content_title_text4_4">입장하기</button>
                </div>
                <hr class="hr">
                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 대기</div>
                    <button class="content_title_text4_4">입장하기</button>
                </div>
                <hr class="hr">
                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 종료</div>
                </div>
                <hr class="hr">
                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 종료</div>
                </div>
                <hr class="hr">

                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 종료</div>
                </div>
                <hr class="hr">

                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 종료</div>
                </div>
                <hr class="hr">

                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 종료</div>
                </div>
                <hr class="hr">

                <div class="content_title_text4">
                    <input type="checkbox" class="checkBox">
                    <div class="content_title_text4_1">회사이름</div>
                    <div class="content_title_text4_2">2021.10.23 16:30</div>
                    <div class="content_title_text4_3">면접 종료</div>
                </div>
                <hr class="hr">


                

                <button class="green green1">삭제</button>

            

            

            



       
        </div>
        </section>
    </div>
</body>

</html>