
<aside>
    <ul>

        <a th:href="@{/personal/mypage/home}"><li id="snb_1" class="snb_main">
            <img id="snbImg1" src="/images/personal/myPage/icon/snb1.svg">MY홈</li>
        </a>

        <li id="snb_2" class="snb_main">
            <img id="snbImg2" src="/images/personal/myPage/icon/snb2.svg">회원정보 관리</li>
        <a th:href="@{/personal/mypage/memberInfoPwd}"><li id="snb_2_1" class="snb_sub">회원정보 수정</li></a>
        <a th:href="@{/personal/mypage/memberleave}"><li id="snb_2_2" class="snb_sub">회원 탈퇴</li></a>

        <li id="snb_3" class="snb_main"><img id="snbImg3" img src="/images/personal/myPage/icon/snb3.svg">이력서</li>
        <a class="snbResumeEnroll" th:href="@{/personal/mypage/resumeEnroll}"><li id="snb_3_1" class="snb_sub">이력서 등록</li></a>
        <a th:href="@{/personal/mypage/resumeManagement}"><li id="snb_3_2" class="snb_sub">이력서 관리</li></a>
        <a th:href="@{/personal/mypage/resumeBrowseCompany}"><li id="snb_3_3" class="snb_sub">이력서 열람기업</li></a>

        <li id="snb_4" class="snb_main"><img id="snbImg4" img src="/images/personal/myPage/icon/snb4.svg">입사지원 관리</li>
        <a th:href="@{/personal/mypage/applyCompany}"><li id="snb_4_1" class="snb_sub">입사지원 현황</li></a>

        <li id="snb_5" class="snb_main"><img id="snbImg5" img src="/images/personal/myPage/icon/snb5.svg">스크랩/관심기업</li>
        <a th:href="@{/personal/mypage/scrap}"><li id="snb_5_1" class="snb_sub">스크랩</li></a>
        <a th:href="@{/personal/mypage/interestedCompany}"><li id="snb_5_2" class="snb_sub">관심기업</li></a>
        <a th:href="@{/personal/mypage/latestPublication}"><li id="snb_5_3" class="snb_sub">최근 본 채용공고</li></a>

<!--        <li id="snb_6" class="snb_main"><img id="snbImg6" img src="/images/personal/myPage/icon/snb6.svg">메일/면접</li>-->
<!--        <a th:href="@{/personal/mypage/}"><li id="snb_6_1" class="snb_sub">메일 현황</li></a>-->
<!--        <a th:href="@{/personal/mypage/interview}"><li id="snb_6_2" class="snb_sub">면접 현황</li></a>-->

        <li id="snb_7" class="snb_main"><img id="snbImg7" img src="/images/personal/myPage/icon/snb7.svg">고객센터</li>

        <a th:href="@{/personal/mypage/serviceCenter}"><li id="snb_7_1" class="snb_sub">고객센터</li></a>
    </ul>
</aside>