<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보관리</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/company/mypage/memberInfoPwd.css}">
    <link rel="stylesheet" href="/css/personal/myPage/mainSnb.css">
    <style>
        #wrap > #container {
            position: relative;
            width: 1100px;
            margin: 0px auto;
            padding: 166px 0;
            min-height: 450px;
        }
        aside {
            width: 210px;
            order: 1;
            border: 1px solid #c4c4c4;
            border-radius: 10px;
            height: 714px;
            position: fixed;
            left: 400px;
            top: 210px;
        }
    </style>
</head>
<body>
<div th:include="common/header.html"></div>

<div id="wrap">
    <div th:include="personal/mypage/mainSnb.html"></div>
    <div id="container">

        <div id="content">
            <div class="infoContent memberContent">
                <div class="topHdWrap">
                    <h2 class="info_hd_2">회원 정보 관리</h2>
                </div>

                <div class="pwChkWrap">
                    <form id="frmMemberAuth" method="post" th:action="@{/personal/mypage/pwdCheck}">
                        <div class="pwChk">
                            <dl class="idBx">
                                <dt>아이디</dt>
                                <dd th:text="${member.id}"></dd>
                            </dl>
                            <div class="pwBx">
                                <div class="elWrap devElWrap">
                                    <div class="schInpType">
                                        <label for="devAuthPassword" class="ph">비밀번호</label>
                                        <input type="password" id="devAuthPassword" class="inpDefault devAnimPh" name="password" required>
                                    </div>
                                </div>
                                <button type="submit" class="infoBtnBg infoBgChk green" id="devAuthMember"><span>확인</span></button>
                            </div>
                        </div>
                        <p class="ntcTx">회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 입력해 주세요.</p>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>
<div th:include="common/footer.html"></div>
</body>
</html>