<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/personal/myPage/mainSnb.css">
    <link rel="stylesheet" href="/css/personal/myPage/resumeManagement.css">

    <title>이력서 관리</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
<div class="wrapper">

    <div th:include="personal/mypage/mainSnb.html"></div>

    <section>
        <div id="content_wrap">
            <p class="header_text">이력서 관리</p>

            <th:block th:if="${#strings.equals(repExist,'N')}">
                <div class="content1_wrap">
                    <div class="content1_container">
                        <div class="content1_1">대표이력서</div>
                        <div class="content1_2">대표 이력서가 없습니다.</div>
                        <div class="content1_2" id="content1_2">이력서를 대표 이력서로 설정해 주세요.</div>
                        <div class="content2_container">
                            <div class="content2_1">
                                이력서를 선택해주세요.
                                <img src="/images/personal/myPage/icon/selectOption.svg" class="content2_img">
                            </div>
                            <button class="green green1">설정하기</button>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${#strings.equals(repExist,'Y')}">
                <div class="content1_wrap">
                    <div class="content1_container">
                        <div class="content1_1">대표이력서</div>
                        <div class="content2_container">
                            <div class="content2_1" th:text="${repTitle}">
                                <img src="/images/personal/myPage/icon/selectOption.svg" class="content2_img">
                            </div>
                            <button class="green green1">변경하기</button>
                        </div>
                        <div class="content3_container">
                            <div class="content3_1">희망 업종 :</div>
                            <div class="content3_2">it/웹/통신</div>
                            <div class="content3_3">등록일 :</div>
                            <div class="content3_4">2021.10.23</div>
                        </div>
                        <div class="content4_container">
                            <div class="content4_1">이력서 열람 기업
                                <div class="content4_2" th:text="${resumeBrowseCount}"></div>
                            </div>
                            <div class="content4_3">입사 지원 내역
                                <div class="content4_4" th:text="${applyCompanyCount}"></div>
                            </div>
                            <button class="green green2">수정하기</button>
                            <button class="orange orange1">삭제하기</button>
                        </div>
                    </div>
                </div>
            </th:block>

            <div class="header_text">나의 이력서</div>
            <hr>

            <div th:each="resume : ${resumeList}">
                <div class="content5_wrap">
                    <div class="content5_container">
                        <th:block th:if="${#strings.equals(resume.statusYN,'Y')}">
                            <div class="content5_1">대표이력서</div>
                        </th:block>
                        <div class="content5_2" th:text="${resume.title}"></div>
                    </div>
                    <div class="content6_container">
                        <div class="content6_1">희망 업종 :</div>
                        <div class="content6_2" th:text="${resume.s_name}"></div>
                        <div class="content6_3">등록일 :</div>
                        <div class="content6_4" th:text="${resume.enrollDateFormat}"></div>
                        <button class="green green3">수정하기</button>
                        <button class="orange orange2">삭제하기</button>
                    </div>
                </div>
                <hr class="hr">
            </div>

        </div>
    </section>
</div>
</body>

</html>