<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/personal/myPage/mainSnb.css">
    <link rel="stylesheet" href="/css/personal/myPage/resumeBrowseCompany.css">

    <title>이력서 열람 기업</title>
</head>
<body>
<div th:include="common/header.html"></div>
<div class="wrapper">

    <div th:include="personal/mypage/mainSnb.html"></div>

    <section>
        <div id="content_wrap">
            <p class="header_text">이력서 열람기업</p>

            <div class="home_content_3">
                <div class="home_content_3_1">회사명</div>
                <div class="home_content_3_2">주소</div>
                <div class="home_content_3_3">업종</div>
                <div class="home_content_3_4">열람일</div>
            </div>

            <form class="delete_form" th:action="@{/personal/mypage/resumeBrowseCompany/delete}" method="post">

            <div th:each="companyList : ${companyList}">
                <div class="content_title_text4">
                    <input type="checkbox" class="resumeChk" th:value="${companyList.m_no}" name="ciNo">
                    <div class="content_title_text4_1" th:text="${companyList.m_name}"></div>
                    <div class="content_title_text4_2" th:text="${companyList.m_roadAddress}"></div>
                    <div class="content_title_text4_3" th:text="${companyList.s_name}"></div>
                    <div class="content_title_text4_4" th:text="${companyList.rb_date_format}"></div>
                    <div></div>
                </div>
                <hr class="hr">
            </div>

            <button type="submit" class="green green1">삭제</button>

            </form>
            <th:block th:if="${#lists.size(companyList)>0}">
                <div th:replace="common/paging.html"></div>
            </th:block>

        </div>
    </section>
</div>
<div th:include="common/footer.html"></div>
<script th:src="@{/js/personal/mypage/resumeBrowseCompany.js}"></script>
</body>

</html>