<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/personal/myPage/mainSnb.css">
    <link rel="stylesheet" href="/css/personal/myPage/serviceCenter.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <title>고객센터</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let ck_host = [[${host}]];
        var userName = [[${userName}]];
        /*]]>*/
    </script>
</head>
<body>
<div th:include="common/header.html"></div>
    <div class="wrapper">

        <th:block th:if="!${#strings.equals(userName,'고객센터')}">
            <div th:include="personal/mypage/mainSnb.html"></div>
        </th:block>

        <section>
            <div class="content_wrap">
                
                <div class="content1_container">
                    <div class="content1_1" >고객센터</div>
                </div>
                <div class="content2_container" id="chatroom">
                    <div class="content2_container_padding">

                    </div>
                </div>
                <div class="content3_container">
                    <input type="text" class="content3_1" id="message" name="message" placeholder="전송할 메세지를 입력해주세요.">
                    <button class="green green1" id="send">전송</button>
                </div>

            </div>
        </section>
    </div>
<div th:include="common/footer.html"></div>
<!--<script th:src="@{/js/personal/mypage/serviceCenter.js}"></script>-->
<script>

    var nickname = '[[${userName}]]';
    var webSocket;
    var roomId = '[[${room.id}]]';


    // /* 닉네임 입력 후 참가 */
    // document.getElementById("join").addEventListener("click",function(){
    //     nickname = document.getElementById("nickname").value;
    //     document.getElementById("nickname").style.display = "none";
    //     document.getElementById("join").style.display="none";
    //     /* 웹소켓 연결 */
    //
    // })

    connect();
    /* 웹소켓 연결 */
    function connect(){
        /* 웹소켓 객체 */
        webSocket = new WebSocket("ws://localhost:8800/multi-chat");
        /* 연결 되었을 때, 메세지가 왔을 때, 닫혔을 때에 대한 이벤트 핸들러 */
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
        webSocket.onmessage = onMessage;

        // webSocket2 = new WebSocket("ws://127.0.0.1:8800/multi-chat");
        // /* 연결 되었을 때, 메세지가 왔을 때, 닫혔을 때에 대한 이벤트 핸들러 */
        // webSocket2.onopen = onOpen;
        // webSocket2.onclose = onClose;
        // webSocket2.onmessage = onMessage;
    }
    /* 웹 소켓 연결 되었을 떄*/
    function onOpen(){
        /* JSON 형식으로 데이터 전송 */
        webSocket.send(JSON.stringify({chatRoomId : roomId, messageType:'JOIN',sender:nickname}));
    }

    // /* 나가기 버튼을 눌렀을 때 */
    // document.getElementById("exit").addEventListener("click",function(){
    //     disconnect();
    // })

    /* 문서, 리소스가 언로드 되기 직전에 발생하는 이벤트 */
    window.onbeforeunload = function(){
        disconnect();
    }



    /* 연결 끊기 */
    function disconnect(){
        if(webSocket) {
            /* JSON 형식으로 데이터 전송 */
            webSocket.send(JSON.stringify({chatRoomId: roomId, messageType: 'LEAVE', sender: nickname}));
            webSocket.close();
        } else{
        //    접속하지 않고 채팅방에서 나ㅏㄱ기를 클릭했을 경우 방 목록으로
            onClose();
        }
    }

    /* 웹 소켓 연결 닫혔을 떄*/
    function onClose(){
        // location.href='/room/list';
        history.go(-1);
    }


    /* 메세지 전송 버튼 누를 시 */
    document.getElementById("send").addEventListener("click",function(){
        send();
    });

    /* 메세지 발송 */
    function send(){
        var msg = document.getElementById("message").value;
        webSocket.send(JSON.stringify({chatRoomId : roomId,
            messageType:'CHAT',sender:nickname, message : msg}));
        document.getElementById("message").value="";
    }


    /* 웹 소켓 메세지 왔을 떄*/
    function onMessage(e){
        var data2 = e.data;
        var strArray = data2.split("|");
        var host = strArray[0].substr(1, strArray[0].indexOf(":")-1);

        var data = e.data.replace(/\"/g,'');
        console.log(e);
        console.log(data);

        var whoSendMessage = e.data.substr(0,4);

        // if(whoSendMessage === ck_host){
        if(whoSendMessage === "고객센터"){
            document.getElementById("chatroom").innerHTML += "<div class='content2_container_padding'>"
                + "<div class='content2_beginWord'>"
                + data + "</div></div>";
        } else{
            document.getElementById("chatroom").innerHTML += "<div class='content2_container_padding'>"
                + "<div class='content2_beginWord2'>"
                + data + "</div></div>";
        }

    }



</script>
</body>

</html>